openapi: 3.0.3
info:
  title: LeadSquared Async APIs
  version: 1.0.0
  description: Generated by postman_to_openapi 1.0.0
servers:
- description: Singapore
  url: https://asyncapi.leadsquared.com/
- description: United States
  url: https://asyncapi-us11.leadsquared.com/
- description: India Mumbai
  url: https://asyncapi-in21.leadsquared.com/
- description: India Hyderabad
  url: https://asyncapi-in22.leadsquared.com/
- description: Ireland
  url: https://asyncapi-ir31.leadsquared.com/
- description: Canada
  url: https://asyncapi-ca12.leadsquared.com/
- description: Dubai
  url: https://asyncapi-me61.leadsquared.com/
tags:
- name: LeadSquared Async
x-tagGroups:
- name: LeadSquared Async APIs > LeadSquared Async
  tags:
  - LeadSquared Async
paths:
  /lead/capture:
    post:
      summary: Capture Leads (Async)
      operationId: capture_leads_async
      tags:
      - LeadSquared Async
      responses:
        '200':
          description: Update an existing Lead
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                    description: A message confirming if the request was accepted
                      successfully.
                  RequestID:
                    type: string
                    description: A unique identifier assigned to the submitted request.
                      Use this ID to track or check the status of the request.
              example:
                Status: Request accepted. Please use below request id to check the
                  status
                RequestID: 96fe5d59-6e86-49be-8ead-f023208cad00
      description: "Captures leads from all sources.\n\n**Note:**\n\n- Take a look\
        \ at [synchronous Capture Leads](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/iiy0bk3/capture-leads?action=share&source=copy-link&creator=39502170&ctx=documentation)\
        \ API for API funcationality and documentation on the payload.\n    \n- This\
        \ API returns a `RequestId` parameter. This must be passed in the [Status](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/4j18ysc/capture-leads-status-api?action=share&source=copy-link&creator=39502170&ctx=documentation)\
        \ API to get the status of the request.\n    \n- To get metrics for this Async\
        \ API, see [Get Capture Leads Metrics API](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/3winrhs/get-capture-leads-metrics?action=share&source=copy-link&creator=39502170&ctx=documentation)."
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  Attribute:
                    type: string
                    description: The schema name of the lead fields you want to update.
                      To retrieve the schema name use the Get Metadata API.
                  Value:
                    type: string
                    description: The new value of the lead field.
                required:
                - Attribute
                - Value
            example:
            - Attribute: ProspectID
              Value: 45b5fded-e696-45a6-9fbb-c6af6178229e
            - Attribute: FirstName
              Value: Bim
            - Attribute: LastName
              Value: Enders
            - Attribute: EmailAddress
              Value: bim.enders@lsq.com
            - Attribute: Phone
              Value: '98347532912'
            - Attribute: SearchBy
              Value: Phone
      security:
      - APIKey: []
        AccessKey: []
        SecretKey: []
  /lead/status:
    get:
      summary: Capture Leads Status API
      operationId: capture_leads_status_api
      tags:
      - LeadSquared Async
      responses:
        '200':
          description: New Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  RequestId:
                    type: string
                    description: ID of the request.
                  TaskStatus:
                    type: object
                    properties:
                      TaskType:
                        type: string
                        description: The task type related to the request (for example,
                          "Lead Capture").
                      Status:
                        type: string
                        description: Possible values are "In-Queue", "FAILURE", "ERROR",
                          or "Success".
                      StatusReason:
                        type: string
                        description: Provides the reason for the status. If successful,
                          "Request was successfully completed" is returned; otherwise,
                          the error reason is returned.
                      TaskCurrentStep:
                        type: string
                        nullable: true
                        description: The current step the request is in.
                      TaskLastStep:
                        type: string
                        description: The previous step completed by the request.
                      RequestBody:
                        type: string
                        description: The body passed in the Async API request.
                      Message:
                        type: string
                        description: If successful, the response data for the original
                          API request is returned; otherwise, null is returned.
              example:
                RequestId: 96fe5d59-6e86-49be-8ead-f023208cad00
                TaskStatus:
                  TaskType: Lead Capture
                  Status: Success
                  StatusReason: Request was successfully completed
                  TaskCurrentStep: null
                  TaskLastStep: In-Process-Queue
                  RequestBody: "[\r\n    {\r\n        \"Attribute\": \"FirstName\"\
                    ,\r\n        \"Value\": \"Diana\"\r\n    },\r\n    {\r\n     \
                    \   \"Attribute\": \"LastName\",\r\n        \"Value\": \"White\"\
                    \r\n    },\r\n    {\r\n        \"Attribute\": \"EmailAddress\"\
                    ,\r\n        \"Value\": \"diana.white@example.com\"\r\n    },\r\
                    \n    {\r\n        \"Attribute\": \"Phone\",\r\n        \"Value\"\
                    : \"9834753555\"\r\n    },\r\n    {\r\n        \"Attribute\":\
                    \ \"ProspectID\",\r\n        \"Value\": \"d1c4fa7b-f191-11ee-9566-020f15161885\"\
                    \r\n    },\r\n    {\r\n        \"Attribute\": \"SearchBy\",\r\n\
                    \        \"Value\": \"Email\"\r\n    }\r\n]"
                  Message: '{"Status":"Success","Message":{"Id":"bebf73eb-5bce-415b-aa91-8b428472f3c8","RelatedId":"d1c4fa7b-f191-11ee-9566-020f15161885","IsCreated":false}}'
      description: 'Returns the status of the [async lead capture](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/mmzrfqx/capture-leads-async?action=share&source=copy-link&creator=39502170&ctx=documentation)
        request.


        ## Response Parameters


        | **Parameter** | **Description** | **Data Type** |

        | --- | --- | --- |

        | `RequestId` | ID of the request. | `String` |

        | `TaskType` | The task type related to the request. For example, “Lead Capture”.
        | `String` |

        | `Status` | Returned values are “In-Queue”, “FAILURE”, “ERROR”, “Success”.
        | `String` |

        | `StatusReason` | Text explaining the reason for the above status. If “Success”,
        then “Request was successfully completed” is returned; otherwise, error reason
        is returned. | `String` |

        | `TaskCurrentStep` | Current step the request is in. | `Enum` |

        | `TaskLastStep` | Previous step the request completed. | `Enum` |

        | `RequestBody` | The body that was passed in the Async API request. | `Object`
        |

        | `Message` | If successful, response data for the original API request is
        returned; otherwise null is returned. | `Object` |'
      parameters:
      - name: RequestID
        in: query
        required: true
        schema:
          type: string
        example: <string>
        description: 'Pass the RequestId value returned by the Capture Leads (Async)
          API. '
  /lead/metrics:
    get:
      summary: Get Capture Leads Metrics
      operationId: get_capture_leads_metrics
      tags:
      - LeadSquared Async
      responses:
        '200':
          description: Get Capture Leads Metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  PendingMessages:
                    type: integer
                    description: The approximate number of pending requests in the
                      queue.
                  MaxDelayInSeconds:
                    type: integer
                    description: The maximum delay (in seconds) for processing all
                      requests in the queue.
                  ProcessingRatePerMinute:
                    type: number
                    description: Number of requests being processed per minute (for
                      the previous 10 mins).
              example:
                PendingMessages: 1
                MaxDelayInSeconds: 0
                ProcessingRatePerMinute: 24.8
      description: "Returns the following metrics for the [Capture Leads Async API](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/mmzrfqx/capture-leads-async?action=share&source=copy-link&creator=39502170&ctx=documentation) \
        \ –\n\n- `PendingMessages` – The approximate number of pending requests in\
        \ the queue.\n    \n- `MaxDelayInSeconds` – The maximum delay (in seconds)\
        \ for processing all requests in the queue.\n    \n- `ProcessingRatePerMinute`\
        \ – Number of requests being processed per minute (for the previous 10 mins)."
  /lead/update:
    post:
      summary: Update a Lead (Async)
      operationId: update_a_lead_async
      tags:
      - LeadSquared Async
      responses:
        '200':
          description: New Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                    description: A message confirming if the request was accepted
                      successfully.
                  RequestID:
                    type: string
                    description: A unique identifier assigned to the submitted request.
                      Use this ID to track or check the status of the request.
              example:
                Status: Request accepted. Please use below request id to check the
                  status
                RequestID: 2b007bef-a9e9-4a89-8af1-7fd2ea2b8ad2
      description: "Updates an existing lead in your account.\n\n**Note:**\n\n- Take\
        \ a look at [synchronous Update a Lead API](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/sab2t0p/update-a-lead?action=share&source=copy-link&creator=39502170&ctx=documentation)\
        \ for funcationality of the API and documentation on the payload.\n    \n\
        - This API returns a `RequestId` parameter in the response. This must be passed\
        \ in the [Status API](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/09hi4cm/update-a-lead-status-api?action=share&source=copy-link&creator=39502170&ctx=documentation)\
        \ to get the status of the request.\n    \n- To get metrics for this Async\
        \ API, see [Get Update Lead Metrics API](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/wm0x1cc/get-update-lead-metrics?action=share&source=copy-link&creator=39502170&ctx=documentation)."
      parameters:
      - name: leadId
        in: query
        required: true
        schema:
          type: string
        example: <string>
        description: 'Unique Id of the lead. '
      - name: postUpdatedLead
        in: query
        required: false
        schema:
          type: string
        example: <boolean>
        description: 'If you have configured automation, webhooks or rules & notifications
          based on lead Update, they won’t trigger by default if a lead is updated
          via this API. If you want them to trigger, pass an additional parameter
          “postUpdatedLead=true”. '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  Attribute:
                    type: string
                    description: The schema name of the lead fields you want to update.
                      To retrieve the schema name use the Get Metadata API.
                  Value:
                    type: string
                    description: The new value of the lead field.
                required:
                - Attribute
                - Value
            example:
            - Attribute: Phone
              Value: '9732172291'
            - Attribute: mx_City
              Value: London
      security:
      - APIKey: []
        AccessKey: []
        SecretKey: []
  /lead/update/status:
    get:
      summary: Update a Lead Status API
      operationId: update_a_lead_status_api
      tags:
      - LeadSquared Async
      responses:
        '200':
          description: New Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  RequestId:
                    type: string
                    description: ID of the request.
                  TaskStatus:
                    type: object
                    properties:
                      TaskType:
                        type: string
                        description: The task type related to the request (for example,
                          "Lead Update").
                      Status:
                        type: string
                        description: Possible values are "In-Queue", "FAILURE", "ERROR",
                          or "Success".
                      StatusReason:
                        type: string
                        description: Provides the reason for the status. If successful,
                          "Request was successfully completed" is returned; otherwise,
                          the error reason is returned.
                      TaskCurrentStep:
                        type: string
                        nullable: true
                        description: The current step the request is in.
                      TaskLastStep:
                        type: string
                        description: The previous step completed by the request.
                      RequestBody:
                        type: string
                        description: The body passed in the Async API request.
                      Message:
                        type: string
                        description: If successful, the response data for the original
                          API request is returned; otherwise, null is returned.
              example:
                RequestId: 2b007bef-a9e9-4a89-8af1-7fd2ea2b8ad2
                TaskStatus:
                  TaskType: Lead Update
                  Status: Success
                  StatusReason: Request was successfully completed
                  TaskCurrentStep: null
                  TaskLastStep: In-Process-Queue
                  RequestBody: "[\r\n    {\r\n        \"Attribute\": \"Phone\",\r\n\
                    \        \"Value\": \"9732172291\"\r\n    },\r\n    {\r\n    \
                    \    \"Attribute\": \"mx_City\",\r\n        \"Value\": \"London\"\
                    \r\n    }\r\n]\n"
                  Message: '{"Status":"Success","Message":{"AffectedRows":1}}'
      description: 'Returns the status of the [async lead update](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/jprzz0s/update-a-lead-async?action=share&source=copy-link&creator=39502170&ctx=documentation)
        request.


        ## Response Parameters


        | **Parameter** | **Description** | **Data Type** |

        | --- | --- | --- |

        | `RequestId` | ID of the request. | `String` |

        | `TaskType` | The task type related to the request. For example, “Lead Update”.
        | `String` |

        | `Status` | Returned values are “In-Queue”, “FAILURE”, “ERROR”, “Success”.
        | `String` |

        | `StatusReason` | Text explaining the reason for the above status. If “Success”,
        then “Request was successfully completed” is returned; otherwise, error reason
        is returned. | `String` |

        | `TaskCurrentStep` | Current step the request is in. | `Enum` |

        | `TaskLastStep` | Previous step the request completed. | `Enum` |

        | `RequestBody` | The body that was passed in the Async API request. | `Object`
        |

        | `Message` | If successful, response data for the original API request is
        returned; otherwise null is returned. | `Object` |'
      parameters:
      - name: RequestID
        in: query
        required: true
        schema:
          type: string
        example: <string>
        description: Pass the RequestId value returned by the Update a Lead (Async)
          API.
  /lead/update/metrics:
    get:
      summary: Get Update Lead Metrics
      operationId: get_update_lead_metrics
      tags:
      - LeadSquared Async
      responses:
        '200':
          description: New Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  PendingMessages:
                    type: integer
                    description: The approximate number of pending requests in the
                      queue.
                  MaxDelayInSeconds:
                    type: integer
                    description: The maximum delay (in seconds) for processing all
                      requests in the queue.
                  ProcessingRatePerMinute:
                    type: number
                    description: Number of requests being processed per minute (for
                      the previous 10 mins).
              example:
                PendingMessages: 1
                MaxDelayInSeconds: 0
                ProcessingRatePerMinute: 24.3
      description: "Returns the following metrics for the [Update a Lead (Async) API](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/jprzz0s/update-a-lead-async?action=share&source=copy-link&creator=39502170&ctx=documentation)\
        \  [&nbsp;](https://apidocs.leadsquared.com/capture-leads-async/)–\n\n- `PendingMessages`\
        \ – The approximate number of pending requests in the queue.\n    \n- `MaxDelayInSeconds`\
        \ – The maximum delay (in seconds) for processing all requests in the queue.\n\
        \    \n- `ProcessingRatePerMinute` – Number of requests being processed per\
        \ minute (for the previous 10 mins)."
  /activity/create:
    post:
      summary: Post an Activity on a Lead (Async)
      operationId: post_an_activity_on_a_lead_async
      tags:
      - LeadSquared Async
      responses:
        '200':
          description: New Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                    description: A message confirming if the request was accepted
                      successfully.
                  RequestID:
                    type: string
                    description: A unique identifier assigned to the submitted request.
                      Use this ID to track or check the status of the request.
              example:
                Status: Request accepted. Please use below request id to check the
                  status
                RequestID: 3977a338-7896-4370-a286-417476a5380e
      description: "Posts an activity on a lead.\n\n**Note:**\n\n- Take a look at\
        \ [synchronous Post Activity on Lead API](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/xcg7tdn/post-an-activity-on-a-lead?action=share&source=copy-link&creator=39502170&ctx=documentation)\
        \ for the functioanlity of the API and documentation on the payload.\n   \
        \ \n- This API returns a `RequestId` parameter in the response. This must\
        \ be passed in the [Status API](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/wsaq3mp/post-an-activity-on-a-lead-status-api?action=share&source=copy-link&creator=39502170&ctx=documentation)\
        \ to get the status of the request.\n    \n- To get metrics for this Async\
        \ API, see [Get Post Activity on Lead Metrics API](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/bubv01v/get-post-activity-on-lead-metrics?action=share&source=copy-link&creator=39502170&ctx=documentation)."
      parameters:
      - name: accessKey
        in: query
        required: true
        schema:
          type: string
        example: '{{AccessKey}}'
        description: The `accessKey` can be obtained on your LeadSquared dashboard.
          Navigate to **My Account>Settings>API and Webhooks section**.
      - name: secretKey
        in: query
        required: true
        schema:
          type: string
        example: '{{SecretKey}}'
        description: The secretKey can be obtained on your LeadSquared dashboard.
          Navigate to **My Account>Settings>API and Webhooks section**.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                RelatedProspectId:
                  type: string
                  description: Id (`ProspectId`) of the lead you want to post the
                    activity on.
                ActivityEvent:
                  type: integer
                  description: Activity event code.
                ActivityNote:
                  type: string
                  description: Activity note.
                ProcessFilesAsync:
                  type: boolean
                ActivityDateTime:
                  type: string
                  description: Activity date and time in `yyyy-mm-dd hh:mm:ss` format.
                Fields:
                  type: array
                  items:
                    type: object
                    properties:
                      SchemaName:
                        type: string
                      Value:
                        type: string
                  description: "The activity fields you want to update. Pass the fields\
                    \ as attribute-value pairs, by mentioning the “Schema Names” and\
                    \ values.  \n  \nTo find the “Schema Names” to a custom activity,\
                    \ navigate to **My Profile>Settings>Leads>Activities and Scores>Custom\
                    \ Activities & Scores**. Against the activity type, click the\
                    \ edit icon, and then click Edit."
              required:
              - ActivityEvent
              - Fields
            example:
              RelatedProspectId: 6f2195dc-e36d-4074-9e2e-e40911c11c42
              ActivityEvent: 201
              ActivityNote: Payment
              ProcessFilesAsync: true
              ActivityDateTime: '2025-02-10 12:13:44'
              Fields:
              - SchemaName: mx_Custom_1
                Value: '20000'
              - SchemaName: mx_Custom_2
                Value: UPF35B1
              - SchemaName: mx_Custom_3
                Value: Rupees
      security:
      - APIKey: []
        AccessKey: []
        SecretKey: []
  /activity/create/status:
    get:
      summary: Post an Activity on a Lead Status API
      operationId: post_an_activity_on_a_lead_status_api
      tags:
      - LeadSquared Async
      responses:
        '200':
          description: New Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  RequestId:
                    type: string
                    description: ID of the request.
                  TaskStatus:
                    type: object
                    properties:
                      TaskType:
                        type: string
                        description: The task type related to the request (for example,
                          "Activity Create").
                      Status:
                        type: string
                        description: Possible values are "In-Queue", "FAILURE", "ERROR",
                          or "Success".
                      StatusReason:
                        type: string
                        description: Provides the reason for the status. If successful,
                          "Request was successfully completed" is returned; otherwise,
                          the error reason is returned.
                      TaskCurrentStep:
                        type: string
                        nullable: true
                        description: The current step the request is in.
                      TaskLastStep:
                        type: string
                        description: The previous step completed by the request.
                      RequestBody:
                        type: string
                        description: The body passed in the Async API request.
                      Message:
                        type: string
                        description: If successful, the response data for the original
                          API request is returned; otherwise, null is returned.
              example:
                RequestId: 3977a338-7896-4370-a286-417476a5380e
                TaskStatus:
                  TaskType: Activity Create
                  Status: Success
                  StatusReason: Request was successfully completed
                  TaskCurrentStep: null
                  TaskLastStep: In-Process-Queue
                  RequestBody: "{\r\n    \"RelatedProspectId\": \"6f2195dc-e36d-4074-9e2e-e40911c11c42\"\
                    ,\r\n    \"ActivityEvent\": 201,\r\n    \"ActivityNote\": \"Payment\"\
                    ,\r\n    \"ProcessFilesAsync\": true,\r\n    \"ActivityDateTime\"\
                    : \"2025-02-10 12:13:44\",\r\n    \"Fields\": [\r\n        {\r\
                    \n            \"SchemaName\": \"mx_Custom_1\",\r\n           \
                    \ \"Value\": \"20000\"\r\n        },\r\n        {\r\n        \
                    \    \"SchemaName\": \"mx_Custom_2\",\r\n            \"Value\"\
                    : \"UPF35B1\"\r\n        },\r\n        {\r\n            \"SchemaName\"\
                    : \"mx_Custom_3\",\r\n            \"Value\": \"Rupees\"\r\n  \
                    \      }\r\n    ]\r\n}"
                  Message: '{"Status":"Success","Message":{"Id":"9caf1345-9d4a-402b-9c1c-cb3e72e34da9","RelatedId":"6f2195dc-e36d-4074-9e2e-e40911c11c42"}}'
      description: 'Returns the status of the [async activity post request](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/xcg7tdn/post-an-activity-on-a-lead?action=share&source=copy-link&creator=39502170&ctx=documentation).


        ## Response Parameters


        | **Parameter** | **Description** | **Data Type** |

        | --- | --- | --- |

        | `RequestId` | ID of the request. | `String` |

        | `TaskType` | The task type related to the request. For example, “Activity
        Create”. | `String` |

        | `Status` | Returned values are “In-Queue”, “FAILURE”, “ERROR”, “Success”.
        | `String` |

        | `StatusReason` | Text explaining the reason for the above status. If “Success”,
        then “Request was successfully completed” is returned; otherwise, error reason
        is returned. | `String` |

        | `TaskCurrentStep` | Current step the request is in. | `Enum` |

        | `TaskLastStep` | Previous step the request completed. | `Enum` |

        | `RequestBody` | The body that was passed in the Async API request. | `Object`
        |

        | `Message` | If successful, response data for the original API request is
        returned; otherwise null is returned. | `Object` |'
      parameters:
      - name: RequestID
        in: query
        required: true
        schema:
          type: string
        example: <string>
        description: Pass the `RequestId` value returned by the Update a Lead (Async)
          API.
  /activity/create/metrics:
    get:
      summary: Get Post Activity on Lead Metrics
      operationId: get_post_activity_on_lead_metrics
      tags:
      - LeadSquared Async
      responses:
        '200':
          description: Get Post Activity on Lead Metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  PendingMessages:
                    type: integer
                    description: The approximate number of pending requests in the
                      queue.
                  MaxDelayInSeconds:
                    type: integer
                    description: The maximum delay (in seconds) for processing all
                      requests in the queue.
                  ProcessingRatePerMinute:
                    type: number
                    description: Number of requests being processed per minute (for
                      the previous 10 mins).
              example:
                PendingMessages: 0
                MaxDelayInSeconds: 0
                ProcessingRatePerMinute: 2.6
      description: "Returns the following metrics for the [Post an Activity on a Lead\
        \ (Async) API](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/xcg7tdn/post-an-activity-on-a-lead?action=share&source=copy-link&creator=39502170&ctx=documentation)\
        \  [&nbsp;](https://apidocs.leadsquared.com/capture-leads-async/)–\n\n- `PendingMessages`\
        \ – The approximate number of pending requests in the queue.\n    \n- `MaxDelayInSeconds`\
        \ – The maximum delay (in seconds) for processing all requests in the queue.\n\
        \    \n- `ProcessingRatePerMinute` – Number of requests being processed per\
        \ minute (for the previous 10 mins)."
  /activity/createcustom:
    post:
      summary: Create a Lead and Activity (Async)
      operationId: create_a_lead_and_activity_async
      tags:
      - LeadSquared Async
      responses:
        '200':
          description: Create a Lead and Activity (Async)
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                    description: A message confirming if the request was accepted
                      successfully.
                  RequestID:
                    type: string
                    description: A unique identifier assigned to the submitted request.
                      Use this ID to track or check the status of the request.
              example:
                Status: Request accepted. Please use below request id to check the
                  status
                RequestID: 81ed3bdf-7dc9-4234-ae30-03954e299782
      description: "Creates a new lead and activity. Functionality is the same as\
        \ the synchronous [Create a Lead and Activity API](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/zb96yup/create-a-lead-and-activity?action=share&source=copy-link&creator=39502170&ctx=documentation).\n\
        \nNote:\n\n- This API returns a `RequestId` parameter. This must be passed\
        \ in the [Status API](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/3h16eas/create-lead-and-activity-status-api?action=share&source=copy-link&creator=39502170&ctx=documentation)\
        \ to get the status of the request.\n    \n- To get metrics for this Async\
        \ API, see [Get Create Lead and Activity Metrics API](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/f7hjs1u/get-create-lead-and-activity-metrics?action=share&source=copy-link&creator=39502170&ctx=documentation)."
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                LeadDetails:
                  type: array
                  items:
                    type: object
                    properties:
                      Attribute:
                        type: string
                      Value:
                        type: string
                    required:
                    - Attribute
                    - Value
                  description: "Provide the lead fields using attribute-value pairs.\
                    \ You can use the SearchBy parameter to search for and update\
                    \ a particular lead based on email address, phone or unique fields\
                    \ in your account.  \n  \nFor custom field sets associated with\
                    \ the lead, you may pass an optional “Fields” array, containing\
                    \ attribute-value pairs for CFS fields. You must pass the schema\
                    \ name of the custom object fields in the attribute parameters."
                Activity:
                  type: object
                  properties:
                    ActivityEvent:
                      type: integer
                      description: The code of the activity. You can find activity
                        codes in your LeadSquared account settings or by calling the
                        Get List of Activity Types API.
                    ActivityNote:
                      type: string
                      description: The description or notes associated with the activity.
                    ActivityDateTime:
                      type: string
                      description: This is the date-time value of the activity you
                        want to post in UTC YYYY-MM-DD HH:MM:SS.
                    Fields:
                      type: array
                      items:
                        type: object
                        properties:
                          SchemaName:
                            type: string
                          Value:
                            type: string
                      description: "Pass attribute-value pairs for activity fields.\
                        \  \n  \nFor custom field sets associated with the activity,\
                        \ you may pass an optional Fields array, containing attribute-value\
                        \ pairs for CFS fields. You must pass the schema name of the\
                        \ custom object fields in the attribute parameters."
                  required:
                  - ActivityEvent
                  - Fields
              required:
              - LeadDetails
              - Activity
            example:
              LeadDetails:
              - Attribute: EmailAddress
                Value: Truuudy@lsqmy.com
              - Attribute: mx_City
                Value: Bangalore
              - Attribute: SearchBy
                Value: EmailAddress
              Activity:
                ActivityEvent: 161
                ActivityNote: Home Visit
                ActivityDateTime: '2025-02-11 13:13:44'
                Fields:
                - SchemaName: mx_Custom_1
                  Value: KYC
                - SchemaName: mx_Custom_3
                  Value: ''
                  Fields:
                  - SchemaName: mx_CustomObject_1
                    Value: Aadhar.jpg
                    DisplayName: ''
                    Fields: ''
                  - SchemaName: mx_CustomObject_2
                    Value: PAN.jpg
                    DisplayName: ''
                    Fields: ''
      security:
      - APIKey: []
        AccessKey: []
        SecretKey: []
  /activity/createcustom/status:
    get:
      summary: Create Lead and Activity Status API
      operationId: create_lead_and_activity_status_api
      tags:
      - LeadSquared Async
      responses:
        '200':
          description: New Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  RequestId:
                    type: string
                    description: ID of the request.
                  TaskStatus:
                    type: object
                    properties:
                      TaskType:
                        type: string
                        description: The task type related to the request (for example,
                          "Activity Create Custom").
                      Status:
                        type: string
                        description: The status of the task. Possible values are "Success"
                          or "Error".
                      StatusReason:
                        type: string
                        description: Provides the reason for the status. If successful,
                          "Request was successfully completed" is returned; otherwise,
                          the error reason is returned.
                      TaskCurrentStep:
                        type: string
                        nullable: true
                        description: The current step the request is in.
                      TaskLastStep:
                        type: string
                        description: The previous step completed by the request.
                      RequestBody:
                        type: string
                        description: The body passed in the Async API request.
                      Message:
                        type: string
                        description: If successful, the response data for the original
                          API request is returned; otherwise, null is returned.
              example:
                RequestId: 81ed3bdf-7dc9-4234-ae30-03954e299782
                TaskStatus:
                  TaskType: Activity Create Custom
                  Status: Success
                  StatusReason: Request was successfully completed
                  TaskCurrentStep: null
                  TaskLastStep: In-Process-Queue
                  RequestBody: "{\r\n    \"LeadDetails\": [\r\n        {\r\n     \
                    \       \"Attribute\": \"EmailAddress\",\r\n            \"Value\"\
                    : \"Truuudy@lsqmy.com\"\r\n        },\r\n        {\r\n       \
                    \     \"Attribute\": \"mx_City\",\r\n            \"Value\": \"\
                    Bangalore\"\r\n        },\r\n        {\r\n            \"Attribute\"\
                    : \"SearchBy\",\r\n            \"Value\": \"EmailAddress\"\r\n\
                    \        }\r\n    ],\r\n    \"Activity\": {\r\n        \"ActivityEvent\"\
                    : 161,\r\n        \"ActivityNote\": \"Home Visit\",\r\n      \
                    \  \"ActivityDateTime\": \"2025-02-11 13:13:44\",\r\n        \"\
                    Fields\": [\r\n            {\r\n                \"SchemaName\"\
                    : \"mx_Custom_1\",\r\n                \"Value\": \"KYC\"\r\n \
                    \           },\r\n            {\r\n                \"SchemaName\"\
                    : \"mx_Custom_3\",\r\n                \"Value\": \"\",\r\n   \
                    \             \"Fields\": [\r\n                    {\r\n     \
                    \                   \"SchemaName\": \"mx_CustomObject_1\",\r\n\
                    \                        \"Value\": \"Aadhar.jpg\",\r\n      \
                    \                  \"DisplayName\": \"\",\r\n                \
                    \        \"Fields\": \"\"\r\n                    },\r\n      \
                    \              {\r\n                        \"SchemaName\": \"\
                    mx_CustomObject_2\",\r\n                        \"Value\": \"\
                    PAN.jpg\",\r\n                        \"DisplayName\": \"\",\r\
                    \n                        \"Fields\": \"\"\r\n               \
                    \     }\r\n                ]\r\n            }\r\n        ]\r\n\
                    \    }\r\n}"
                  Message: '{"Status":"Success","Message":{"Id":"4f47ecb1-dc2b-47f0-ba2b-74d48e45ca71","RelatedId":"a57a5698-1c96-498c-a534-57d7a40f7c0a"}}'
      description: 'Returns the status of the [async lead and activity create request](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/yt2sr33/create-a-lead-and-activity-async?action=share&source=copy-link&creator=39502170&ctx=documentation).


        ## Response Parameters


        | **Parameter** | **Description** | **Data Type** |

        | --- | --- | --- |

        | `RequestId` | ID of the request. | `String` |

        | `TaskType` | The task type related to the request. For example, “Activity
        Create Custom”. | `String` |

        | `Status` | The status of the task. Returned values are “Success” or “Error”.
        | `String` |

        | `StatusReason` | Text explaining the reason for the above status. If “Success”,
        then “Request was successfully completed” is returned; otherwise, error reason
        is returned. | `String` |

        | `TaskCurrentStep` | Current step the request is in. | `Enum` |

        | `TaskLastStep` | Previous step the request completed. | `Enum` |

        | `RequestBody` | The body that was passed in the Async API request. | `Object`
        |

        | `Message` | If successful, response data for the original API request is
        returned; otherwise null is returned. | `Object` |'
      parameters:
      - name: RequestID
        in: query
        required: true
        schema:
          type: string
        example: <string>
        description: Pass the `RequestId` value returned by the Create Lead and Activity
          (Async) API.
  /activity/createcustom/metrics:
    get:
      summary: Get Create Lead and Activity Metrics
      operationId: get_create_lead_and_activity_metrics
      tags:
      - LeadSquared Async
      responses:
        '200':
          description: New Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  PendingMessages:
                    type: integer
                    description: The approximate number of pending requests in the
                      queue.
                  MaxDelayInSeconds:
                    type: integer
                    description: The maximum delay (in seconds) for processing all
                      requests in the queue.
                  ProcessingratePerMinute:
                    type: number
                    description: Number of requests being processed per minute (for
                      the previous 10 mins).
              example:
                PendingMessages: 1
                MaxDelayInSeconds: 0
                ProcessingratePerMinute: 24.8
      description: "Returns the following metrics for the [Create a Lead and Activity\
        \ (Async) API](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/yt2sr33/create-a-lead-and-activity-async?action=share&source=copy-link&creator=39502170&ctx=documentation)\
        \  [&nbsp;](https://apidocs.leadsquared.com/capture-leads-async/)–\n\n- `PendingMessages`\
        \ – The approximate number of pending requests in the queue.\n    \n- `MaxDelayInSeconds`\
        \ – The maximum delay (in seconds) for processing all requests in the queue.\n\
        \    \n- `ProcessingRatePerMinute` – Number of requests being processed per\
        \ minute (for the previous 10 mins)."
  /opportunity/capture:
    post:
      summary: Capture Opportunities (Async)
      operationId: capture_opportunities_async
      tags:
      - LeadSquared Async
      responses:
        '200':
          description: New Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                    description: A message confirming if the request was accepted
                      successfully.
                  RequestID:
                    type: string
                    description: A unique identifier assigned to the submitted request.
                      Use this ID to track or check the status of the request.
              example:
                Status: Request accepted. Please use below request id to check the
                  status
                RequestID: f3174219-aa1b-4f8e-944c-fefe669b2e99
      description: "Captures leads and opportunities in your LeadSquared account.\n\
        \n**Note:**\n\n- Take a look at [synchronous Capture Opportunities API](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/s6qk3z9/capture-opportunities?action=share&source=copy-link&creator=39502170&ctx=documentation)\
        \ for the functionality of the API and documentation on the payload.\n   \
        \ \n- This API returns a `RequestId` parameter. This must be passed in the\
        \ [Status API](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/gg80gty/capture-opportunities-status-api?action=share&source=copy-link&creator=39502170&ctx=documentation)\
        \ to get the status of the request.\n    \n- To get metrics for this Async\
        \ API, see [Get Capture Opportunities Metrics API](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/gg80gty/capture-opportunities-status-api?action=share&source=copy-link&creator=39502170&ctx=documentation)."
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                LeadDetails:
                  type: array
                  items:
                    type: object
                    properties:
                      Attribute:
                        type: string
                      Value:
                        type: string
                  description: "Array containing lead fields. These should be passed\
                    \ as attribute-value pairs.  \n  \n- You must pass at least 1\
                    \ unique field  \n  \n- It is mandatory to specify the SearchBy\
                    \ attribute in the JSON body.  \n  \n- If you pass ProspectID\
                    \ as the SearchBy criteria, pass an additional parameter `__UseUserDefinedGuid__`\
                    \ as `true`. This is useful if the GUID is generated from an external\
                    \ system.  \n  \n- Pass only unique fields here."
                Opportunity:
                  type: object
                  properties:
                    OpportunityEventCode:
                      type: integer
                      description: The opportunity event code.
                    UpdateEmptyFields:
                      type: boolean
                      description: If you pass the value as true, empty opportunity
                        fields in all opportunities passed will be updated with the
                        values present in the corresponding JSON fields.
                    OverwriteFields:
                      type: boolean
                      description: If you pass the value as true, the existing values
                        in all the opportunity fields passed in the JSON body will
                        be overwritten with the new values for duplicate opportunities.
                    DoNotPostDuplicateActivity:
                      type: boolean
                      description: If you pass the value as true, duplicate activities
                        will not get posted on the opportunity.
                    doNotChangeOwner:
                      type: boolean
                      description: If you pass the value as true, duplicate opportunities
                        that contain a new value in the Owner field are ignored, and
                        the opportunity owner remains the same.
                    OpportunityNote:
                      type: string
                      description: Notes (text) associated with the opportunity.
                    OpportunityDateTime:
                      type: string
                      description: Opportunity date and time is in the `yyyy-mm-dd
                        hh:mm:ss` format.
                    Fields:
                      type: array
                      items:
                        type: object
                        properties:
                          SchemaName:
                            type: string
                          Value:
                            type: string
                      description: Attribute-value pairs for the opportunity fields
                        you want to capture. You must pass the schema names of the
                        opportunity fields.
                  required:
                  - OpportunityEventCode
              required:
              - LeadDetails
            example:
              LeadDetails:
              - Attribute: SearchBy
                Value: EmailAddress
              - Attribute: EmailAddress
                Value: Sama@lsqq.in
              - Attribute: FirstName
                Value: Sam
              Opportunity:
                OpportunityEventCode: 12000
                UpdateEmptyFields: true
                OverwriteFields: false
                DoNotPostDuplicateActivity: true
                doNotChangeOwner: true
                OpportunityNote: test
                Fields:
                - SchemaName: Status
                  Value: Open
                - SchemaName: mx_Custom_2
                  Value: Need Analysis
                - SchemaName: Owner
                  Value: donaopp@mcn.christuniversity.in
                - SchemaName: mx_Custom_1
                  Value: Sam - Home Loan
                - SchemaName: mx_Custom_7
                  Value: 200,000
                - SchemaName: mx_Custom_9
                  Value: '2025-02-11 12:13:44'
                - SchemaName: mx_Custom_14
                  Value: ''
                  Fields:
                  - SchemaName: mx_CustomObject_1
                    Value: e11e192f.jpg
                  - SchemaName: mx_CustomObject_3
                    Value: 85d25e7e.png
      security:
      - APIKey: []
        AccessKey: []
        SecretKey: []
  /opportunity/capture/status:
    get:
      summary: Capture Opportunities Status API
      operationId: capture_opportunities_status_api
      tags:
      - LeadSquared Async
      responses:
        '200':
          description: New Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  RequestId:
                    type: string
                    description: ID of the request.
                  TaskStatus:
                    type: object
                    properties:
                      TaskType:
                        type: string
                        description: The task type related to the request (for example,
                          "Opportunity Capture").
                      Status:
                        type: string
                        description: The status of the task. Possible values are "Success"
                          or "Error".
                      StatusReason:
                        type: string
                        description: Provides the reason for the status. If successful,
                          "Request was successfully completed" is returned; otherwise,
                          the error reason is returned.
                      TaskCurrentStep:
                        type: string
                        nullable: true
                        description: The current step the request is in.
                      TaskLastStep:
                        type: string
                        description: The previous step completed by the request.
                      RequestBody:
                        type: string
                        description: The body passed in the Async API request.
                      Message:
                        type: string
                        description: If successful, the response data for the original
                          API request is returned; otherwise, null is returned.
              example:
                RequestId: f3174219-aa1b-4f8e-944c-fefe669b2e99
                TaskStatus:
                  TaskType: Opportunity Capture
                  Status: Success
                  StatusReason: Request was successfully completed
                  TaskCurrentStep: null
                  TaskLastStep: In-Process-Queue
                  RequestBody: "{\r\n    \"LeadDetails\": [\r\n        {\r\n     \
                    \       \"Attribute\": \"SearchBy\",\r\n            \"Value\"\
                    : \"EmailAddress\"\r\n        },\r\n        {\r\n            \"\
                    Attribute\": \"EmailAddress\",\r\n            \"Value\": \"Sama@lsqq.in\"\
                    \r\n        },\r\n        {\r\n            \"Attribute\": \"FirstName\"\
                    ,\r\n            \"Value\": \"Sam\"\r\n        }\r\n    ],\r\n\
                    \    \"Opportunity\": {\r\n        \"OpportunityEventCode\": 12000,\r\
                    \n        \"UpdateEmptyFields\": true,\r\n        \"OverwriteFields\"\
                    : false,\r\n        \"DoNotPostDuplicateActivity\": true,\r\n\
                    \        \"doNotChangeOwner\": true,\r\n        \"OpportunityNote\"\
                    : \"test\",\r\n        \"Fields\": [\r\n            {\r\n    \
                    \            \"SchemaName\": \"Status\",\r\n                \"\
                    Value\": \"Open\"\r\n            },\r\n            {\r\n     \
                    \           \"SchemaName\": \"mx_Custom_2\",\r\n             \
                    \   \"Value\": \"Need Analysis\"\r\n            },\r\n       \
                    \     {\r\n                \"SchemaName\": \"Owner\",\r\n    \
                    \            \"Value\": \"donaopp@mcn.christuniversity.in\"\r\n\
                    \            },\r\n            {\r\n                \"SchemaName\"\
                    : \"mx_Custom_1\",\r\n                \"Value\": \"Sam - Home\
                    \ Loan\"\r\n            },\r\n            {\r\n              \
                    \  \"SchemaName\": \"mx_Custom_7\",\r\n                \"Value\"\
                    : \"200,000\"\r\n            },\r\n            {\r\n         \
                    \       \"SchemaName\": \"mx_Custom_9\",\r\n                \"\
                    Value\": \"2025-02-11 12:13:44\"\r\n            },\r\n       \
                    \     {\r\n                \"SchemaName\": \"mx_Custom_14\",\r\
                    \n                \"Value\": \"\",\r\n                \"Fields\"\
                    : [\r\n                    {\r\n                        \"SchemaName\"\
                    : \"mx_CustomObject_1\",\r\n                        \"Value\"\
                    : \"e11e192f.jpg\"\r\n                    },\r\n             \
                    \       {\r\n                        \"SchemaName\": \"mx_CustomObject_3\"\
                    ,\r\n                        \"Value\": \"85d25e7e.png\"\r\n \
                    \                   }\r\n                ]\r\n            }\r\n\
                    \        ]\r\n    }\r\n}"
                  Message: '{"Status":1,"PrimaryAction":0,"SecondaryAction":0,"ExceptionType":"MXOpportunityCreationException","ExceptionMessage":"File
                    name ''e11e192f.jpg'' is not valid or no more available in temporary
                    location.","RequestId":null,"RelatedProspectId":null,"IsUnique":false,"CreatedOpportunityId":null,"ConflictedOpportunityId":null,"AdditionalDetails":null,"OverwriteFields":false,"UpdateEmptyFields":false,"DoNotPostDuplicateActivity":false,"DoNotChangeOwner":false}'
      description: 'Returns the status of the [async opportunity capture request](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/ca73p7r/capture-opportunities-async?action=share&source=copy-link&creator=39502170&ctx=documentation).


        ## Response Parameters


        | **Parameter** | **Description** | **Data Type** |

        | --- | --- | --- |

        | `RequestId` | ID of the request. | `String` |

        | `TaskType` | The task type related to the request. For example, “Opportunity
        Capture”. | `String` |

        | `Status` | The status of the task. Returned values are “Success” or “Error”.
        | `String` |

        | `StatusReason` | Text explaining the reason for the above status. If “Success”,
        then “Request was successfully completed” is returned; otherwise, error reason
        is returned. | `String` |

        | `TaskCurrentStep` | Current step the request is in. | `Enum` |

        | `TaskLastStep` | Previous step the request completed. | `Enum` |

        | `RequestBody` | The body that was passed in the Async API request. | `Object`
        |

        | `Message` | If successful, response data for the original API request is
        returned; otherwise null is returned. | `Object` |'
      parameters:
      - name: RequestID
        in: query
        required: true
        schema:
          type: string
        example: <string>
        description: Pass the RequestId value returned by the Capture Opportunities
          (Async) API.
  /opportunity/capture/metrics:
    get:
      summary: Get Capture Opportunities Metrics
      operationId: get_capture_opportunities_metrics
      tags:
      - LeadSquared Async
      responses:
        '200':
          description: New Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  PendingMessages:
                    type: integer
                    description: The approximate number of pending requests in the
                      queue.
                  MaxDelayInSeconds:
                    type: integer
                    description: The maximum delay (in seconds) for processing all
                      requests in the queue.
                  ProcessingratePerMinute:
                    type: number
                    description: Number of requests being processed per minute (for
                      the previous 10 mins).
              example:
                PendingMessages: 1
                MaxDelayInSeconds: 0
                ProcessingratePerMinute: 24.8
      description: "Returns the following metrics for the [Capture Opportunities (Async)\
        \ API](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/ca73p7r/capture-opportunities-async?action=share&source=copy-link&creator=39502170&ctx=documentation)\
        \  [&nbsp;](https://apidocs.leadsquared.com/capture-leads-async/)–\n\n- `PendingMessages`\
        \ – The approximate number of pending requests in the queue.\n    \n- `MaxDelayInSeconds`\
        \ – The maximum delay (in seconds) for processing all requests in the queue.\n\
        \    \n- `ProcessingRatePerMinute` – Number of requests being processed per\
        \ minute (for the previous 10 mins)."
  /opportunity/update:
    post:
      summary: Update an Opportunity (Async)
      operationId: update_an_opportunity_async
      tags:
      - LeadSquared Async
      responses:
        '200':
          description: Update an Opportunity (Async)
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                    description: A message confirming if the request was accepted
                      successfully.
                  RequestID:
                    type: string
                    description: A unique identifier assigned to the submitted request.
                      Use this ID to track or check the status of the request.
              example:
                Status: Request accepted. Please use below request id to check the
                  status
                RequestID: baf8b843-211b-4678-82c5-af28906d4998
      description: "Updates an existing opportunity in your account.\n\nNote:\n\n\
        - Take a look at [synchronous Update an Opportunity API](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/a9ce4kq/update-an-opportunity?action=share&source=copy-link&creator=39502170&ctx=documentation)\
        \ for the functionality of the API and documentation on the payload.\n   \
        \ \n- This API returns a `RequestId` parameter in the response. This must\
        \ be passed in the [Status API](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/uffvu6j/update-an-opportunity-status-api?action=share&source=copy-link&creator=39502170&ctx=documentation)\
        \ to get the status of the request.\n    \n- To get metrics for this Async\
        \ API, see [Get Update Opportunity Metrics API](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/owg5njc/get-update-opportunity-metrics?action=share&source=copy-link&creator=39502170&ctx=documentation)."
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ProspectOpportunityId:
                  type: string
                  description: Opportunity Id of the opportunity you want to update.
                    You can get the `OpportunityId` for an opportunity by referring
                    to Get Opportunity by Lead Id.
                OpportunityNote:
                  type: string
                  description: Notes associated with the Opportunity.
                Fields:
                  type: array
                  items:
                    type: object
                    properties:
                      SchemaName:
                        type: string
                      Value:
                        type: string
                  description: "The opportunity fields you want to update. Pass the\
                    \ fields as attribute-value pairs, specify the Schema Names and\
                    \ the values.  \n  \nTo find the Schema Names, navigate to **My\
                    \ Profile>Settings>Opportunities>Opportunity Types**. Against\
                    \ the opportunity type, click the settings wheel icon icon, and\
                    \ then click Edit."
              required:
              - ProspectOpportunityId
              - Fields
            example:
              ProspectOpportunityId: 25b98314-c576-4145-bd97-d6e443f3de50
              OpportunityNote: Update note
              Fields:
              - SchemaName: mx_Custom_7
                Value: 201,000
              - SchemaName: mx_Custom_9
                Value: '2025-02-11 12:13:44'
      security:
      - APIKey: []
        AccessKey: []
        SecretKey: []
  /opportunity/update/status:
    get:
      summary: Update an Opportunity Status API
      operationId: update_an_opportunity_status_api
      tags:
      - LeadSquared Async
      responses:
        '200':
          description: New Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  RequestId:
                    type: string
                    description: ID of the request.
                  TaskStatus:
                    type: object
                    properties:
                      TaskType:
                        type: string
                        description: The task type related to the request (for example,
                          "Opportunity Update").
                      Status:
                        type: string
                        description: The status of the task. Possible values are "Success"
                          or "Error".
                      StatusReason:
                        type: string
                        description: Provides the reason for the status. If successful,
                          "Request was successfully completed" is returned; otherwise,
                          the error reason is returned.
                      TaskCurrentStep:
                        type: string
                        nullable: true
                        description: The current step the request is in.
                      TaskLastStep:
                        type: string
                        description: The previous step completed by the request.
                      RequestBody:
                        type: string
                        description: The body passed in the Async API request.
                      Message:
                        type: string
                        description: If successful, the response data for the original
                          API request is returned; otherwise, null is returned.
              example:
                RequestId: baf8b843-211b-4678-82c5-af28906d4998
                TaskStatus:
                  TaskType: Opportunity Update
                  Status: Success
                  StatusReason: Request was successfully completed
                  TaskCurrentStep: null
                  TaskLastStep: In-Process-Queue
                  RequestBody: "{\r\n    \"ProspectOpportunityId\": \"25b98314-c576-4145-bd97-d6e443f3de50\"\
                    ,\r\n    \"OpportunityNote\": \"Update note\",\r\n    \"Fields\"\
                    : [\r\n        {\r\n            \"SchemaName\": \"mx_Custom_7\"\
                    ,\r\n            \"Value\": \"201,000\"\r\n        },\r\n    \
                    \    {\r\n            \"SchemaName\": \"mx_Custom_9\",\r\n   \
                    \         \"Value\": \"2025-02-11 12:13:44\"\r\n        }\r\n\
                    \    ]\r\n}"
                  Message: '{"Status":"Success","Message":{"Id":"25b98314-c576-4145-bd97-d6e443f3de50"}}'
      description: 'Returns the status of the [async opportunity update request](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/mu7ohzu/update-an-opportunity-async?action=share&source=copy-link&creator=39502170&ctx=documentation).


        ## Response Parameters


        | **Parameter** | **Description** | **Data Type** |

        | --- | --- | --- |

        | `RequestId` | ID of the request. | `String` |

        | `TaskType` | The task type related to the request. For example, “Opportunity
        Update”. | `String` |

        | `Status` | The status of the task. Returned values are “Success” or “Error”.
        | `String` |

        | `StatusReason` | Text explaining the reason for the above status. If “Success”,
        then “Request was successfully completed” is returned; otherwise, error reason
        is returned. | `String` |

        | `TaskCurrentStep` | Current step the request is in. | `Enum` |

        | `TaskLastStep` | Previous step the request completed. | `Enum` |

        | `RequestBody` | The body that was passed in the Async API request. | `Object`
        |

        | `Message` | If successful, response data for the original API request is
        returned; otherwise null is returned. | `Object` |'
      parameters:
      - name: RequestID
        in: query
        required: true
        schema:
          type: string
        example: <string>
        description: Pass the RequestId value returned by the Update an Opportunity
          (Async) API.
      x-readme: {}
  /opportunity/update/metrics:
    get:
      summary: Get Update Opportunity Metrics
      operationId: get_update_opportunity_metrics
      tags:
      - LeadSquared Async
      responses:
        '200':
          description: New Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  PendingMessages:
                    type: integer
                    description: The approximate number of pending requests in the
                      queue.
                  MaxDelayInSeconds:
                    type: integer
                    description: The maximum delay (in seconds) for processing all
                      requests in the queue.
                  ProcessingRatePerMinute:
                    type: number
                    description: Number of requests being processed per minute (for
                      the previous 10 mins).
              example:
                PendingMessages: 0
                MaxDelayInSeconds: 0
                ProcessingRatePerMinute: 0.2
      description: "Returns the following metrics for the [Update an Opportunity (Async)\
        \ API](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/mu7ohzu/update-an-opportunity-async?action=share&source=copy-link&creator=39502170&ctx=documentation)\
        \  [&nbsp;](https://apidocs.leadsquared.com/capture-leads-async/)–\n\n- `PendingMessages`\
        \ – The approximate number of pending requests in the queue.\n    \n- `MaxDelayInSeconds`\
        \ – The maximum delay (in seconds) for processing all requests in the queue.\n\
        \    \n- `ProcessingRatePerMinute` – Number of requests being processed per\
        \ minute (for the previous 10 mins)."
  /1/api/telephony/logcallcomplete/245084a3370939011a636a2d0ee:
    post:
      summary: Post a Call Log (Async)
      operationId: post_a_call_log_async
      tags:
      - LeadSquared Async
      responses:
        '200':
          description: New Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                    description: A message confirming that the request was accepted
                      successfully.
                  RequestID:
                    type: string
                    description: A unique identifier assigned to the submitted request.
                      Use this ID to track or check the status of the request.
              example:
                Status: Request accepted. Please use below request id to check the
                  status
                RequestID: 1b14ee89-881c-4a2a-8e0e-0d45310f8a70
      description: "Posts a call log to LeadSquared.\n\nThe API URL and post data\
        \ differ based on the installed LeadSquared telephony connector (Universal\
        \ Telephony Connector, Generic Telephony Connector, etc.) and the telephony\
        \ provider (Ozonetel, Super Receptionist, etc.).\n\n**Note:**\n\n- The [Exotel\
        \ telephony connector](https://in21.leadsquared.com/Apps/ConnectorDetail?connectorId=331fe5dd-ce0d-11e5-a199-22000aa4133b)\
        \ is not supported.\n    \n- We recommend integrating with LeadSquared through\
        \ the [Universal Telephony Connector](https://help.leadsquared.com/universal-connector/).\n\
        \    \n- The functionality is the same as the synchronous Call Log APIs.\n\
        \    \n- This API returns a `RequestId` parameter. This must be passed in\
        \ the [Status API](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/uxipkwx/post-a-call-log-status-api?action=share&source=copy-link&creator=39502170&ctx=documentation)\
        \ to get the status of the request.\n    \n- To get metrics for this Async\
        \ API, see [Get Post Call Log Metrics API](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/mw1zayw/get-post-call-log-metrics?action=share&source=copy-link&creator=39502170&ctx=documentation).\n\
        \    \n\nTo get the API URL and post data –\n\n1. In your account, navigate\
        \ to **Apps>Apps Marketplace**.\n    \n2. Search for and select the connector\
        \ (e.g., Universal Telephony Connector).\n    \n3. Click **Settings>Configure.**\n\
        \    \n4. On the configuration pop-up, click **Call Log API**.\n    \n\n<img\
        \ src=\"https://content.pstmn.io/6c69a289-566f-4823-b74b-92f8dbe07c9e/Y2FsbCBsb2cgYXBpLnBuZw==\"\
        >\n\n> **Note:** API host is different, see [Async API](https://apidocs.leadsquared.com/async-api/).\
        \ For example, if the current host is `https://telephony-in21.leadsquared.com`,\
        \ for Async, the host will be `https://asyncapi-in21.leadsquared.com`."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                SourceNumber:
                  type: string
                  description: This is the source telephone number. In case of an
                    inbound call, the source phone number is the lead’s phone number.
                    In case of an outbound call, the source is the agent phone number.
                CallerSource:
                  type: string
                  description: "This parameter allows you to pass the caller source.\
                    \ For example, if the caller came through a newspaper advertisement,\
                    \ enter “Newspaper Advertisement” here.  \n\nYou can pass any\
                    \ string of maximum 50 characters.  \n\n> Note: If a new lead\
                    \ is being created through the call (lead Id is not passed), the\
                    \ caller source will update the lead source with the value that\
                    \ you pass here."
                DestinationNumber:
                  type: string
                  description: This is the destination telephone number. In case of
                    an inbound call, the destination phone number is the agent’s phone
                    number. In case of an outbound call, the destination number is
                    the Lead’s phone number.
                DisplayNumber:
                  type: string
                  description: This is the IVR number.
                StartTime:
                  type: string
                  description: The start time of the conversation in UTC (`YYYY-MM-DD
                    HH:MM:SS`)
                EndTime:
                  type: string
                  description: The end time of the conversation in UTC (`YYYY-MM-DD
                    HH:MM:SS`).
                CallDuration:
                  type: string
                  description: This is the duration of the call in second(s).
                Status:
                  type: string
                  description: This is the call status. This can be `Answered`, `Missed`,
                    and so on.
                CallNotes:
                  type: string
                  description: Notes posted that are related to the call.
                ResourceURL:
                  type: string
                  description: URL of the resource where the call log is posted.
                Direction:
                  type: string
                  description: This is the direction of the call. This can be inbound
                    or outbound.
                CallSessionId:
                  type: string
                  description: This is the unique Id of the call session.
                AgentName:
                  type: string
                  description: The name of the agent who made/received the call.
                LeadId:
                  type: string
                  description: This is the unique Id of a lead.
                UserId:
                  type: string
                  description: This is the unique Id of the LeadSquared user you want
                    to associate to the Lead. Use the Get Users API under User Management
                    to retrieve this value.
              required:
              - SourceNumber
              - DestinationNumber
              - Direction
            example:
              SourceNumber: '9611795983'
              DestinationNumber: '9611795980'
              DisplayNumber: '9020897874'
              StartTime: '2025-02-11 18:26:38'
              EndTime: '2025-02-11 18:26:38'
              CallDuration: '12'
              Status: Answered
              CallNotes: Enquired about product
              ResourceURL: https://webhook.site/c4caabf8-4c89-4a61-b922-af0bbb12c17b
              Direction: Inbound
              CallSessionId: 80673309211440070000
              AgentName: Mica
  /1/api/telephony/logcallcomplete/status:
    get:
      summary: Post a Call Log Status API
      operationId: post_a_call_log_status_api
      tags:
      - LeadSquared Async
      responses:
        '200':
          description: Post a Call Log Status API
          content:
            application/json:
              schema:
                type: object
                properties:
                  RequestId:
                    type: string
                    description: ID of the request.
                  TaskStatus:
                    type: object
                    properties:
                      TaskType:
                        type: string
                        description: The task type related to the request (for example,
                          "Telephony-LogCall").
                      Status:
                        type: string
                        description: The status of the task. Possible values are "Success"
                          or "Error".
                      StatusReason:
                        type: string
                        description: Provides the reason for the status. If successful,
                          "Request was successfully completed" is returned; otherwise,
                          the error reason is returned.
                      TaskCurrentStep:
                        type: string
                        nullable: true
                        description: The current step the request is in.
                      TaskLastStep:
                        type: string
                        description: The previous step completed by the request.
                      RequestBody:
                        type: string
                        description: The body passed in the Async API request.
                      Message:
                        type: string
                        description: If successful, the response data for the original
                          API request is returned; otherwise, null is returned.
              example:
                RequestId: c697ffe7-3541-4c2d-8a9b-f77b7a501cd9
                TaskStatus:
                  TaskType: Telephony-LogCall
                  Status: Success
                  StatusReason: Request was successfully completed
                  TaskCurrentStep: null
                  TaskLastStep: In-Process-Queue
                  RequestBody: "{\r\n    \"SourceNumber\": \"9234844431\",\r\n   \
                    \ \"DestinationNumber\": \"9611993111\",\r\n    \"DisplayNumber\"\
                    : \"9020897874\",\r\n    \"StartTime\": \"2025-02-11 18:26:38\"\
                    ,\r\n    \"EndTime\": \"2025-02-11 18:26:38\",\r\n    \"CallDuration\"\
                    : \"12\",\r\n    \"Status\": \"Answered\",\r\n    \"CallNotes\"\
                    : \"Enquired about product\",\r\n    \"ResourceURL\": \"https://webhook.site/c4caabf8-4c89-4a61-b922-af0bbb12c17b\"\
                    ,\r\n    \"Direction\": \"outbound\",\r\n    \"CallSessionId\"\
                    : \"0806733092114222752145\"\r\n}"
                  Message: '{"Status":"Success","Message":"Phone Call Logged Successfully","ProspectActivityId":"7bddb588-e90c-11ef-a77e-0ac989580241","ProspectId":"a57a5698-1c96-498c-a534-57d7a40f7c0a"}'
      description: 'Returns the status of the [async post a call log request](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/dfyzj34/post-a-call-log-async?action=share&source=copy-link&creator=39502170&ctx=documentation).


        ## Response Parameters


        | **Parameter** | **Description** | **Data Type** |

        | --- | --- | --- |

        | `RequestId` | ID of the request. | `String` |

        | `TaskType` | The task type related to the request. For example, “Telephony-LogCall”.
        | `String` |

        | `Status` | The status of the task. Returned values are “Success” or “Error”.
        | `String` |

        | `StatusReason` | Text explaining the reason for the above status. If “Success”,
        then “Request was successfully completed” is returned; otherwise, error reason
        is returned. | `String` |

        | `TaskCurrentStep` | Current step the request is in. | `Enum` |

        | `TaskLastStep` | Previous step the request completed. | `Enum` |

        | `RequestBody` | The body that was passed in the Async API request. | `Object`
        |

        | `Message` | If successful, response data for the original API request is
        returned; otherwise null is returned. | `Object` |'
      parameters:
      - name: RequestID
        in: query
        required: true
        schema:
          type: string
        example: <string>
        description: Pass the RequestId value returned by the Call Log (Async) API.
  /1/api/telephony/logcallcomplete/metrics:
    get:
      summary: Get Post Call Log Metrics
      operationId: get_post_call_log_metrics
      tags:
      - LeadSquared Async
      responses:
        '200':
          description: New Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  PendingMessages:
                    type: integer
                    description: The approximate number of pending requests in the
                      queue.
                  MaxDelayInSeconds:
                    type: integer
                    description: The maximum delay (in seconds) for processing all
                      requests in the queue.
                  ProcessingratePerMinute:
                    type: number
                    description: Number of requests being processed per minute (for
                      the previous 10 mins).
              example:
                PendingMessages: 1
                MaxDelayInSeconds: 0
                ProcessingratePerMinute: 24.8
      description: "Returns the following metrics for the [Post a Call Log (Async)\
        \ API](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/dfyzj34/post-a-call-log-async?action=share&source=copy-link&creator=39502170&ctx=documentation)\
        \  [&nbsp;](https://apidocs.leadsquared.com/capture-leads-async/)–\n\n- `PendingMessages`\
        \ – The approximate number of pending requests in the queue.\n    \n- `MaxDelayInSeconds`\
        \ – The maximum delay (in seconds) for processing all requests in the queue.\n\
        \    \n- `ProcessingRatePerMinute` – Number of requests being processed per\
        \ minute (for the previous 10 mins)."
components:
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: 'The `APIKey` can be obtained on your LeadSquared dashboard. Navigate
        to **My Account>Settings>API and Webhooks>Async API** section. '
    AccessKey:
      type: apiKey
      in: query
      name: accessKey
      description: The `accessKey` can be obtained on your LeadSquared dashboard.
        Navigate to `My Account>Settings>API and Webhooks>API Access Keys` section.
    SecretKey:
      type: apiKey
      in: query
      name: secretKey
      description: 'The `secretKey` can be obtained on your LeadSquared dashboard.
        Navigate to My Account>Settings>API and Webhooks section>API Access Keys`. '
x-readme: {}
security:
- APIKey: []
