openapi: 3.0.3
info:
  title: LeadSquared Sales CRM v2 APIs
  version: 1.0.0
  description: Generated by postman_to_openapi 1.0.0
servers:
- description: Singapore
  url: https://api.leadsquared.com/v2/
- description: United States
  url: https://api-us11.leadsquared.com/v2/
- description: India Mumbai
  url: https://api-in21.leadsquared.com/v2/
- description: India Hyderabad
  url: https://api-in22.leadsquared.com/v2/
- description: Middle East
  url: https://api-me61.leadsquared.com/v2/
- description: Ireland
  url: https://api-ir31.leadsquared.com/v2/
- description: Canada
  url: https://api-ca12.leadsquared.com/v2/
tags:
- name: Account (Company) Management
- name: Account Activity Management
- name: Activity Management
- name: Custom Menus
- name: Custom Tabs & Actions
- name: Email Marketing
- name: Entity Sharing
- name: Lead Management
- name: List Management
- name: Opportunity Management
- name: Sales Group Management
- name: Task Management
- name: Team Management
- name: Telephony
- name: Upload and Attach a File
- name: User Management
x-tagGroups:
- name: V2 APIs > Account (Company) Management
  tags:
  - Account (Company) Management
- name: V2 APIs > Account Activity Management
  tags:
  - Account Activity Management
- name: V2 APIs > Activity Management
  tags:
  - Activity Management
- name: V2 APIs > Custom Menus
  tags:
  - Custom Menus
- name: V2 APIs > Custom Tabs & Actions
  tags:
  - Custom Tabs & Actions
- name: V2 APIs > Email Marketing
  tags:
  - Email Marketing
- name: V2 APIs > Entity Sharing
  tags:
  - Entity Sharing
- name: V2 APIs > Lead Management
  tags:
  - Lead Management
- name: V2 APIs > List Management
  tags:
  - List Management
- name: V2 APIs > Opportunity Management
  tags:
  - Opportunity Management
- name: V2 APIs > Sales Group Management
  tags:
  - Sales Group Management
- name: V2 APIs > Task Management
  tags:
  - Task Management
- name: V2 APIs > Team Management
  tags:
  - Team Management
- name: V2 APIs > Telephony
  tags:
  - Telephony
- name: V2 APIs > Upload and Attach a File
  tags:
  - Upload and Attach a File
- name: V2 APIs > User Management
  tags:
  - User Management
paths:
  /ProspectActivity.svc/Create:
    post:
      summary: Post an Activity on a Lead
      operationId: post-an-activity-to-lead
      tags:
      - Activity Management
      responses:
        '200':
          description: Post a KYC Activity with CFS
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                    description: Indicates the result of the request. Returns `Success`
                      if the activity was posted on the lead.
                  Message:
                    type: object
                    properties:
                      Id:
                        type: string
                        description: The unique identifier of the activity that was
                          posted.
                      RelatedId:
                        type: string
                        description: The unique identifier of the lead on which the
                          activity was posted.
              example:
                Status: Success
                Message:
                  Id: 2cf5718a-315c-4046-a9ec-b2150afbfd4c
                  RelatedId: 6f2195dc-e36d-4074-9e2e-e40911c11c42
      description: "Posts a custom activity on a Lead. Pass the “LeadId” in the JSON\
        \ body to specify the lead you want to post the activity on.\n\n**Note:**\n\
        \n- To skip validating dropdown activity fields, pass an additional parameter\
        \ `\"ValidateDropDownOptions\" : true`. This is helpful if you’re passing\
        \ drop-down values stored on [Mavis DB](https://apidocs.leadsquared.com/mavis-database/).\n\
        \    \n- To include the updated lead score in the response, in the JSON payload,\
        \ pass an additional parameter `\"IncludeLeadScore\" : true`.\n    \n\n##\
        \ Payload\n\n| Parameter | Description | Data Type | Required |\n| --- | ---\
        \ | --- | --- |\n| `RelatedProspectId` | Id (ProspectId) of the lead you want\
        \ to post the activity on. | `String` | Yes |\n| `ActivityEvent` | Activity\
        \ event code. | `Integer` | Yes |\n| `ActivityNote` | Activity note. | `String`\
        \ | No |\n| `ActivityDateTime` | Activity date and time in `yyyy-mm-dd hh:mm:ss`\
        \ format. | `String` | No |\n| `Fields` | The activity fields you want to\
        \ update. Pass the fields as attribute-value pairs, by mentioning the “Schema\
        \ Names” and values.  <br>  <br>To find the “Schema Names” to a custom activity,\
        \ navigate to My [Profile&gt;Settings&gt;Leads&gt;Activities and Scores&gt;Custom\
        \ Activities &amp; Scores ](https://in21.leadsquared.com/Settings/CustomNotableActivity)\
        \ . Against the activity type, click the edit icon, and then click Edit. |\
        \ `String` | Yes |\n\n## Error Handling\n\n- When you don't provide a value\
        \ for `ActivityEvent` you'll recieve a 400 Bad Request.\n    \n- If you don't\
        \ pass the `ActivityEvent` as an `integer` you'll recieve a 400 Bad Request.\n\
        \    \n\n| Status | Exception Type | Exception Mesaage | Description |\n|\
        \ --- | --- | --- | --- |\n| 500 Internal Server Error | `MXInvalidEntityReferenceException`\
        \ | `Lead not found...` | `RelatedProspectID` has not been passed. |\n| 500\
        \ Internal Server Error | `MXUnknownProspectActivityException` | `Notable\
        \ activity not found` | `ActivityEvent` is not provided. |\n| 500 Internal\
        \ Server Error | `MXInvalidInputException` | `LeadId is invalid.` | The Lead\
        \ Id format (data type) is invalid. |\n| 500 Internal Server Error | `MXInvalidEntityReferenceException`\
        \ | `Lead not found` | The Lead Id is invalid. |\n| 500 Internal Server Error\
        \ | `MXInvalidActivityException` | `Invalid activity event.` | Activity Event\
        \ Code is invalid. |\n| 500 Internal Server Error | `MXInvalidInputException`\
        \ | `Invalid Input! Parameter Name: activity` | The payload is empty. |\n\
        | 500 Internal Server Error | `MXInvalidActivityFieldsException` | `Mandatory\
        \ fields are missing.` | Fields are not passed in the payload. |\n| 500 Internal\
        \ Server Error | `MXInvalidActivityFieldsException` | `Field value of 'field_schema_name'\
        \ is invalid. Data type should be 'data_type'.` | A Mandatory field is not\
        \ provided in the payload. |\n| 500 Internal Server Error | `MXForeignKeyViolation`\
        \ | `Product Id(s) is invalid` | The Product field has invalid data. |"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                RelatedProspectId:
                  type: string
                  description: Id (ProspectId) of the lead you want to post the activity
                    on.
                ActivityEvent:
                  type: integer
                  description: Activity event code.
                ActivityNote:
                  type: string
                  description: Activity note.
                ProcessFilesAsync:
                  type: boolean
                ActivityDateTime:
                  type: string
                  description: Activity date and time in `yyyy-mm-dd hh:mm:ss` format.
                Fields:
                  type: array
                  items:
                    type: object
                    properties:
                      SchemaName:
                        type: string
                      Value:
                        type: string
                  description: "The activity fields you want to update. Pass the fields\
                    \ as attribute-value pairs, by mentioning the “Schema Names” and\
                    \ values.  \n  \nTo find the “Schema Names” to a custom activity,\
                    \ navigate to **My Profile>Settings>Leads>Activities and Scores>Custom\
                    \ Activities & Scores**. Against the activity type, click the\
                    \ edit icon, and then click **Edit**."
              required:
              - RelatedProspectId
              - ActivityEvent
              - Fields
            example:
              RelatedProspectId: 6f2195dc-e36d-4074-9e2e-e40911c11c42
              ActivityEvent: 201
              ActivityNote: Payment
              ProcessFilesAsync: true
              ActivityDateTime: '2024-03-29 12:13:44'
              Fields:
              - SchemaName: mx_Custom_1
                Value: '20000'
              - SchemaName: mx_Custom_2
                Value: UPF34B1
              - SchemaName: mx_Custom_3
                Value: Rupees
  /ProspectActivity.svc/Bulk/CustomActivity/Add/ByLeadId:
    post:
      summary: Post Activities on Leads in Bulk (Using Lead Id)
      operationId: post-bulk-activities-on-leads
      tags:
      - Activity Management
      responses:
        '200':
          description: Post Activities on Leads in Bulk (Using Lead Id)
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      type: object
                      properties:
                        RowNumber:
                          type: integer
                          description: The position of the record in the request,
                            starting from 1.
                        ProspectActivityId:
                          type: string
                          description: The unique identifier of the activity that
                            was posted.
                        ActivityCreated:
                          type: boolean
                          description: Indicates whether the activity was successfully
                            posted. Returns `true` if the activity was created.
                    description: A list of results for each activity submitted in
                      the request, in the same order as the request.
              example:
                Response:
                - RowNumber: 1
                  ProspectActivityId: b25053d2-a66f-45ca-8f7e-27a10c
                  ActivityCreated: true
                - RowNumber: 2
                  ProspectActivityId: 4ba5fcbb-dc07-4b32-bf6a-fcd1f03
                  ActivityCreated: true
      description: 'Post multiple activities on a single lead or multiple activities
        on multiple leads in one API call.


        You can post up to 25 activities in a single call.


        ## Payload


        | **Parameter** | **Description** | **Data Type** | **Required** |

        | --- | --- | --- | --- |

        | `RelatedProspectId` | The Id of the lead on which the activity will be posted.
        | `String` | Yes |

        | `ActivityEvent` | The code of the activity type. You can find activity codes
        in your LeadSquared account settings or by calling the [Get List of Activity
        Types](https://www.postman.com/leadsquaredapi/workspace/4424d189-4c05-49f3-8df3-c72647aa93d5/request/39502170-dcb682bb-e7b0-45c4-8e2e-947c3a09ade4?action=share&source=copy-link&creator=39502170&ctx=documentation)
        API | `Integer` | Yes |

        | `ActivityNote` | The description or notes associated with the activity.
        | `String` | No |

        | `ActivityOwnerEmail` | Email Id of the LeadSquared user who owns the activity.
        | `String` | No |

        | `Activity DateTime` | Activity date and time in `yyyy-mm-dd hh:mm:ss` format.
        | `String` | No |

        | `Fields` | You can optionally pass custom activity fields here by specifying
        their “SchemaNames” and “Values”. E.g. `“SchemaName”: “mx_Custom_1”, “Value”:
        “100”` | Depends on the attribute. | Yes |'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  RelatedProspectId:
                    type: string
                    description: The Id of the lead on which the activity will be
                      posted.
                  ActivityEvent:
                    type: integer
                    description: The code of the activity type. You can find activity
                      codes in your LeadSquared account settings or by calling the
                      Get List of Activity Types API
                  ActivityNote:
                    type: string
                    description: The description or notes associated with the activity.
                  ActivityOwnerEmail:
                    type: string
                    description: Email Id of the LeadSquared user who owns the activity.
                  ActivityDateTime:
                    type: string
                    description: Activity date and time in `yyyy-mm-dd hh:mm:ss` format.
                  Fields:
                    type: array
                    items:
                      type: object
                      properties:
                        SchemaName:
                          type: string
                        Value:
                          type: string
                    description: 'You can optionally pass custom activity fields here
                      by specifying their `SchemaNames` and `Values`. E.g. `“SchemaName”:
                      “mx_Custom_1”, “Value”: “100”`'
                required:
                - RelatedProspectId
                - ActivityEvent
            example:
            - RelatedProspectId: 581d972b-2a0e-11ef-8053-020f15161885
              ActivityEvent: 201
              ActivityNote: Payment
              ActivityOwnerEmail: mich@example.com
              ActivityDateTime: '2024-07-18 12:13:44'
              Fields:
              - SchemaName: mx_Custom_1
                Value: '20000'
              - SchemaName: mx_Custom_2
                Value: UPF34B1
              - SchemaName: mx_Custom_3
                Value: Rupees
            - RelatedProspectId: 9bfa3c9e-3983-4500-8feb-0c877177d990
              ActivityEvent: 161
              ActivityNote: Home Visit
              ActivityOwnerEmail: mich@example.com
              ActivityDateTime: '2024-07-18 12:13:44'
              Fields:
              - SchemaName: mx_Custom_1
                Value: KYC
              - SchemaName: mx_Custom_3
                Value: ''
                Fields:
                - SchemaName: mx_CustomObject_1
                  Value: Aadhar.jpg
                  DisplayName: ''
                  Fields: ''
                - SchemaName: mx_CustomObject_2
                  Value: PAN.jpg
                  DisplayName: ''
                  Fields: ''
  /ProspectActivity.svc/Bulk/CustomActivity/Add/ByLeadField:
    post:
      summary: Post Activities on Leads in Bulk (Using Unique Lead Fields)
      operationId: post-activities-to-leads-in-bulk-using-unique-lead-fields
      tags:
      - Activity Management
      responses:
        '200':
          description: Post Activities on Leads in Bulk (Using Unique Lead Fields)
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      type: object
                      properties:
                        RowNumber:
                          type: integer
                          description: The position of the record in the request,
                            starting from 1.
                        ProspectActivityId:
                          type: string
                          description: The unique identifier of the activity that
                            was posted.
                        ActivityCreated:
                          type: boolean
                          description: Indicates whether the activity was successfully
                            posted. Returns `true` if the activity was created.
                    description: A list of results for each activity submitted in
                      the request, in the same order as the request.
              example:
                Response:
                - RowNumber: 1
                  ProspectActivityId: 8638718f-a7f3-4dec-86d1-240d8d
                  ActivityCreated: true
                - RowNumber: 2
                  ProspectActivityId: 2027be74-22fb-4a1f-8ef4-1a61
                  ActivityCreated: true
      description: "Posts activities to leads in bulk.\n\n**Note:**\n\n- The supported\
        \ DateTime format is UTC (YYYY-MM-DD HH:MM:SS).\n    \n- To skip validating\
        \ dropdown activity fields, pass an additional parameter `\"ValidateDropDownOptions\"\
        \ : true`. This is helpful if you’re passing drop-down values stored on [Mavis\
        \ DB](https://apidocs.leadsquared.com/mavis-database/).\n    \n\n## Payload\n\
        \n| Parameter | Description | Data Type | Required |\n| --- | --- | --- |\
        \ --- |\n| `SearchByValue` | Value of the `SearchBy` attribute you passed\
        \ in the API URL. For example, if you passed “EmailAddress” in the API URL,\
        \ then pass “[john@example.com](https://mailto:john@example.com)” here.  <br>\
        \  <br>Default unique lead fields include “EmailAddress”, “Phone” and “Mobile”.\
        \ However, you can set your own unique lead fields according to your business\
        \ requirements. This API accepts all unique lead fields, the defaults and\
        \ also the ones you set. | `String` | Yes |\n| `ActivityEvent` | The code\
        \ of the activity type. You can find activity codes in your LeadSquared account\
        \ settings or by calling this API: [Get List of Activity Types](https://www.postman.com/leadsquaredapi/workspace/4424d189-4c05-49f3-8df3-c72647aa93d5/request/39502170-dcb682bb-e7b0-45c4-8e2e-947c3a09ade4?action=share&source=copy-link&creator=39502170&ctx=documentation)\
        \ | `Integer` | Yes |\n| `ActivityNote` | The description or notes associated\
        \ with the activity. | `String` | No |\n| `ActivityOwnerEmail` | Email Id\
        \ of the LeadSquared user who owns the activity. | `String` | Yes |\n| `Activity\
        \ DateTime` | Activity date and time in `yyyy-mm-dd hh:mm:ss` format. | `String`\
        \ | No |\n| `Fields` | You can optionally pass custom activity fields here\
        \ by specifying their “SchemaNames” and “Values”. E.g. `“SchemaName”: “mx_Custom_1”,“\
        \ Value”: “100”` | Depends on the attributes. | Yes |\n| `ValidateDropDownOptions`\
        \ | To skip validating dropdown activity fields, pass this parameter. This\
        \ is helpful if you’re passing drop-down values stored on Mavis DB. | `Boolean`\
        \ | No |"
      parameters:
      - name: searchBy
        in: query
        required: true
        schema:
          type: string
        example: <string>
        description: The name of the unique lead field. E.g., EmailAddress.
      - name: ValidateDropDownOptions
        in: query
        required: false
        schema:
          type: boolean
        example: <boolean>
        description: To skip validating dropdown activity fields, pass this as an
          additional parameter. This is helpful if you’re passing drop-down values
          stored on Mavis DB.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  SearchByValue:
                    type: string
                    description: "Value of the `SearchBy` attribute you passed in\
                      \ the API URL. For example, if you passed `EmailAddress` in\
                      \ the API URL, then pass `john@example.com` here. \n\nDefault\
                      \ unique lead fields include `EmailAddress`, `Phone`, and `Mobile`.\
                      \ However, you can set your own unique lead fields according\
                      \ to your business requirements. This API accepts all unique\
                      \ lead fields, the defaults and also the ones you set."
                  ActivityEvent:
                    type: integer
                    description: 'The code of the activity type. You can find activity
                      codes in your LeadSquared account settings or by calling this
                      API: Get List of Activity Types. '
                  ActivityNote:
                    type: string
                    description: The description or notes associated with the activity.
                  ActivityOwnerEmail:
                    type: string
                    description: Email Id of the LeadSquared user who owns the activity.
                  ActivityDateTime:
                    type: string
                    description: Activity date and time in `yyyy-mm-dd hh:mm:ss` format.
                  Fields:
                    type: array
                    items:
                      type: object
                      properties:
                        SchemaName:
                          type: string
                        Value:
                          type: string
                    description: 'You can optionally pass custom activity fields here
                      by specifying their `SchemaNames` and `Values`. E.g. `“SchemaName”:
                      “mx_Custom_1”,“ Value”: “100”`'
                required:
                - SearchByValue
                - ActivityEvent
                - ActivityOwnerEmail
                - Fields
            example:
            - SearchByValue: jaye@lsq.in
              ActivityEvent: 201
              ActivityNote: Payment
              ActivityOwnerEmail: donatello@example.com
              ActivityDateTime: '2024-07-18 12:13:44'
              Fields:
              - SchemaName: mx_Custom_1
                Value: '20000'
              - SchemaName: mx_Custom_2
                Value: UPF34B1
              - SchemaName: mx_Custom_3
                Value: Rupees
            - SearchByValue: janne@lsq.in
              ActivityEvent: 161
              ActivityNote: Home Visit
              ActivityOwnerEmail: donatello@example.com
              ActivityDateTime: '2024-07-18 12:13:44'
              Fields:
              - SchemaName: mx_Custom_1
                Value: KYC
              - SchemaName: mx_Custom_3
                Value: ''
                Fields:
                - SchemaName: mx_CustomObject_1
                  Value: Aadhar.jpg
                  DisplayName: ''
                  Fields: ''
                - SchemaName: mx_CustomObject_2
                  Value: PAN.jpg
                  DisplayName: ''
                  Fields: ''
  /ProspectActivity.svc/Create__2:
    post:
      summary: Post an Activity on an Opportunity
      operationId: post-an-activity-on-an-opportunity
      tags:
      - Activity Management
      responses:
        '200':
          description: Post a Payment Activity
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                    description: Indicates the result of the request. Returns `Success`
                      if the activity was posted on the opportunity.
                  Message:
                    type: object
                    properties:
                      Id:
                        type: string
                        description: The unique identifier of the activity that was
                          posted.
                      RelatedId:
                        type: string
                        description: The unique identifier of the opportunity on which
                          the activity was posted.
              example:
                Status: Success
                Message:
                  Id: d45d7c6c-cbb6-45a8-91a9-794e33b16332
                  RelatedId: af26621b-c484-4db8-829e-b23a99318b2e
      description: "Post a custom activity on an Opportunity.\n\nYou can get the`OpportunityId`\
        \ for an opportunity by referring to [Get Opportunity by Lead Id](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/ajuurdd/get-an-opportunity-by-id?action=share&source=copy-link&creator=39502170&ctx=documentation).\n\
        \n> **Note:** The supported DateTime format is UTC (YYYY-MM-DD HH:MM:SS).\
        \ \n  \n\n## Payload\n\n| **Parameter** | **Description** | Data Type | Required\
        \ |\n| --- | --- | --- | --- |\n| `RelatedProspectId` | Id (ProspectId) of\
        \ the lead you want to post the activity on. | `String` | Yes |\n| `RelatedOpportunityId`\
        \ | Id of the opportunity you want to post the activity on.  <br>  <br>You\
        \ can get the`OpportunityId` for an opportunity by referring to [Get Opportunity\
        \ by Lead Id](https://apidocs.leadsquared.com/get-opportunities-by-lead-id/).\
        \ | `String` | Yes |\n| `ActivityEvent` | Activity event code.  <br>  <br>To\
        \ obtain the activity event code, navigate to [My Profile&gt;Settings&gt;Leads&gt;Activities\
        \ and Scores&gt;Custom Activities and Scores](https://in21.leadsquared.com/Settings/CustomNotableActivity).\
        \ Against the Display Name, you’ll find the Code. | `Integer` | Yes |\n| `ActivityNote`\
        \ | Activity note. | `String` | No |\n| `ActivityDateTime` | Activity date\
        \ and time in `UTC (YYYY-MM-DD HH:MM:SS)`. | `String` | No |\n| `Fields` |\
        \ The activity fields you want to update. Pass the fields as attribute-value\
        \ pairs, by specifying the “Schema Names” and values.  <br>  <br>To find the\
        \ “Schema Names” to a custom activity, navigate to [My Profile&gt;Settings&gt;Leads&gt;Activities\
        \ and Scores&gt;Custom Activities &amp; Scores](https://in21.leadsquared.com/Settings/CustomNotableActivity)\
        \ . Against the activity type, click the edit icon, and then click Edit. |\
        \ `String` | Yes |\n\n## Error Handling\n\n- When you don't provide a value\
        \ for `ActivityEvent` you'll recieve a 400 Bad Request.\n    \n- You will\
        \ recieve a 400 Bad Request if you don't pass the `ActivityEvent` as an `integer`\n\
        \    \n- If `RelatedOpporutnityId` is not passed, then the activity will be\
        \ created on the Lead and not on the Opportunity.\n    \n\n| Status | Exception\
        \ Type | Exception Mesaage | Description |\n| --- | --- | --- | --- |\n| 500\
        \ Internal Server Error | `MXInvalidEntityReferenceException` | `Lead not\
        \ found...` | `RelatedProspectID` has not been passed. |\n| 500 Internal Server\
        \ Error | `MXInvalidActivityFieldsException` | Related Opportunity : {id}\
        \ is invalid. | `RelatedOpportunityId` is invalid. |\n| 500 Internal Server\
        \ Error | `MXUnknownProspectActivityException` | `Notable activity not found`\
        \ | `ActivityEvent` is not provided. |\n| 500 Internal Server Error | `MXInvalidInputException`\
        \ | `LeadId is invalid.` | The Lead Id format (data type) is invalid. |\n\
        | 500 Internal Server Error | `MXInvalidEntityReferenceException` | `Lead\
        \ not found` | The Lead Id is invalid. |\n| 500 Internal Server Error | `MXInvalidActivityException`\
        \ | `Invalid activity event.` | Activity Event Code is invalid. |\n| 500 Internal\
        \ Server Error | `MXInvalidInputException` | `Invalid Input! Parameter Name:\
        \ activity` | The payload is empty. |\n| 500 Internal Server Error | `MXInvalidActivityFieldsException`\
        \ | `Mandatory fields are missing.` | Fields are not passed in the payload.\
        \ |\n| 500 Internal Server Error | `MXInvalidActivityFieldsException` | `Field\
        \ value of 'field_schema_name' is invalid. Data type should be 'data_type'.`\
        \ | A Mandatory field is not provided in the payload. |\n| 500 Internal Server\
        \ Error | `MXForeignKeyViolation` | `Product Id(s) is invalid` | The Product\
        \ field has invalid data. |"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                RelatedProspectId:
                  type: string
                  description: Id (ProspectId) of the lead you want to post the activity
                    on.
                RelatedOpportunityId:
                  type: string
                  description: "Id of the opportunity you want to post the activity\
                    \ on.  \n  \nYou can get theOpportunityId for an opportunity by\
                    \ referring to Get Opportunity by Lead Id."
                ActivityEvent:
                  type: integer
                  description: "Activity event code.  \n  \nTo obtain the activity\
                    \ event code, navigate to `My Profile>Settings>Leads>Activities\
                    \ and Scores>Custom Activities and Scores`. Against the Display\
                    \ Name, you’ll find the Code."
                ActivityNote:
                  type: string
                  description: Activity note.
                ActivityDateTime:
                  type: string
                  description: Activity date and time in UTC (`YYYY-MM-DD HH:MM:SS`).
                Fields:
                  type: array
                  items:
                    type: object
                    properties:
                      SchemaName:
                        type: string
                      Value:
                        type: string
                  description: "The activity fields you want to update. Pass the fields\
                    \ as attribute-value pairs, by specifying the “Schema Names” and\
                    \ values.  \n  \nTo find the “Schema Names” to a custom activity,\
                    \ navigate to `My Profile>Settings>Leads>Activities and Scores>Custom\
                    \ Activities & Scores`. Against the activity type, click the edit\
                    \ icon, and then click Edit."
              required:
              - RelatedProspectId
              - RelatedOpportunityId
              - ActivityEvent
              - Fields
            example:
              RelatedProspectId: af26621b-c484-4db8-829e-b23a99318b2e
              RelatedOpportunityId: 519fc1ca-8ad8-4ad9-b177-b8e734ca59e7
              ActivityEvent: 211
              ActivityNote: Payment Link Generated
              ActivityDateTime: '2024-05-06 12:13:44'
              Fields:
              - SchemaName: mx_Custom_1
                Value: '20000'
              - SchemaName: mx_Custom_2
                Value: YHN838eN
              - SchemaName: mx_Custom_3
                Value: INR
      x-original-path: /ProspectActivity.svc/Create
      x-original-name: Post an Activity on an Opportunity
      x-original-method: post
  /ProspectActivity.svc/Bulk/CustomActivity/Add/ByOpportunityId:
    post:
      summary: Post Bulk Activities on Opportunities
      operationId: post-bulk-activities-on-opportunities
      tags:
      - Activity Management
      responses:
        '200':
          description: Post Bulk Activites on Opportunities
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      type: object
                      properties:
                        RowNumber:
                          type: integer
                          description: The position of the record in the request,
                            starting from 1.
                        ProspectActivityId:
                          type: string
                          description: The unique identifier of the activity that
                            was posted.
                        ActivityCreated:
                          type: boolean
                          description: Indicates whether the activity was successfully
                            posted. Returns `true` if the activity was created.
                    description: A list of results for each activity submitted in
                      the request, in the same order as the request.
              example:
                Response:
                - RowNumber: 1
                  ProspectActivityId: 87881e0a-cf90-4c7b-9849-cb6c1f888888
                  ActivityCreated: true
                - RowNumber: 2
                  ProspectActivityId: 7a83a1f2-6a55-4c21-9371-157009999999
                  ActivityCreated: true
      description: "Posts bulk activities on a single opportunity.\n\n**Notes:**\n\
        \n- To skip validating dropdown activity fields, pass an additional parameter\
        \ `\"ValidateDropDownOptions\" : true`. This is helpful if you’re passing\
        \ drop-down values stored on [Mavis DB](https://apidocs.leadsquared.com/mavis-database/).\n\
        \    \n- You can post up to 25 activities in a single call.\n    \n- The user\
        \ calling this API must have access to view the associated lead and opportunity.\n\
        \    \n- You can also pass custom fields by specifying their “SchemaNames”\
        \ and “Values” within the `Fields`parameter.\n    \n\n## Payload\n\n| **Parameter**\
        \ | **Description** | Data Type | Required |\n| --- | --- | --- | --- |\n\
        | `ActivityEvent` | Activity event code.  <br>  <br>To obtain the activity\
        \ event code, navigate to [My Profile&gt;Settings&gt;Leads&gt;Activities and\
        \ Scores&gt;Custom Activities and Scores](https://in21.leadsquared.com/Settings/CustomNotableActivity).\
        \ Against the Display Name, you’ll find the Code. | `Integer` | Yes |\n| `ActivityNote`\
        \ | Activity note. | `String` | No |\n| `ActivityOwnerEmail` | Email Id of\
        \ the activity owner. | `String` | Yes |\n| `Fields` | The activity fields\
        \ you want to update. Pass the fields as attribute-value pairs, by specifying\
        \ the “Schema Names” and values.  <br>  <br>To find the “Schema Names” to\
        \ a custom activity, navigate to [My Profile&gt;Settings&gt;Leads&gt;Activities\
        \ and Scores&gt;Custom Activities &amp; Scores](https://in21.leadsquared.com/Settings/CustomNotableActivity)\
        \ . Against the activity type, click the edit icon, and then click Edit. |\
        \ `String` | Yes |"
      parameters:
      - name: opportunityId
        in: query
        required: true
        schema:
          type: string
        example: <string>
        description: Opportunity Id of the opportunity you want to post the activities
          to.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  ActivityEvent:
                    type: integer
                    description: "Activity event code.  \n  \nTo obtain the activity\
                      \ event code, navigate to `My Profile>Settings>Leads>Activities\
                      \ and Scores>Custom Activities and Scores`. Against the Display\
                      \ Name, you’ll find the Code."
                  ActivityNote:
                    type: string
                    description: Activity note.
                  ActivityOwnerEmail:
                    type: string
                    description: Email Id of the activity owner.
                  Fields:
                    type: array
                    items:
                      type: object
                      properties:
                        SchemaName:
                          type: string
                        Value:
                          type: string
                    description: "The activity fields you want to update. Pass the\
                      \ fields as attribute-value pairs, by specifying the “Schema\
                      \ Names” and values.  \n  \nTo find the “Schema Names” to a\
                      \ custom activity, navigate to `My Profile>Settings>Leads>Activities\
                      \ and Scores>Custom Activities & Scores`. Against the activity\
                      \ type, click the edit icon, and then click Edit."
                required:
                - ActivityEvent
                - ActivityOwnerEmail
                - Fields
            example:
            - ActivityEvent: 208
              ActivityNote: Documents
              ActivityOwnerEmail: Mich@lsq.com
              Fields:
              - SchemaName: mx_CustomObject_2
                Value: Pan.png
            - ActivityEvent: 211
              ActivityNote: Payment Link Generated
              ActivityOwnerEmail: Mich@lsq.com
              Fields:
              - SchemaName: mx_Custom_1
                Value: '20000'
              - SchemaName: mx_Custom_2
                Value: YHN838eN
              - SchemaName: mx_Custom_3
                Value: INR
  /ProspectActivity.svc/CreateCustom:
    post:
      summary: Create a Lead and Activity
      operationId: create-lead-and-activity
      tags:
      - Activity Management
      responses:
        '200':
          description: Create a Lead and Activity
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                    description: Indicates the result of the request. Returns `Success`
                      if the lead was created or updated and the activity was posted.
                  Message:
                    type: object
                    properties:
                      Id:
                        type: string
                        description: The unique identifier of the activity that was
                          posted.
                      RelatedId:
                        type: string
                        description: The unique identifier of the lead that was created
                          or updated.
              example:
                Status: Success
                Message:
                  Id: 3ac9142e-156b-4201-8eef-57e49
                  RelatedId: c58776c3-7d91-490c-9e68-873b
      description: "Creates a new lead and posts an activity on the lead at the same\
        \ time.\n\n**Note:**\n\n- You can use the `SearchBy` parameter to specify\
        \ a parameter to find the lead by (e.g., email address, phone number). If\
        \ a lead exists with the specified value, it will be updated with any new\
        \ lead attributes and activity details you pass.\n    \n- If a lead doesn’t\
        \ exist based on the `SearchBy` parameter, a new lead will be created in your\
        \ account.\n    \n\n## Payload\n\n| **Parameter** | **Description** | **Data\
        \ Type** | **Required** |\n| --- | --- | --- | --- |\n| `LeadDetails` | Provide\
        \ the lead fields using attribute-value pairs. You can use the `SearchBy`\
        \ parameter to search for and update a particular lead based on email address,\
        \ phone or unique fields in your account.  <br>  <br>For custom field sets\
        \ associated with the lead, you may pass an optional “Fields” array, containing\
        \ attribute-value pairs for CFS fields. You must pass the schema name of the\
        \ custom object fields in the attribute parameters. | Depends on the Attribute.\
        \ | Yes |\n| `ActivityEvent` | The code of the activity. You can find activity\
        \ codes in your LeadSquared account settings or by calling the [Get List of\
        \ Activity Types API](https://www.postman.com/leadsquaredapi/workspace/4424d189-4c05-49f3-8df3-c72647aa93d5/request/39502170-dcb682bb-e7b0-45c4-8e2e-947c3a09ade4?action=share&source=copy-link&creator=39502170&ctx=documentation).\
        \ | `Integer` | Yes |\n| `ActivityNote` | The description or notes associated\
        \ with the activity. | `String` | No |\n| `ActivityDateTime` | This is the\
        \ date-time value of the activity you want to post in UTC `YYYY-MM-DD HH:MM:SS`.\
        \ | `String` | No |\n| `Fields` | Pass attribute-value pairs for activity\
        \ fields.  <br>  <br>For custom field sets associated with the activity, you\
        \ may pass an optional `Fields` array, containing attribute-value pairs for\
        \ CFS fields. You must pass the schema name of the custom object fields in\
        \ the attribute parameters. | Depends on the Attribute. | Yes |\n| `ValidateDropDownOptions`\
        \ | To skip validating dropdown activity fields, pass this as an additional\
        \ parameter `\"ValidateDropDownOptions\" : true`. This is helpful if you’re\
        \ passing drop-down values stored on Mavis DB. | `Boolean` | No |"
      parameters:
      - in: query
        name: ValidateDropDownOptions
        schema:
          type: boolean
        description: 'To skip validating dropdown activity fields, pass this as an
          additional parameter `"ValidateDropDownOptions" : true`. This is helpful
          if you’re passing drop-down values stored on Mavis DB.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                LeadDetails:
                  type: array
                  items:
                    type: object
                    properties:
                      Attribute:
                        type: string
                      Value:
                        type: string
                  description: "Provide the lead fields using attribute-value pairs.\
                    \ You can use the SearchBy parameter to search for and update\
                    \ a particular lead based on email address, phone or unique fields\
                    \ in your account.  \n  \nFor custom field sets associated with\
                    \ the lead, you may pass an optional “Fields” array, containing\
                    \ attribute-value pairs for CFS fields. You must pass the schema\
                    \ name of the custom object fields in the attribute parameters."
                Activity:
                  type: object
                  properties:
                    ActivityEvent:
                      type: integer
                      description: The code of the activity. You can find activity
                        codes in your LeadSquared account settings or by calling the
                        Get List of Activity Types API.
                    ActivityNote:
                      type: string
                      description: The description or notes associated with the activity.
                    Fields:
                      type: array
                      items:
                        type: object
                        properties:
                          SchemaName:
                            type: string
                          Value:
                            type: string
                      description: "Pass attribute-value pairs for activity fields.\
                        \  \n  \nFor custom field sets associated with the activity,\
                        \ you may pass an optional Fields array, containing attribute-value\
                        \ pairs for CFS fields. You must pass the schema name of the\
                        \ custom object fields in the attribute parameters."
                    ActivityDateTime:
                      type: string
                      description: This is the date-time value of the activity you
                        want to post in UTC `YYYY-MM-DD HH:MM:SS`.
                  required:
                  - ActivityEvent
                  - Fields
              required:
              - LeadDetails
            example:
              LeadDetails:
              - Attribute: EmailAddress
                Value: SamSammy@Lsqin.com
              - Attribute: mx_City
                Value: Bangalore
              - Attribute: SearchBy
                Value: EmailAddress
              Activity:
                ActivityEvent: 161
                ActivityNote: Home Visit
                Fields:
                - SchemaName: mx_Custom_1
                  Value: KYC
                - SchemaName: mx_Custom_2
                  Value: ''
                  Fields:
                  - SchemaName: mx_CustomObject_1
                    Value: bc48d77f.png
                  - SchemaName: mx_CustomObject_2
                    Value: 1e56d38e.jpg
  /ProspectActivity.svc/CreateType:
    post:
      summary: Create a Custom Activity Type
      operationId: create-new-activity-type-api
      tags:
      - Activity Management
      responses:
        '200':
          description: Create a Custom Activity Type
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                    description: Indicates the result of the request. Returns `Success`
                      if the activity type was created.
                  Message:
                    type: object
                    properties:
                      Id:
                        type: string
                        description: The unique identifier of the activity type that
                          was created.
              example:
                Status: Success
                Message:
                  Id: '221'
      description: 'Creates a new custom activity type.


        While creating Activity type, you can create [up to&nbsp;50 custom fields
        associated with the activities](http://help.leadsquared.com/how-to-add-custom-lead-activity-and-associate-a-score-to-it/).
        The schema name of these fields is from mx_Custom_1 to mx_Custom_50.


        ## Payload


        | **Parameter** | **Description** | **Data Type** | **Required** |

        | --- | --- | --- | --- |

        | `ActivityEventName` | Name or label of the activity. | `String` | Yes |

        | `Score` | Every activity can have a numerical score. It can be -ve, zero
        or +ve. When the activity is posted to a lead, this score gets added to the
        overall lead and engagement scores. | `Number` | No |

        | `Description` | Activity description. | `String` | No |

        | `Direction` | Use `1` as direction for an outbound activity and `0` for
        an inbound activity. The default value is `0`. | `Integer` | No |

        | `TrackLocation` | Tracks the location the activity was created from (for
        mobile app users).  <br>  <br>Pass `1` to capture the location where the activity
        was created from.  <br>Pass `0` if you don’t want to capture the location.
        | `Integer` | No |

        | `AllowAttachments` | Allows attachments to be uploaded for the activity
        (for mobile app users).  <br>  <br>Pass `1` to enable the feature.  <br>Pass
        `0` to disable it. | `Integer` | No |

        | `ShowInActivityGrid` | Shows the activity type in the grid on the Manage
        Activities page.  <br>  <br>Pass `1` to display the activity.  <br>Pass `0`
        if you don’t want it displayed. | `Integer` | No |

        | `CanDeleteActivity` | Whether the activity can be deleted. The default value
        is false. | `Boolean` | No |

        | `Fields` | Create multiple activity fields by passing their schema names,
        data-types, values, etc. | Depends on the Attribute. | No |'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ActivityEventName:
                  type: string
                  description: Name or label of the activity.
                Score:
                  type: number
                  description: Every activity can have a numerical score. It can be
                    -ve, zero, or +ve. When the activity is posted to a lead, this
                    score gets added to the overall lead and engagement scores.
                Description:
                  type: string
                  description: Activity description.
                Direction:
                  type: integer
                  description: Use `1` as direction for an outbound activity and 0
                    for an inbound activity. The default value is `0`.
                TrackLocation:
                  type: integer
                  description: "Tracks the location the activity was created from\
                    \ (for mobile app users).  \n  \nPass `1` to capture the location\
                    \ where the activity was created from.  \nPass `0` if you don’t\
                    \ want to capture the location."
                AllowAttachments:
                  type: integer
                  description: "Allows attachments to be uploaded for the activity\
                    \ (for mobile app users).  \n  \nPass `1` to enable the feature.\
                    \  \nPass `0` to disable it."
                ShowInActivityGrid:
                  type: integer
                  description: "Shows the activity type in the grid on the Manage\
                    \ Activities page.  \n  \nPass `1` to display the activity.  \n\
                    Pass `0` if you don’t want it displayed."
                CanDeleteActivity:
                  type: boolean
                  description: Whether the activity can be deleted. The default value
                    is false.
                Fields:
                  type: array
                  items:
                    type: object
                    properties:
                      SchemaName:
                        type: string
                      DisplayName:
                        type: string
                      Value:
                        type: string
                        nullable: true
                      DataType:
                        type: string
                      IsMandatory:
                        type: boolean
                      ShowInForm:
                        type: boolean
                      Sequence:
                        type: integer
                      OptionSet:
                        type: string
                        nullable: true
                  description: Create multiple activity fields by passing their schema
                    names, data-types, values, etc.
              required:
              - ActivityEventName
            example:
              ActivityEventName: Generate Payment Link
              Score: 30
              Description: Generates a payment link for order.
              Direction: 1
              TrackLocation: 1
              AllowAttachments: 1
              ShowInActivityGrid: 1
              CanDeleteActivity: true
              Fields:
              - SchemaName: mx_Custom_1
                DisplayName: Transanction Amount
                Value: null
                DataType: String
                IsMandatory: false
                ShowInForm: false
                Sequence: 1
                OptionSet: null
              - SchemaName: mx_Custom_2
                DisplayName: Order Id
                Value: null
                DataType: String
                IsMandatory: false
                ShowInForm: false
                Sequence: 2
                OptionSet: null
              - SchemaName: mx_Custom_3
                DisplayName: Payment Link
                Value: null
                DataType: String
                IsMandatory: false
                ShowInForm: false
                Sequence: 3
                OptionSet: null
  /ProspectActivity.svc/Create__3:
    post:
      summary: Post an Activity with a Lead’s Email Address
      operationId: post-activity-with-lead-email-address
      tags:
      - Activity Management
      responses:
        '200':
          description: Post an Activity with a Lead’s Email Address
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                    description: Indicates the result of the request. Returns `Success`
                      if the activity was posted on the lead.
                  Message:
                    type: object
                    properties:
                      Id:
                        type: string
                        description: The unique identifier of the activity that was
                          posted.
                      RelatedId:
                        type: string
                        description: The unique identifier of the lead on which the
                          activity was posted. If a lead with the specified email
                          address did not exist, this is the unique identifier of
                          the newly created lead.
              example:
                Status: Success
                Message:
                  Id: 35fde3ba-b94c-475e-b257-87a7
                  RelatedId: e8114f5e-424b-44dd-8fc2-11cf3
      description: "Post a custom activity on a lead by passing the lead’s email address.\n\
        \n> Note: The API posts the activity to the lead that matches the email address\
        \ you pass. If a lead with that email address doesn’t exist, a new lead gets\
        \ created with the details you pass (First Name, Last Name, Phone Number and\
        \ Email Address). \n  \n\n## Payload\n\n| **Parameter** | **Description**\
        \ | **Data Type** | **Required** |\n| --- | --- | --- | --- |\n| `EmailAddress`\
        \ | Email address of the lead. | `String` | Yes |\n| `ActivityEvent` | Activity\
        \ event code. | `Integer` | Yes |\n| `ActivityNote` | Activity note. | `String`\
        \ | No |\n| `ActivityDateTime` | Activity date and time in `yyyy-mm-dd hh:mm:ss`\
        \ format. | `String` | No |\n| `FirstName` | First name of the lead. | `String`\
        \ | No |\n| `LastName` | Last name of the lead. | `String` | No |\n| `Phone`\
        \ | Phone number of the lead. | `String` | No |"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                EmailAddress:
                  type: string
                  description: Email address of the lead.
                ActivityEvent:
                  type: integer
                  description: Activity event code.
                ActivityNote:
                  type: string
                  description: Activity note.
                ActivityDateTime:
                  type: string
                  description: Activity date and time in `yyyy-mm-dd hh:mm:ss` format.
                FirstName:
                  type: string
                  description: First name of the lead.
                LastName:
                  type: string
                  description: Last name of the lead.
                Phone:
                  type: string
                  description: Phone number of the lead.
                Fields:
                  type: array
                  items:
                    type: object
                    properties:
                      SchemaName:
                        type: string
                      Value:
                        type: string
                  description: "The activity fields you want to update. Pass the fields\
                    \ as attribute-value pairs, by mentioning the “Schema Names” and\
                    \ values.  \n  \nTo find the “Schema Names” to a custom activity,\
                    \ navigate to `My Profile>Settings>Leads>Activities and Scores>Custom\
                    \ Activities & Scores`. Against the activity type, click the edit\
                    \ icon, and then click Edit."
              required:
              - EmailAddress
              - ActivityEvent
              - Fields
            example:
              EmailAddress: johnn.smith@acmeconsulting.co
              ActivityEvent: 161
              ActivityNote: Home Visit KYC
              ActivityDateTime: '2015-10-11 12:13:44'
              FirstName: John
              LastName: Smith
              Phone: '+919845098450'
              Fields:
              - SchemaName: mx_Custom_1
                Value: KYC
              - SchemaName: mx_Custom_2
                Value: ''
                Fields:
                - SchemaName: Status
                  Value: Pending
                  DisplayName: ''
                  Fields: ''
                - SchemaName: mx_CustomObject_5
                  Value: 2
                  DisplayName: ''
                  Fields: ''
      x-original-path: /ProspectActivity.svc/Create
      x-original-name: Post an Activity with a Lead’s Email Address
      x-original-method: post
  /ProspectActivity.svc/Attachment/Add:
    post:
      summary: Attach a File to a Custom or Sales Activity
      operationId: attach-a-file-to-activities
      tags:
      - Activity Management
      responses:
        '200':
          description: Attach a File to a Custom or Sales Activity
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                    description: Indicates the result of the request. Returns `Success`
                      if the file was attached to the activity.
                  Message:
                    type: object
                    properties:
                      Id:
                        type: string
                        description: The unique identifier of the attachment that
                          was created.
              example:
                Status: Success
                Message:
                  Id: 7b202a3b-4824-11ef-a77e-0ac989580
      description: "Attaches a file to a sales/custom activity.\n\n**Note:**\n\n-\
        \ To upload a file to leads/activities in your LeadSquared account, refer\
        \ to [Upload a File](https://www.postman.com/leadsquaredapi/workspace/4424d189-4c05-49f3-8df3-c72647aa93d5/request/39502170-92aa71dc-4683-434f-8406-84f83aab4b28?action=share&source=copy-link&creator=39502170&ctx=documentation).\n\
        \    \n- This API will only work for activities where the “Allow Attachments”\
        \ setting has been enabled. This setting can be enabled/disabled while creating\
        \ or editing a custom activity type from the [Custom Activities and Scores](https://run.leadsquared.com/Settings/CustomNotableActivity)\
        \ page.\n    \n\n<img src=\"https://content.pstmn.io/4153ae43-831f-4379-8b52-516426d17fe5/aW1hZ2UucG5n\"\
        \ width=\"853\" height=\"487\">\n\n## Payload\n\n| **Parameter** | **Description**\
        \ | **Data Type** | **Required** |\n| --- | --- | --- | --- |\n| `ProspectActivityId`\
        \ | Id of the activity you want to attatch the file to. Get the activity Id\
        \ of the custom activity using the [Get Activities of Lead](https://www.postman.com/leadsquaredapi/workspace/4424d189-4c05-49f3-8df3-c72647aa93d5/request/39502170-f166d2bb-d666-46b3-8ef6-dfefcea8b8c0?action=share&source=copy-link&creator=39502170&ctx=documentation)\
        \ API. | `String` | Yes |\n| `AttachmentName` | Name of the attachement |\
        \ `String` | Yes |\n| `Description` | Description for the attachement | `String`\
        \ | No |\n| `AttachmentFile` | The attachement file. | `String` | Yes |"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ProspectActivityId:
                  type: string
                  description: Id of the activity you want to attatch the file to.
                    Get the activity Id of the custom activity using the Get Activities
                    of Lead API.
                AttachmentName:
                  type: string
                  description: Name of the attachment.
                Description:
                  type: string
                  description: 'Description for the attachment. '
                AttachmentFile:
                  type: string
                  description: 'The attachment file. '
              required:
              - AttachmentName
              - ProspectActivityId
              - AttachmentFile
            example:
              ProspectActivityId: 35fde3ba-b94c-475e-b257-87a7
              AttachmentName: Aadhar
              Description: Image attachment
              AttachmentFile: Aadhar.jpg
  /ProspectActivity.svc/ActivityTypes.Get:
    get:
      summary: Get List of Activity Types
      operationId: get-list-of-activity-types
      tags:
      - Activity Management
      responses:
        '200':
          description: New Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    ID:
                      type: string
                      description: The unique identifier of the activity type.
                    ActivityEventName:
                      type: string
                      description: The internal name of the activity type.
                    DisplayName:
                      type: string
                      description: The display name of the activity type, as shown
                        in your account.
                    ActivityEvent:
                      type: integer
                      description: The unique code of the activity type. Use this
                        value when posting activities via the API.
                    Score:
                      type: integer
                      description: The lead score associated with the activity. Can
                        be negative, zero, or positive.
                    EventType:
                      type: integer
                      description: 'The category of the activity type. Possible values:
                        `0` = Email activity, `1` = Web activity, `2` = Custom activity,
                        `4` = Revenue or Sales activity.'
                    Tags:
                      type: string
                      description: Internal tags associated with the activity type.
                    Description:
                      type: string
                      description: A brief description of the activity type.
                    EventDirection:
                      type: integer
                      description: Indicates whether the activity is inbound or outbound.
                        `0` = Inbound, `1` = Outbound.
                    Order:
                      type: integer
                      description: The display order of the activity type in your
                        account.
                    ActivityProperties:
                      type: string
                      description: Contains configuration properties for the activity
                        type, including its custom field definitions.
                    CanRename:
                      type: boolean
                      description: Indicates whether the activity type can be renamed.
                    CanDeleteActivity:
                      type: boolean
                      description: Indicates whether activities of this type can be
                        deleted.
                    Total:
                      type: integer
                      description: The total number of activity types in your account.
                    TrackLocation:
                      type: boolean
                      description: Indicates whether the location is tracked when
                        the activity is created (for mobile app users).
                    IsEditable:
                      type: integer
                      description: Indicates whether the activity type's fields can
                        be edited. `1` = Editable, `0` = Not editable.
                    Fields:
                      type: array
                      items:
                        type: object
                        properties:
                          SchemaName:
                            type: string
                          InternalName:
                            type: string
                          DisplayName:
                            type: string
                          Value:
                            type: string
                            nullable: true
                          DataType:
                            type: string
                          IsMandatory:
                            type: boolean
                          ShowInForm:
                            type: boolean
                          Sequence:
                            type: integer
                          ParentField:
                            type: string
                          OptionSet:
                            type: string
                          DependentOptionSet:
                            type: string
                          IsDefault:
                            type: boolean
                          IsReadOnly:
                            type: boolean
                          RenderType:
                            type: string
                          ExportAsPlainText:
                            type: boolean
                          IsMultiSelectDropdown:
                            type: boolean
                          IncludeOthersOption:
                            type: boolean
                          BehaviorOnMissingDropdownOption:
                            type: integer
                          IsOthersValue:
                            type: boolean
                          InternalSchemaName:
                            type: string
                          MaxFieldLength:
                            type: integer
                          StringRenderType:
                            type: string
                            nullable: true
                          IsViewRestrictedField:
                            type: boolean
                      description: 'A list of fields configured for the activity type. '
                    Direction:
                      type: integer
                      description: The direction of the activity. `0` = Inbound, `1`
                        = Outbound.
                    RestrictCustomFields:
                      type: boolean
                      description: Indicates whether custom fields are restricted
                        for this activity type.
                    ShowInActivityGrid:
                      type: boolean
                      description: Indicates whether this activity type appears in
                        the activity grid on the Manage Activities page.
                    FormLayout:
                      type: string
                      description: Defines the layout of the activity form, including
                        sections, field ordering, and column span. Returns an empty
                        string if no custom layout is configured.
                    AllowAttachments:
                      type: boolean
                      description: Indicates whether file attachments can be uploaded
                        for activities of this type.
                    StatusReason:
                      type: integer
                      description: Internal status reason code for the activity type.
                    AuditActivity:
                      type: boolean
                      description: Indicates whether activities of this type are audited.
                    AllowPreDatedActivity:
                      type: boolean
                      description: Indicates whether activities of this type can be
                        backdated.
                    ActionId:
                      type: string
                      nullable: true
                      description: The identifier of any automation action associated
                        with this activity type. Returns `null` if not configured.
                    QuickAdd:
                      type: boolean
                      description: Indicates whether the activity type appears in
                        the quick-add menu.
                    Permissions:
                      type: string
                      nullable: true
                      description: Contains permission settings for the activity type.
                        Returns `null` if no custom permissions are configured.
                    EnableActivityDetails:
                      type: boolean
                      description: Indicates whether the activity details panel is
                        enabled for this activity type.
                    VCardFormLayout:
                      type: string
                      description: The vCard form layout for the activity type. Returns
                        an empty string if not configured.
                    LockActivity:
                      type: object
                      properties:
                        CanLock:
                          type: boolean
                        Roles:
                          type: string
                      description: Contains settings for locking activities of this
                        type.
                    EntityType:
                      type: integer
                      description: The entity type this activity is associated with.
                    ActivityEventPluralName:
                      type: string
                      description: The plural display name of the activity type.
                    ModifiedBy:
                      type: string
                      description: The unique identifier of the user who last modified
                        the activity type.
                    ModifiedOn:
                      type: string
                      description: The date and time when the activity type was last
                        modified.
              example:
              - ID: abe5052f-5abc-11ed-b7fd-0218d8753a48
                ActivityEventName: Acuity Scheduling
                DisplayName: Acuity Scheduling
                ActivityEvent: 202
                Score: 0
                EventType: 2
                Tags: '{Custom}'
                Description: Manage your appointments online, ask your clients to
                  fill out intake forms at the point of booking and capture the prospect’s
                  every details in LeadSquared with ease.
                EventDirection: 0
                Order: 11004
                ActivityProperties: '{"RestrictCustomFields":false,"FormMetaData":[{"SchemaName":"ActivityEvent_Note","InternalName":"ActivityEvent_Note","DisplayName":"Notes","Value":null,"DataType":"String","IsMandatory":false,"ShowInForm":true,"Sequence":0,"ParentField":"","OptionSet":"","DependentOptionSet":"","IsDefault":true,"CustomObjectFormProperties":{"FileStorageVersion":-1},"IsReadOnly":false,"RenderType":"","ExportAsPlainText":false,"IsMultiSelectDropdown":false,"IncludeOthersOption":false,"BehaviorOnMissingDropdownOption":0,"IsOthersValue":false,"InternalSchemaName":"","StringRenderType":null,"IsViewRestrictedField":false},{"SchemaName":"Status","InternalName":"Status","DisplayName":"Status","Value":null,"DataType":"SearchableDropdown","IsMandatory":false,"ShowInForm":true,"Sequence":1,"ParentField":"","OptionSet":"[{\"IsDefault\":true,\"Text\":\"\",\"Value\":\"Active\",\"Order\":0,\"CanEdit\":1,\"CanDelete\":1,\"IsLastOption\":0,\"BackgroundColor\":null,\"FontColor\":null},{\"IsDefault\":false,\"Text\":\"\",\"Value\":\"Inactive\",\"Order\":1,\"CanEdit\":1,\"CanDelete\":1,\"IsLastOption\":0,\"BackgroundColor\":null,\"FontColor\":null}]","DependentOptionSet":"","IsDefault":true,"CustomObjectFormProperties":{"FileStorageVersion":-1},"IsReadOnly":false,"RenderType":"","ExportAsPlainText":false,"IsMultiSelectDropdown":false,"IncludeOthersOption":false,"BehaviorOnMissingDropdownOption":0,"IsOthersValue":false,"InternalSchemaName":"","CustomObjectType":2,"MaxFieldLength":200,"StringRenderType":null,"IsViewRestrictedField":false},{"SchemaName":"Owner","InternalName":"Owner","DisplayName":"Owner","Value":null,"DataType":"ActiveUsers","IsMandatory":false,"ShowInForm":true,"Sequence":1,"ParentField":"","OptionSet":"","DependentOptionSet":"","IsDefault":true,"CustomObjectFormProperties":{"FileStorageVersion":-1},"IsReadOnly":false,"RenderType":"","ExportAsPlainText":false,"IsMultiSelectDropdown":false,"IncludeOthersOption":false,"BehaviorOnMissingDropdownOption":0,"IsOthersValue":false,"InternalSchemaName":"Owner","CustomObjectType":2,"MaxFieldLength":200,"StringRenderType":null,"IsViewRestrictedField":false},{"SchemaName":"mx_Custom_1","InternalName":"mx_Custom_1","DisplayName":"Appointment
                  ID","Value":null,"DataType":"String","IsMandatory":false,"ShowInForm":true,"Sequence":1,"ParentField":"","OptionSet":"","DependentOptionSet":"","IsDefault":false,"CustomObjectFormProperties":{"FileStorageVersion":-1},"IsReadOnly":false,"RenderType":"","ExportAsPlainText":false,"IsMultiSelectDropdown":false,"IncludeOthersOption":false,"BehaviorOnMissingDropdownOption":0,"IsOthersValue":false,"InternalSchemaName":"","CustomObjectType":2,"MaxFieldLength":200,"StringRenderType":null,"IsViewRestrictedField":false},{"SchemaName":"mx_Custom_2","InternalName":"mx_Custom_2","DisplayName":"Event","Value":null,"DataType":"String","IsMandatory":false,"ShowInForm":true,"Sequence":1,"ParentField":"","OptionSet":"","DependentOptionSet":"","IsDefault":false,"CustomObjectFormProperties":{"FileStorageVersion":-1},"IsReadOnly":false,"RenderType":"","ExportAsPlainText":false,"IsMultiSelectDropdown":false,"IncludeOthersOption":false,"BehaviorOnMissingDropdownOption":0,"IsOthersValue":false,"InternalSchemaName":"","CustomObjectType":2,"MaxFieldLength":200,"StringRenderType":null,"IsViewRestrictedField":false},{"SchemaName":"mx_Custom_3","InternalName":"mx_Custom_3","DisplayName":"Subject","Value":null,"DataType":"String","IsMandatory":false,"ShowInForm":true,"Sequence":1,"ParentField":"","OptionSet":"","DependentOptionSet":"","IsDefault":false,"CustomObjectFormProperties":{"FileStorageVersion":-1},"IsReadOnly":false,"RenderType":"","ExportAsPlainText":false,"IsMultiSelectDropdown":false,"IncludeOthersOption":false,"BehaviorOnMissingDropdownOption":0,"IsOthersValue":false,"InternalSchemaName":"","CustomObjectType":2,"MaxFieldLength":200,"StringRenderType":null,"IsViewRestrictedField":false},{"SchemaName":"mx_Custom_4","InternalName":"mx_Custom_4","DisplayName":"Start
                  Time","Value":null,"DataType":"DateTime","IsMandatory":false,"ShowInForm":true,"Sequence":1,"ParentField":"","OptionSet":"","DependentOptionSet":"","IsDefault":false,"CustomObjectFormProperties":{"FileStorageVersion":-1},"IsReadOnly":false,"RenderType":"","ExportAsPlainText":false,"IsMultiSelectDropdown":false,"IncludeOthersOption":false,"BehaviorOnMissingDropdownOption":0,"IsOthersValue":false,"InternalSchemaName":"","CustomObjectType":2,"MaxFieldLength":200,"StringRenderType":null,"IsViewRestrictedField":false},{"SchemaName":"mx_Custom_5","InternalName":"mx_Custom_5","DisplayName":"Location","Value":null,"DataType":"String","IsMandatory":false,"ShowInForm":true,"Sequence":1,"ParentField":"","OptionSet":"","DependentOptionSet":"","IsDefault":false,"CustomObjectFormProperties":{"FileStorageVersion":-1},"IsReadOnly":false,"RenderType":"","ExportAsPlainText":false,"IsMultiSelectDropdown":false,"IncludeOthersOption":false,"BehaviorOnMissingDropdownOption":0,"IsOthersValue":false,"InternalSchemaName":"","CustomObjectType":2,"MaxFieldLength":200,"StringRenderType":null,"IsViewRestrictedField":false},{"SchemaName":"mx_Custom_6","InternalName":"mx_Custom_6","DisplayName":"Description","Value":null,"DataType":"String","IsMandatory":false,"ShowInForm":true,"Sequence":1,"ParentField":"","OptionSet":"","DependentOptionSet":"","IsDefault":false,"CustomObjectFormProperties":{"FileStorageVersion":-1},"IsReadOnly":false,"RenderType":"","ExportAsPlainText":false,"IsMultiSelectDropdown":false,"IncludeOthersOption":false,"BehaviorOnMissingDropdownOption":0,"IsOthersValue":false,"InternalSchemaName":"","CustomObjectType":2,"MaxFieldLength":200,"StringRenderType":null,"IsViewRestrictedField":false},{"SchemaName":"mx_Custom_7","InternalName":"mx_Custom_7","DisplayName":"Meeting
                  Duration (In minutes)","Value":null,"DataType":"Number","IsMandatory":false,"ShowInForm":true,"Sequence":1,"ParentField":"","OptionSet":"","DependentOptionSet":"","IsDefault":false,"CustomObjectFormProperties":{"FileStorageVersion":-1},"IsReadOnly":false,"RenderType":"","ExportAsPlainText":false,"IsMultiSelectDropdown":false,"IncludeOthersOption":false,"BehaviorOnMissingDropdownOption":0,"IsOthersValue":false,"InternalSchemaName":"","CustomObjectType":2,"MaxFieldLength":200,"StringRenderType":null,"IsViewRestrictedField":false}]}'
                CanRename: false
                CanDeleteActivity: false
                Total: 90
                TrackLocation: false
                IsEditable: 1
                Fields:
                - SchemaName: ActivityEvent_Note
                  InternalName: ActivityEvent_Note
                  DisplayName: Notes
                  Value: null
                  DataType: String
                  IsMandatory: false
                  ShowInForm: true
                  Sequence: 0
                  ParentField: ''
                  OptionSet: ''
                  DependentOptionSet: ''
                  IsDefault: true
                  IsReadOnly: false
                  RenderType: ''
                  ExportAsPlainText: false
                  IsMultiSelectDropdown: false
                  IncludeOthersOption: false
                  BehaviorOnMissingDropdownOption: 0
                  IsOthersValue: false
                  InternalSchemaName: ''
                  MaxFieldLength: 200
                  StringRenderType: null
                  IsViewRestrictedField: false
                - SchemaName: Status
                  InternalName: Status
                  DisplayName: Status
                  Value: null
                  DataType: SearchableDropdown
                  IsMandatory: false
                  ShowInForm: true
                  Sequence: 1
                  ParentField: ''
                  OptionSet: '[{"IsDefault":true,"Text":"","Value":"Active","Order":0,"CanEdit":1,"CanDelete":1,"IsLastOption":0,"BackgroundColor":null,"FontColor":null},{"IsDefault":false,"Text":"","Value":"Inactive","Order":1,"CanEdit":1,"CanDelete":1,"IsLastOption":0,"BackgroundColor":null,"FontColor":null}]'
                  DependentOptionSet: ''
                  IsDefault: true
                  IsReadOnly: false
                  RenderType: ''
                  ExportAsPlainText: false
                  IsMultiSelectDropdown: false
                  IncludeOthersOption: false
                  BehaviorOnMissingDropdownOption: 0
                  IsOthersValue: false
                  InternalSchemaName: ''
                  CustomObjectType: 2
                  MaxFieldLength: 200
                  StringRenderType: null
                  IsViewRestrictedField: false
                - SchemaName: Owner
                  InternalName: Owner
                  DisplayName: Owner
                  Value: null
                  DataType: ActiveUsers
                  IsMandatory: false
                  ShowInForm: true
                  Sequence: 1
                  ParentField: ''
                  OptionSet: ''
                  DependentOptionSet: ''
                  IsDefault: true
                  IsReadOnly: false
                  RenderType: ''
                  ExportAsPlainText: false
                  IsMultiSelectDropdown: false
                  IncludeOthersOption: false
                  BehaviorOnMissingDropdownOption: 0
                  IsOthersValue: false
                  InternalSchemaName: Owner
                  CustomObjectType: 2
                  MaxFieldLength: 200
                  StringRenderType: null
                  IsViewRestrictedField: false
                - SchemaName: mx_Custom_1
                  InternalName: mx_Custom_1
                  DisplayName: Appointment ID
                  Value: null
                  DataType: String
                  IsMandatory: false
                  ShowInForm: true
                  Sequence: 1
                  ParentField: ''
                  OptionSet: ''
                  DependentOptionSet: ''
                  IsDefault: false
                  IsReadOnly: false
                  RenderType: ''
                  ExportAsPlainText: false
                  IsMultiSelectDropdown: false
                  IncludeOthersOption: false
                  BehaviorOnMissingDropdownOption: 0
                  IsOthersValue: false
                  InternalSchemaName: ''
                  CustomObjectType: 2
                  MaxFieldLength: 200
                  StringRenderType: null
                  IsViewRestrictedField: false
                - SchemaName: mx_Custom_2
                  InternalName: mx_Custom_2
                  DisplayName: Event
                  Value: null
                  DataType: String
                  IsMandatory: false
                  ShowInForm: true
                  Sequence: 1
                  ParentField: ''
                  OptionSet: ''
                  DependentOptionSet: ''
                  IsDefault: false
                  IsReadOnly: false
                  RenderType: ''
                  ExportAsPlainText: false
                  IsMultiSelectDropdown: false
                  IncludeOthersOption: false
                  BehaviorOnMissingDropdownOption: 0
                  IsOthersValue: false
                  InternalSchemaName: ''
                  CustomObjectType: 2
                  MaxFieldLength: 200
                  StringRenderType: null
                  IsViewRestrictedField: false
                - SchemaName: mx_Custom_3
                  InternalName: mx_Custom_3
                  DisplayName: Subject
                  Value: null
                  DataType: String
                  IsMandatory: false
                  ShowInForm: true
                  Sequence: 1
                  ParentField: ''
                  OptionSet: ''
                  DependentOptionSet: ''
                  IsDefault: false
                  IsReadOnly: false
                  RenderType: ''
                  ExportAsPlainText: false
                  IsMultiSelectDropdown: false
                  IncludeOthersOption: false
                  BehaviorOnMissingDropdownOption: 0
                  IsOthersValue: false
                  InternalSchemaName: ''
                  CustomObjectType: 2
                  MaxFieldLength: 200
                  StringRenderType: null
                  IsViewRestrictedField: false
                - SchemaName: mx_Custom_4
                  InternalName: mx_Custom_4
                  DisplayName: Start Time
                  Value: null
                  DataType: DateTime
                  IsMandatory: false
                  ShowInForm: true
                  Sequence: 1
                  ParentField: ''
                  OptionSet: ''
                  DependentOptionSet: ''
                  IsDefault: false
                  IsReadOnly: false
                  RenderType: ''
                  ExportAsPlainText: false
                  IsMultiSelectDropdown: false
                  IncludeOthersOption: false
                  BehaviorOnMissingDropdownOption: 0
                  IsOthersValue: false
                  InternalSchemaName: ''
                  CustomObjectType: 2
                  MaxFieldLength: 200
                  StringRenderType: null
                  IsViewRestrictedField: false
                - SchemaName: mx_Custom_5
                  InternalName: mx_Custom_5
                  DisplayName: Location
                  Value: null
                  DataType: String
                  IsMandatory: false
                  ShowInForm: true
                  Sequence: 1
                  ParentField: ''
                  OptionSet: ''
                  DependentOptionSet: ''
                  IsDefault: false
                  IsReadOnly: false
                  RenderType: ''
                  ExportAsPlainText: false
                  IsMultiSelectDropdown: false
                  IncludeOthersOption: false
                  BehaviorOnMissingDropdownOption: 0
                  IsOthersValue: false
                  InternalSchemaName: ''
                  CustomObjectType: 2
                  MaxFieldLength: 200
                  StringRenderType: null
                  IsViewRestrictedField: false
                - SchemaName: mx_Custom_6
                  InternalName: mx_Custom_6
                  DisplayName: Description
                  Value: null
                  DataType: String
                  IsMandatory: false
                  ShowInForm: true
                  Sequence: 1
                  ParentField: ''
                  OptionSet: ''
                  DependentOptionSet: ''
                  IsDefault: false
                  IsReadOnly: false
                  RenderType: ''
                  ExportAsPlainText: false
                  IsMultiSelectDropdown: false
                  IncludeOthersOption: false
                  BehaviorOnMissingDropdownOption: 0
                  IsOthersValue: false
                  InternalSchemaName: ''
                  CustomObjectType: 2
                  MaxFieldLength: 200
                  StringRenderType: null
                  IsViewRestrictedField: false
                - SchemaName: mx_Custom_7
                  InternalName: mx_Custom_7
                  DisplayName: Meeting Duration (In minutes)
                  Value: null
                  DataType: Number
                  IsMandatory: false
                  ShowInForm: true
                  Sequence: 1
                  ParentField: ''
                  OptionSet: ''
                  DependentOptionSet: ''
                  IsDefault: false
                  IsReadOnly: false
                  RenderType: ''
                  ExportAsPlainText: false
                  IsMultiSelectDropdown: false
                  IncludeOthersOption: false
                  BehaviorOnMissingDropdownOption: 0
                  IsOthersValue: false
                  InternalSchemaName: ''
                  CustomObjectType: 2
                  MaxFieldLength: 200
                  StringRenderType: null
                  IsViewRestrictedField: false
                Direction: 0
                RestrictCustomFields: false
                ShowInActivityGrid: true
                FormLayout: '{"FormLayout":{"Sections":[{"DisplayName":"Activity Details","Fields":[{"SchemaName":"ActivityEventName","Colspan":1},{"SchemaName":"CreatedOn","Colspan":1},{"SchemaName":"AssociatedEntityIdName","Colspan":2},{"SchemaName":"ActivityEvent_Note","Colspan":2},{"SchemaName":"mx_Custom_1","Colspan":1},{"SchemaName":"mx_Custom_2","Colspan":1},{"SchemaName":"mx_Custom_3","Colspan":1},{"SchemaName":"mx_Custom_4","Colspan":1},{"SchemaName":"mx_Custom_5","Colspan":1},{"SchemaName":"mx_Custom_6","Colspan":1},{"SchemaName":"mx_Custom_7","Colspan":1}]}],"AvailableFields":[{"SchemaName":"Status","Colspan":1},{"SchemaName":"Owner","Colspan":1}]}}'
                AllowAttachments: false
                StatusReason: 0
                AuditActivity: false
                AllowPreDatedActivity: false
                ActionId: null
                QuickAdd: false
                Permissions: null
                EnableActivityDetails: false
                VCardFormLayout: ''
                LockActivity:
                  CanLock: false
                  Roles: ''
                EntityType: 2
                ActivityEventPluralName: Acuity Scheduling
                ModifiedBy: 3b1041fb-8374-11e7-8758-0a106ee76b21
                ModifiedOn: /Date(1696505074000+0000)/
              - ID: 3756875b-11bf-11ed-b7fd-0218d8753a48
                ActivityEventName: Agent Popup - Opportunity Share
                DisplayName: Opportunity Shared through Agent Popup
                ActivityEvent: 36
                Score: 0
                EventType: 2
                Tags: '{OpportunityId}'
                Description: Opportunity has been shared through Agent Popup
                EventDirection: 0
                Order: 24
                ActivityProperties: '{ "RestrictCustomFields":true }'
                CanRename: true
                CanDeleteActivity: false
                Total: 90
                TrackLocation: false
                IsEditable: 0
                Fields: []
                Direction: 0
                RestrictCustomFields: true
                ShowInActivityGrid: true
                FormLayout: ''
                AllowAttachments: false
                StatusReason: 0
                AuditActivity: false
                AllowPreDatedActivity: true
                ActionId: null
                QuickAdd: false
                Permissions: null
                EnableActivityDetails: false
                VCardFormLayout: ''
                LockActivity:
                  CanLock: false
                  Roles: null
                EntityType: 2
                ActivityEventPluralName: ''
                ModifiedOn: /Date(1659374848000+0000)/
              - ID: b3415621-1699-11ef-8053-020f15161885
                ActivityEventName: Approval
                DisplayName: Approval
                ActivityEvent: 220
                Score: 0
                EventType: 2
                Tags: '{Custom}'
                Description: Details of the Approval Request triggered for each approver
                  is logged in this activity.
                EventDirection: 1
                Order: 21505
                ActivityProperties: '{"RestrictCustomFields":false,"FormMetaData":[{"SchemaName":"Status","InternalName":"Status","DisplayName":"Status","Value":null,"DataType":"SearchableDropdown","IsMandatory":true,"ShowInForm":true,"Sequence":2,"ParentField":null,"OptionSet":"[{\"IsDefault\":true,\"Text\":\"\",\"Value\":\"Pending\",\"Order\":0,\"CanEdit\":1,\"CanDelete\":1,\"IsLastOption\":0},{\"IsDefault\":false,\"Text\":\"\",\"Value\":\"Approved\",\"Order\":1,\"CanEdit\":1,\"CanDelete\":1,\"IsLastOption\":0},{\"IsDefault\":false,\"Text\":\"\",\"Value\":\"Rejected\",\"Order\":2,\"CanEdit\":1,\"CanDelete\":1,\"IsLastOption\":0},{\"IsDefault\":false,\"Text\":\"\",\"Value\":\"Bypassed\",\"Order\":3,\"CanEdit\":1,\"CanDelete\":1,\"IsLastOption\":0},{\"IsDefault\":false,\"Text\":\"\",\"Value\":\"Undefined\",\"Order\":4,\"CanEdit\":1,\"CanDelete\":1,\"IsLastOption\":0},{\"IsDefault\":false,\"Text\":\"\",\"Value\":\"Rejected
                  by Previous Approver\",\"Order\":5,\"CanEdit\":1,\"CanDelete\":1,\"IsLastOption\":0}]","DependentOptionSet":null,"IsDefault":false,"IsReadOnly":false,"RenderType":null,"ExportAsPlainText":false,"IsMultiSelectDropdown":false,"IncludeOthersOption":false,"BehaviorOnMissingDropdownOption":0,"IsOthersValue":false,"StringRenderType":null,"IsViewRestrictedField":false},{"SchemaName":"Owner","InternalName":"Owner","DisplayName":"Owner","Value":null,"DataType":"ActiveUsers","IsMandatory":false,"ShowInForm":true,"Sequence":1,"ParentField":"","OptionSet":"","DependentOptionSet":"","IsDefault":true,"IsReadOnly":false,"RenderType":"","ExportAsPlainText":false,"IsMultiSelectDropdown":false,"IncludeOthersOption":false,"BehaviorOnMissingDropdownOption":0,"IsOthersValue":false,"InternalSchemaName":"","MaxFieldLength":200,"StringRenderType":null,"IsViewRestrictedField":false},{"SchemaName":"ActivityEvent_Note","InternalName":"ActivityEvent_Note","DisplayName":"Notes","Value":null,"DataType":"String","IsMandatory":false,"ShowInForm":true,"Sequence":0,"ParentField":null,"OptionSet":"","DependentOptionSet":null,"IsDefault":false,"IsReadOnly":false,"RenderType":null,"ExportAsPlainText":false,"IsMultiSelectDropdown":false,"IncludeOthersOption":false,"BehaviorOnMissingDropdownOption":0,"IsOthersValue":false,"StringRenderType":null,"IsViewRestrictedField":false},{"SchemaName":"mx_Custom_1","InternalName":"mx_Custom_1","DisplayName":"Approval
                  Flow Name","Value":null,"DataType":"String","IsMandatory":true,"ShowInForm":true,"Sequence":3,"ParentField":null,"OptionSet":null,"DependentOptionSet":null,"IsDefault":false,"IsReadOnly":false,"RenderType":null,"ExportAsPlainText":false,"IsMultiSelectDropdown":false,"IncludeOthersOption":false,"BehaviorOnMissingDropdownOption":0,"IsOthersValue":false,"StringRenderType":null,"IsViewRestrictedField":false},{"SchemaName":"mx_Custom_2","InternalName":"mx_Custom_2","DisplayName":"Rule
                  Name","Value":null,"DataType":"String","IsMandatory":true,"ShowInForm":true,"Sequence":4,"ParentField":null,"OptionSet":null,"DependentOptionSet":null,"IsDefault":false,"IsReadOnly":false,"RenderType":null,"ExportAsPlainText":false,"IsMultiSelectDropdown":false,"IncludeOthersOption":false,"BehaviorOnMissingDropdownOption":0,"IsOthersValue":false,"StringRenderType":null,"IsViewRestrictedField":false},{"SchemaName":"mx_Custom_3","InternalName":"mx_Custom_3","DisplayName":"Approval
                  Initiated On","Value":null,"DataType":"DateTime","IsMandatory":true,"ShowInForm":true,"Sequence":5,"ParentField":null,"OptionSet":null,"DependentOptionSet":null,"IsDefault":false,"IsReadOnly":false,"RenderType":null,"ExportAsPlainText":false,"IsMultiSelectDropdown":false,"IncludeOthersOption":false,"BehaviorOnMissingDropdownOption":0,"IsOthersValue":false,"StringRenderType":null,"IsViewRestrictedField":false},{"SchemaName":"mx_Custom_4","InternalName":"mx_Custom_4","DisplayName":"Assigned
                  to Approver On","Value":null,"DataType":"DateTime","IsMandatory":true,"ShowInForm":true,"Sequence":6,"ParentField":null,"OptionSet":null,"DependentOptionSet":null,"IsDefault":false,"IsReadOnly":false,"RenderType":null,"ExportAsPlainText":false,"IsMultiSelectDropdown":false,"IncludeOthersOption":false,"BehaviorOnMissingDropdownOption":0,"IsOthersValue":false,"StringRenderType":null,"IsViewRestrictedField":false},{"SchemaName":"mx_Custom_5","InternalName":"mx_Custom_5","DisplayName":"Requestor","Value":null,"DataType":"ActiveUsers","IsMandatory":true,"ShowInForm":true,"Sequence":7,"ParentField":null,"OptionSet":null,"DependentOptionSet":null,"IsDefault":false,"IsReadOnly":false,"RenderType":null,"ExportAsPlainText":false,"IsMultiSelectDropdown":false,"IncludeOthersOption":false,"BehaviorOnMissingDropdownOption":0,"IsOthersValue":false,"StringRenderType":null,"IsViewRestrictedField":false},{"SchemaName":"mx_Custom_6","InternalName":"mx_Custom_6","DisplayName":"Approver","Value":null,"DataType":"ActiveUsers","IsMandatory":false,"ShowInForm":true,"Sequence":8,"ParentField":null,"OptionSet":null,"DependentOptionSet":null,"IsDefault":false,"IsReadOnly":false,"RenderType":null,"ExportAsPlainText":false,"IsMultiSelectDropdown":false,"IncludeOthersOption":false,"BehaviorOnMissingDropdownOption":0,"IsOthersValue":false,"StringRenderType":null,"IsViewRestrictedField":false},{"SchemaName":"mx_Custom_7","InternalName":"mx_Custom_7","DisplayName":"Level","Value":null,"DataType":"String","IsMandatory":true,"ShowInForm":true,"Sequence":9,"ParentField":null,"OptionSet":null,"DependentOptionSet":null,"IsDefault":false,"IsReadOnly":false,"RenderType":null,"ExportAsPlainText":false,"IsMultiSelectDropdown":false,"IncludeOthersOption":false,"BehaviorOnMissingDropdownOption":0,"IsOthersValue":false,"StringRenderType":null,"IsViewRestrictedField":false},{"SchemaName":"mx_Custom_8","InternalName":"mx_Custom_8","DisplayName":"Approval
                  Actioned On","Value":null,"DataType":"DateTime","IsMandatory":false,"ShowInForm":true,"Sequence":10,"ParentField":null,"OptionSet":null,"DependentOptionSet":null,"IsDefault":false,"IsReadOnly":false,"RenderType":null,"ExportAsPlainText":false,"IsMultiSelectDropdown":false,"IncludeOthersOption":false,"BehaviorOnMissingDropdownOption":0,"IsOthersValue":false,"StringRenderType":null,"IsViewRestrictedField":false},{"SchemaName":"mx_Custom_9","InternalName":"mx_Custom_9","DisplayName":"Approval
                  Type","Value":null,"DataType":"SearchableDropdown","IsMandatory":true,"ShowInForm":true,"Sequence":11,"ParentField":null,"OptionSet":"[{\"IsDefault\":true,\"Text\":\"\",\"Value\":\"Approval\",\"Order\":0,\"CanEdit\":1,\"CanDelete\":1,\"IsLastOption\":0},{\"IsDefault\":false,\"Text\":\"\",\"Value\":\"Deviation\",\"Order\":1,\"CanEdit\":1,\"CanDelete\":1,\"IsLastOption\":0}]","DependentOptionSet":null,"IsDefault":false,"IsReadOnly":false,"RenderType":null,"ExportAsPlainText":false,"IsMultiSelectDropdown":false,"IncludeOthersOption":false,"BehaviorOnMissingDropdownOption":0,"IsOthersValue":false,"StringRenderType":null,"IsViewRestrictedField":false},{"SchemaName":"mx_Custom_10","InternalName":"mx_Custom_10","DisplayName":"Approval
                  Request ID","Value":null,"DataType":"String","IsMandatory":true,"ShowInForm":true,"Sequence":12,"ParentField":null,"OptionSet":null,"DependentOptionSet":null,"IsDefault":false,"IsReadOnly":false,"RenderType":null,"ExportAsPlainText":false,"IsMultiSelectDropdown":false,"IncludeOthersOption":false,"BehaviorOnMissingDropdownOption":0,"IsOthersValue":false,"StringRenderType":null,"IsViewRestrictedField":false},{"SchemaName":"mx_Custom_11","InternalName":"mx_Custom_11","DisplayName":"Source
                  Entity","Value":null,"DataType":"SearchableDropdown","IsMandatory":true,"ShowInForm":true,"Sequence":13,"ParentField":null,"OptionSet":"[{\"IsDefault\":true,\"Text\":\"\",\"Value\":\"Lead\",\"Order\":0,\"CanEdit\":1,\"CanDelete\":1,\"IsLastOption\":0},{\"IsDefault\":false,\"Text\":\"\",\"Value\":\"Opportunity\",\"Order\":1,\"CanEdit\":1,\"CanDelete\":1,\"IsLastOption\":0},{\"IsDefault\":false,\"Text\":\"\",\"Value\":\"Activity\",\"Order\":2,\"CanEdit\":1,\"CanDelete\":1,\"IsLastOption\":0}]","DependentOptionSet":null,"IsDefault":false,"IsReadOnly":false,"RenderType":null,"ExportAsPlainText":false,"IsMultiSelectDropdown":false,"IncludeOthersOption":false,"BehaviorOnMissingDropdownOption":0,"IsOthersValue":false,"StringRenderType":null,"IsViewRestrictedField":false},{"SchemaName":"mx_Custom_12","InternalName":"mx_Custom_12","DisplayName":"Activity
[...]
