openapi: 3.0.3
info:
  title: LeadSquared Service CRM
  version: 1.0.0
  description: Generated by postman_to_openapi 1.0.0
servers:
- description: India Mumbai
  url: https://apigw.service-in.leadsquared.com
tags:
- name: Root
x-tagGroups:
- name: Root APIs > Root
  tags:
  - Root
paths:
  /api/tenants/{orgID}/tickets:
    post:
      summary: Create Tickets
      operationId: create-tickets
      tags:
      - Root
      responses:
        '200':
          description: Create Tickets
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                    description: The overall result of the request. Returns `Success`
                      when the ticket is created successfully.
                  ReasonForFailure:
                    type: string
                    nullable: true
                    description: Describes the reason for failure if the request was
                      unsuccessful. Returns `null` on success.
                  Id:
                    type: string
                    description: The auto-incremented numeric identifier assigned
                      to the ticket.
                  Message:
                    type: string
                    description: A status message indicating the result of the request.
                      Returns `Ticket has been created successfully` on success.
                  Key:
                    type: string
                    description: 'The ticket''s reference number (e.g., #160).'
                  TicketId:
                    type: string
                    description: The unique identifier of the created ticket.
              example:
                Status: Success
                ReasonForFailure: null
                Id: '160'
                Message: Ticket has been created successfully
                Key: '#160'
                TicketId: 23066149-a8a3-497c-a479-4ce6fc18b5a4
      description: "Lets you create a new ticket in [LeadSquared’s Service CRM platform](https://help.leadsquared.com/service-crm/service-crm-feature-overview/).\n\
        \nYou can pass as many ticket fields (including custom fields) as you want,\
        \ but it is mandatory to pass at least one of the following lead fields –\n\
        \n- LeadDetail.EmailAddress\n    \n- LeadId\n    \n- LeadDetail.Phone\n  \
        \  \n\n## Prerequisite\n\nBefore you pass this API, the API Configurations\
        \ setting must be enabled on your account. To do this –\n\n1. On your LeadSquared\
        \ account, navigate to [My Profile&gt;Settings&gt;Service Cloud](https://in21.leadsquared.com/a/ServiceCloud),\
        \ and click **API Configurations**.\n    \n2. Alongside **Enable API**, enable\
        \ the slider.\n    \n    1. Alongside **Enable IP Whitelisting**, enable the\
        \ slider and add the IPs you want to whitelist. This is optional.\n      \
        \  \n3. Once you’re done, click **Save**.\n    \n\n**Note:**\n\n- To obtain\
        \ the host API URL, contact your account manager, or write to [scsupport@leadsquared.com](https://mailto:scsupport@leadsquared.com).\n\
        \    \n- You can find the org ID after logging into your [LeadSquared account](https://login.leadsquared.com/Home/).\n\
        \    \n\n## Payload\n\n| **Parameter** | **Description** | **Data Type** |\
        \ **Required** |\n| --- | --- | --- | --- |\n| `TypeId` | Specifies the ticket\
        \ type. Pass 1 by default. | `String` | Yes |\n| `Id` | Pass `null`. | `null`\
        \ | Yes |\n| `Fields` | Pass the schema names of the system and custom ticket\
        \ and lead fields, along with their corresponding values.  <br>  <br>You must\
        \ include all the mandatory ticket fields configured in your account. Additionally,\
        \ you must also include one of the following lead fields –  <br>  <br>`EmailAddress`\
        \ – The lead’s email address.  <br>  <br>`LeadID` – The lead’s unique Id.\
        \ To obtain this Id, refer to Get a Lead by Email or Get a Lead by Phone Number.\
        \  <br>  <br>`LeadDetail.Phone` – The lead’s phone number. | `String` | Yes\
        \ |\n| `RelatedTicketTypeId` | Specifies the ticket type.  <br>  <br>Pass\
        \ 1 by default. | `Integer` | Yes |"
      parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
        description: You can find the org ID in the profile dropdown after logging
          into your LeadSquared account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                TypeId:
                  type: string
                  description: Specifies the ticket type. Pass 1 by default.
                Id:
                  type: string
                  nullable: true
                  description: Pass null.
                LeadId:
                  type: string
                  description: 'The lead’s unique Id. To obtain this Id, refer to
                    Get a Lead by Email or Get a Lead by Phone Number.  '
                Fields:
                  type: array
                  items:
                    type: object
                    properties:
                      SchemaName:
                        type: string
                      Value:
                        type: string
                  description: "Pass the schema names of the system and custom ticket\
                    \ and lead fields, along with their corresponding values.  \n\
                    \  \nYou must include all the mandatory ticket fields configured\
                    \ in your account. Additionally, you must also include one of\
                    \ the following lead fields –  \n  \n`EmailAddress` – The lead’s\
                    \ email address.  \n  \n`LeadID` – The lead’s unique Id. To obtain\
                    \ this Id, refer to Get a Lead by Email or Get a Lead by Phone\
                    \ Number.  \n  \n`LeadDetail.Phone` – The lead’s phone number."
                RelatedTicketTypeId:
                  type: integer
                  description: "Specifies the ticket type.  \n  \nPass 1 by default."
              required:
              - TypeId
              - Id
              - RelatedTicketTypeId
              - LeadId
            example:
              TypeId: '1'
              Id: null
              LeadId: 45b5fded-e696-45a6-9fbb-c6a
              Fields:
              - SchemaName: Title
                Value: Test ticket from API
              - SchemaName: RelatedCustomerId
                Value: 45b5fded-e696-45a6-9fbb-c6af6
              - SchemaName: Description
                Value: Test ticket from External API
              - SchemaName: Type
                Value: General
              - SchemaName: Status
                Value: Open
              - SchemaName: Priority
                Value: Low
              - SchemaName: Channel
                Value: Chat
              RelatedTicketTypeId: 1
  /api/tenants/{orgID}/tickets/{ticketNumber}:
    get:
      summary: Get a Ticket's Details by Id
      operationId: get-a-tickets-details-by-id
      tags:
      - Root
      responses:
        '200':
          description: Get a Ticket's Details by Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  TypeId:
                    type: string
                    description: The ticket type identifier.
                  Id:
                    type: string
                    description: The numeric identifier assigned to the ticket.
                  TicketId:
                    type: string
                    description: The unique identifier of the ticket.
                  LeadId:
                    type: string
                    description: The unique identifier of the lead associated with
                      the ticket.
                  OpportunityId:
                    type: string
                    nullable: true
                    description: The unique identifier of the opportunity linked to
                      the ticket. Returns `null` if no opportunity is associated.
                  Association:
                    type: integer
                    description: Indicates the ticket's association type.
                  BulkUpdate:
                    type: boolean
                    description: Indicates whether the ticket was created or updated
                      as part of a bulk operation.
                  Dispose:
                    type: boolean
                    description: Indicates whether the ticket is marked for disposal.
                  Fields:
                    type: array
                    items:
                      type: object
                      properties:
                        SchemaName:
                          type: string
                        Value:
                          type: string
                        SubFields:
                          type: string
                          nullable: true
                    description: A list of ticket field objects containing the ticket's
                      system and custom field values.
                  UserPermissions:
                    type: object
                    properties:
                      CreateTicket:
                        type: object
                        properties:
                          Allowed:
                            type: boolean
                          Scopes:
                            type: array
                            items:
                              type: string
                          ScopeFilters:
                            type: array
                            items:
                              type: string
                      AssignTicket:
                        type: object
                        properties:
                          Allowed:
                            type: boolean
                          ScopeFilters:
                            type: array
                            items:
                              type: string
                      UpdateTicket:
                        type: object
                        properties:
                          Allowed:
                            type: boolean
                          ScopeFilters:
                            type: array
                            items:
                              type: string
                      DeleteTicket:
                        type: object
                        properties:
                          Allowed:
                            type: boolean
                          ScopeFilters:
                            type: array
                            items:
                              type: string
                      EditOwnInternalNote:
                        type: object
                        properties:
                          Allowed:
                            type: boolean
                          ScopeFilters:
                            type: array
                            items:
                              type: string
                      MarkTicketSpam:
                        type: object
                        properties:
                          Allowed:
                            type: boolean
                          ScopeFilters:
                            type: array
                            items:
                              type: string
                      CloseTicket:
                        type: object
                        properties:
                          Allowed:
                            type: boolean
                          ScopeFilters:
                            type: array
                            items:
                              type: string
                      ExportTicket:
                        type: object
                        properties:
                          Allowed:
                            type: boolean
                          ScopeFilters:
                            type: array
                            items:
                              type: string
                      PurgeTicket:
                        type: object
                        properties:
                          Allowed:
                            type: boolean
                          ScopeFilters:
                            type: array
                            items:
                              type: string
                      ImportTicket:
                        type: object
                        properties:
                          Allowed:
                            type: boolean
                          ScopeFilters:
                            type: array
                            items:
                              type: string
                      BulkUpdateTicket:
                        type: object
                        properties:
                          Allowed:
                            type: boolean
                          ScopeFilters:
                            type: array
                            items:
                              type: string
                      EnableKnowledgeBase:
                        type: object
                        properties:
                          Allowed:
                            type: boolean
                          ScopeFilters:
                            type: array
                            items: {}
                      ViewTicket:
                        type: object
                        properties:
                          Allowed:
                            type: boolean
                          ScopeFilters:
                            type: array
                            items:
                              type: string
                      ResolveTicket:
                        type: object
                        properties:
                          Allowed:
                            type: boolean
                          ScopeFilters:
                            type: array
                            items:
                              type: string
                      EditInternalNote:
                        type: object
                        properties:
                          Allowed:
                            type: boolean
                          ScopeFilters:
                            type: array
                            items:
                              type: string
                      Reply:
                        type: object
                        properties:
                          Allowed:
                            type: boolean
                          ScopeFilters:
                            type: array
                            items:
                              type: string
                      AddInternalNote:
                        type: object
                        properties:
                          Allowed:
                            type: boolean
                          ScopeFilters:
                            type: array
                            items:
                              type: string
                      CreateChildTicket:
                        type: object
                        properties:
                          Allowed:
                            type: boolean
                          Scopes:
                            type: array
                            items:
                              type: string
                          ScopeFilters:
                            type: array
                            items:
                              type: string
                      CreateTags:
                        type: object
                        properties:
                          Allowed:
                            type: boolean
                          Scopes:
                            type: array
                            items:
                              type: string
                          ScopeFilters:
                            type: array
                            items:
                              type: string
                      MergeTicket:
                        type: object
                        properties:
                          Allowed:
                            type: boolean
                          ScopeFilters:
                            type: array
                            items:
                              type: string
                    description: An object containing the ticket-related permissions
                      available to the current user. Each permission key (e.g., `CreateTicket`,
                      `AssignTicket`, `DeleteTicket`) maps to a permission object.
                  TriggerSLA:
                    type: boolean
                    description: Indicates whether SLA rules are triggered for this
                      ticket.
                  TriggerAssignmentRule:
                    type: boolean
                    description: Indicates whether assignment rules are triggered
                      for this ticket.
                  TriggerAutomation:
                    type: boolean
                    description: Indicates whether automation workflows are triggered
                      for this ticket.
                  TriggerTicketEvents:
                    type: string
                    nullable: true
                    description: Indicates whether ticket events are triggered. Returns
                      `null` if not configured.
                  TriggerNotification:
                    type: boolean
                    description: Indicates whether notifications are triggered for
                      this ticket.
                  SkipSlaEvaluation:
                    type: boolean
                    description: Indicates whether SLA evaluation is skipped for this
                      ticket.
                  IsVisited:
                    type: string
                    nullable: true
                    description: Indicates whether the ticket has been viewed. Returns
                      `null` if not tracked.
                  IsMigrated:
                    type: boolean
                    description: Indicates whether the ticket was migrated from another
                      system.
                  IsUpdated:
                    type: boolean
                    description: Indicates whether the ticket has been updated since
                      creation.
                  IsLeadRestricted:
                    type: boolean
                    description: Indicates whether the associated lead has restricted
                      access.
                  TicketCreationType:
                    type: string
                    description: Specifies how the ticket was created (e.g., SYSTEM).
                  CallSessionId:
                    type: string
                    nullable: true
                    description: The identifier of the call session linked to the
                      ticket. Returns `null` if no call session is associated.
                  TicketSource:
                    type: string
                    nullable: true
                    description: The source from which the ticket was created. Returns
                      null if not specified.
                  Origin:
                    type: string
                    nullable: true
                    description: The origin of the ticket. Returns `null` if not specified.
                  AssignedToAiAgent:
                    type: string
                    nullable: true
                    description: Indicates whether the ticket is assigned to an AI
                      agent. Returns `null` if not applicable.
                  TransferredToManualAgent:
                    type: string
                    nullable: true
                    description: Indicates whether the ticket was transferred from
                      an AI agent to a manual agent. Returns `null` if not applicable.
                  PrimaryTicket:
                    type: boolean
                    description: Indicates whether this is the primary ticket in a
                      merged ticket group.
                  V2Api:
                    type: boolean
                    description: Indicates whether the ticket was created using the
                      V2 API.
              example:
                TypeId: 'null'
                Id: '160'
                TicketId: 23066149-a8a3-497c-a479-4ce6
                LeadId: 45b5fded-e696-45a6-9fbb-c6af
                OpportunityId: null
                Association: 0
                BulkUpdate: false
                Dispose: false
                Fields:
                - SchemaName: Type
                  Value: General
                  SubFields: null
                - SchemaName: TicketKey
                  Value: '#160'
                  SubFields: null
                - SchemaName: Title
                  Value: Test ticket from API
                  SubFields: null
                - SchemaName: Description
                  Value: Test ticket from External API
                  SubFields: null
                - SchemaName: Status
                  Value: Open
                  SubFields: null
                - SchemaName: Priority
                  Value: Low
                  SubFields: null
                - SchemaName: Channel
                  Value: Chat
                  SubFields: null
                - SchemaName: CcEmails
                  Value: ''
                  SubFields: null
                - SchemaName: Tags
                  Value: null
                  SubFields: null
                - SchemaName: DueDate
                  Value: '2025-08-30T09:18:58'
                  SubFields: null
                - SchemaName: SubType
                  Value: null
                  SubFields: null
                - SchemaName: TicketCategoryId
                  Value: null
                  SubFields: null
                - SchemaName: RelatedServiceGroupId
                  Value: 2
                  SubFields: null
                - SchemaName: RelatedAgentId
                  Value: c1826f52-ea88-11ee-9566-020f15161885
                  SubFields: null
                - SchemaName: RelatedStageId
                  Value: null
                  SubFields: null
                - SchemaName: RelatedRequester
                  Value: null
                  SubFields: null
                - SchemaName: JiraId
                  Value: null
                  SubFields: null
                UserPermissions:
                  CreateTicket:
                    Allowed: true
                    Scopes:
                    - all-tickets
                    ScopeFilters:
                    - ALL_TICKETS
                  AssignTicket:
                    Allowed: true
                    ScopeFilters:
                    - ALL_TICKETS
                  UpdateTicket:
                    Allowed: true
                    ScopeFilters:
                    - ALL_TICKETS
                  DeleteTicket:
                    Allowed: true
                    ScopeFilters:
                    - ALL_TICKETS
                  EditOwnInternalNote:
                    Allowed: true
                    ScopeFilters:
                    - ALL_TICKETS
                  MarkTicketSpam:
                    Allowed: true
                    ScopeFilters:
                    - ALL_TICKETS
                  CloseTicket:
                    Allowed: true
                    ScopeFilters:
                    - ALL_TICKETS
                  ExportTicket:
                    Allowed: true
                    ScopeFilters:
                    - ALL_TICKETS
                  PurgeTicket:
                    Allowed: true
                    ScopeFilters:
                    - ALL_TICKETS
                  ImportTicket:
                    Allowed: true
                    ScopeFilters:
                    - ALL_TICKETS
                  BulkUpdateTicket:
                    Allowed: true
                    ScopeFilters:
                    - ALL_TICKETS
                  EnableKnowledgeBase:
                    Allowed: false
                    ScopeFilters: []
                  ViewTicket:
                    Allowed: true
                    ScopeFilters:
                    - ALL_TICKETS
                  ResolveTicket:
                    Allowed: true
                    ScopeFilters:
                    - ALL_TICKETS
                  EditInternalNote:
                    Allowed: true
                    ScopeFilters:
                    - ALL_TICKETS
                  Reply:
                    Allowed: true
                    ScopeFilters:
                    - ALL_TICKETS
                  AddInternalNote:
                    Allowed: true
                    ScopeFilters:
                    - ALL_TICKETS
                  CreateChildTicket:
                    Allowed: true
                    Scopes:
                    - all-tickets
                    ScopeFilters:
                    - ALL_TICKETS
                  CreateTags:
                    Allowed: true
                    Scopes:
                    - all-tickets
                    ScopeFilters:
                    - ALL_TICKETS
                  MergeTicket:
                    Allowed: true
                    ScopeFilters:
                    - ALL_TICKETS
                TriggerSLA: true
                TriggerAssignmentRule: true
                TriggerAutomation: true
                TriggerTicketEvents: null
                TriggerNotification: true
                SkipSlaEvaluation: false
                IsVisited: null
                IsMigrated: false
                IsUpdated: false
                IsLeadRestricted: false
                TicketCreationType: SYSTEM
                CallSessionId: null
                TicketSource: null
                Origin: null
                AssignedToAiAgent: null
                TransferredToManualAgent: null
                PrimaryTicket: false
                V2Api: false
      description: "Lets you fetch the details of an existing ticket from [LeadSquared’s\
        \ Service CRM platform](https://help.leadsquared.com/service-crm/service-crm-feature-overview/).\
        \ This API returns the details of a single ticket (Associated Lead ID, Ticket\
        \ Status, etc.) based on the `TicketNumber` you pass in the API URL.\n\nTo\
        \ obtain the `TicketNumber`, navigate to the [Ticket Details Page](https://help.leadsquared.com/service-crm/service-agent-ticket-details-page/),\
        \ and copy the number from the page.\n\n<img src=\"https://content.pstmn.io/746bb873-8c35-4f23-83f0-0dc10a71d787/aW1hZ2UucG5n\"\
        \ width=\"1921\" height=\"826\">\n\n## Prerequisite\n\nBefore you pass this\
        \ API, the API Configurations setting must be enabled on your account. To\
        \ do this –\n\n1. On your LeadSquared account, navigate to [My Profile&gt;Settings&gt;Service\
        \ Cloud](https://in21.leadsquared.com/a/ServiceCloud), and click **API Configurations**.\n\
        \    \n2. Alongside **Enable API**, enable the slider.\n    \n    1. Alongside\
        \ **Enable IP Whitelisting**, enable the slider and add the IPs you want to\
        \ whitelist. This is optional.\n        \n3. Once you’re done, click **Save**.\n\
        \    \n\n**Note:**\n\n- To obtain the host API URL, contact your account manager,\
        \ or write to [scsupport@leadsquared.com](https://mailto:scsupport@leadsquared.com).\n\
        \    \n- You can find the org ID after logging into your [LeadSquared account](https://login.leadsquared.com/Home/)."
      parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
        description: 'You can find the org ID on the profile settings drop down after
          logging into your LeadSquared account.


          '
      - name: ticketNumber
        in: path
        required: true
        schema:
          type: string
        description: To obtain the TicketNumber, navigate to the Ticket Details Page,
          and copy the number from the page.
  /api/tenants/{orgID}/tickets/search:
    post:
      summary: Tickets Advance Search
      operationId: tickets-advance-search
      tags:
      - Root
      responses:
        '200':
          description: Tickets Advance Search
          content:
            application/json:
              schema:
                type: object
                properties:
                  Total:
                    type: integer
                    description: The total number of tickets matching the search criteria.
                  FallBack:
                    type: boolean
                    description: Indicates whether the response fell back to a broader
                      search when no exact matches were found.
                  ShowFallbackMessage:
                    type: boolean
                    description: Indicates whether a fallback message should be displayed
                      to the user.
                  Tickets:
                    type: array
                    items:
                      type: object
                      properties:
                        Id:
                          type: integer
                          description: The numeric identifier of the ticket.
                        TicketKey:
                          type: string
                          description: 'The ticket''s display key, prefixed with #
                            (e.g., #052).'
                        TicketId:
                          type: string
                          description: The unique identifier of the ticket.
                        Title:
                          type: string
                          description: The title or subject of the ticket.
                        Description:
                          type: string
                          description: The ticket description. Returns `null` if no
                            description is set.
                        Channel:
                          type: string
                          description: 'The channel through which the ticket was created
                            (e.g., `Chat`, `Email`, `Portal`). '
                        Status:
                          type: string
                          description: The current status of the ticket (e.g., `Open`).
                        Priority:
                          type: string
                          description: The priority level of the ticket.
                        Tags:
                          type: array
                          items: {}
                          description: A list of tag objects associated with the ticket.
                        CustomData:
                          type: object
                          properties:
                            SRC_CS_2:
                              type: string
                          description: A key-value map of custom field schema names
                            and their values.
                        RelatedCustomerId:
                          type: string
                          description: The unique identifier of the customer (lead)
                            associated with the ticket.
                        CustomerData:
                          type: object
                          properties:
                            FirstName:
                              type: string
                            LastName:
                              type: string
                            Name:
                              type: string
                            EmailAddress:
                              type: string
                            Phone:
                              type: string
                          description: An object containing the associated customer's
                            details.
                        RelatedServiceGroupId:
                          type: integer
                          description: The identifier of the service group assigned
                            to the ticket.
                        RelatedAgentId:
                          type: string
                          description: The unique identifier of the agent assigned
                            to the ticket.
                        DueDate:
                          type: string
                          description: The ticket's due date and time.
                        Spam:
                          type: boolean
                          description: Indicates whether the ticket is marked as spam.
                        Deleted:
                          type: boolean
                          description: Indicates whether the ticket has been deleted.
                        Deletable:
                          type: boolean
                          description: Indicates whether the ticket can be deleted.
                        CreatedBy:
                          type: string
                          description: The name of the user who created the ticket.
                        CreatedOn:
                          type: string
                          description: The date and time the ticket was created.
                        ModifiedBy:
                          type: string
                          description: The name of the user or system that last modified
                            the ticket (e.g., `Automation`, `Webhook`).
                        ModifiedOn:
                          type: string
                          description: The date and time the ticket was last modified.
                        AgentName:
                          type: string
                          description: The display name of the assigned agent.
                        Sla:
                          type: object
                          properties:
                            ActualResolutionDue:
                              type: string
                              nullable: true
                            ActualFirstResponseDue:
                              type: string
                              nullable: true
                            ActualNextResponseDue:
                              type: string
                              nullable: true
                            FirstResponseBreached:
                              type: boolean
                            ResolutionBreached:
                              type: boolean
                            NextResponseBreached:
                              type: boolean
                            FirstResponseEnabled:
                              type: boolean
                            NextResponseEnabled:
                              type: boolean
                            FirstResponseTemplate:
                              type: string
                            NextResponseTemplate:
                              type: string
                              nullable: true
                            ResolutionTemplate:
                              type: string
                            ResolutionTag:
                              type: string
                            FirstResponseTag:
                              type: string
                            NextResponseTag:
                              type: string
                              nullable: true
                            FirstResponseDifference:
                              type: integer
                            ResolutionDifference:
                              type: integer
                            NextResponseDifference:
                              type: integer
                            Paused:
                              type: boolean
                            TotalPauseDuration:
                              type: integer
                            PauseDetails:
                              type: string
                              nullable: true
                            TicketSla:
                              type: array
                              items:
                                type: object
                                properties:
                                  SupposedResolutionDue:
                                    type: string
                                  SupposedFirstResponseDue:
                                    type: string
                                  SupposedNextResponseDue:
                                    type: string
                                    nullable: true
                                  NextResponseDueString:
                                    type: string
                                    nullable: true
                                  FirstResponseDueString:
                                    type: string
                                    nullable: true
                                  ResolutionDueString:
                                    type: string
                                    nullable: true
                                  NextResponseDuration:
                                    type: string
                                    nullable: true
                                  Priority:
                                    type: string
                                  Reminder:
                                    type: boolean
                                  Escalation:
                                    type: boolean
                            SlaId:
                              type: integer
                            FirstResponseReminder:
                              type: string
                              nullable: true
                            ResolutionReminder:
                              type: string
                              nullable: true
                            NextResponseReminder:
                              type: string
                              nullable: true
                            FirstResponseEscalation:
                              type: string
                              nullable: true
                            ResolutionEscalation:
                              type: string
                              nullable: true
                            NextResponseEscalation:
                              type: string
                              nullable: true
                            WorkdayTemplate:
                              type: object
                              properties:
                                Id:
                                  type: string
                                Name:
                                  type: string
                                Timezone:
                                  type: string
                                WorkDay:
                                  type: array
                                  items:
                                    type: string
                                WorkingHour:
                                  type: object
                                  properties:
                                    From:
                                      type: string
                                    To:
                                      type: string
                                DefaultWorkdayTemplate:
                                  type: boolean
                            RelatedPlatformWorkdayTemplateId:
                              type: string
                              nullable: true
                            RelatedPlatformHolidayCalendarId:
                              type: string
                              nullable: true
                            NextResponseDetails:
                              type: string
                              nullable: true
                          description: An object containing the ticket's SLA tracking
                            details. See the SLA object table below.
                        Visited:
                          type: boolean
                          description: Indicates whether the ticket has been viewed.
                        GroupName:
                          type: string
                          description: 'The name of the service group assigned to
                            the ticket. '
                        Disposition:
                          type: boolean
                          description: Indicates whether the ticket has been disposed.
                        PrimaryTicket:
                          type: boolean
                          description: Indicates whether this is the primary ticket
                            in a merged ticket group.
                        ParentId:
                          type: integer
                          description: The numeric identifier of the parent ticket.
                        Parent:
                          type: boolean
                          description: Indicates whether this ticket is a parent ticket.
                        CustomerResponded:
                          type: boolean
                          description: Indicates whether the customer has responded
                            to the ticket.
                        ReOpenCount:
                          type: integer
                          description: The number of times the ticket has been reopened.
                        AgentEmailAddress:
                          type: string
                          description: The email address of the assigned agent.
                        EnrichStatus:
                          type: string
                          description: The status of the ticket's data enrichment
                            process (e.g., `COMPLETED`).
                        RelatedRequester:
                          type: string
                          description: The requester associated with the ticket. Returns
                            an empty string if not set.
                        Fcr:
                          type: string
                          description: The first contact resolution status of the
                            ticket (e.g., `Not Defined`).
                        TagNames:
                          type: array
                          items: {}
                          description: A list of tag name strings associated with
                            the ticket.
                    description: A list of ticket objects matching the search criteria.
                  OpportunityOverflown:
                    type: boolean
                    description: Indicates whether the number of associated opportunities
                      exceeded the retrieval limit.
              example:
                Total: 13
                FallBack: false
                ShowFallbackMessage: false
                Tickets:
                - Id: 52
                  TicketKey: '#052'
                  TicketId: 17414768-65cb-422e-9f51-568b84706705
                  Title: Update Phone Number
                  Description: 'null'
                  Channel: Chat
                  Status: Open
                  Priority: Low
                  Tags: []
                  CustomData:
                    SRC_CS_2: Online
                  RelatedCustomerId: 330fba67-6795-46c2-9dad-077794077f70
                  CustomerData:
                    FirstName: Wim
                    LastName: Wenders
                    Name: Wim Wenders
                    EmailAddress: vir.singh@leadsquared.com
                    Phone: +1-7777777777
                  RelatedServiceGroupId: 2
                  RelatedAgentId: c1826f52-ea88-11ee-9566-020f15161885
                  DueDate: '2024-08-07T09:52:13'
                  Spam: false
                  Deleted: false
                  Deletable: false
                  CreatedBy: Sri Sudhan
                  CreatedOn: '2024-08-06T09:52:13'
                  ModifiedBy: Automation
                  ModifiedOn: '2024-08-07T10:07:34'
                  AgentName: David Brent
                  Sla:
                    ActualResolutionDue: null
                    ActualFirstResponseDue: null
                    ActualNextResponseDue: null
                    FirstResponseBreached: true
                    ResolutionBreached: true
                    NextResponseBreached: false
                    FirstResponseEnabled: true
                    NextResponseEnabled: false
                    FirstResponseTemplate: OverDue
                    NextResponseTemplate: null
                    ResolutionTemplate: OverDue
                    ResolutionTag: Days
                    FirstResponseTag: Days
                    NextResponseTag: null
                    FirstResponseDifference: 387
                    ResolutionDifference: 386
                    NextResponseDifference: 0
                    Paused: false
                    TotalPauseDuration: 0
                    PauseDetails: null
                    TicketSla:
                    - SupposedResolutionDue: '2024-08-07T10:07:13.193Z'
                      SupposedFirstResponseDue: '2024-08-06T10:52:13.193Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: Low
                      Reminder: false
                      Escalation: false
                    - SupposedResolutionDue: '2024-08-06T22:07:13.193Z'
                      SupposedFirstResponseDue: '2024-08-06T10:37:13.193Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: Medium
                      Reminder: false
                      Escalation: false
                    - SupposedResolutionDue: '2024-08-06T15:52:13.193Z'
                      SupposedFirstResponseDue: '2024-08-06T10:22:13.193Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: High
                      Reminder: false
                      Escalation: false
                    - SupposedResolutionDue: '2024-08-06T12:52:13.193Z'
                      SupposedFirstResponseDue: '2024-08-06T10:07:13.193Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: Urgent
                      Reminder: false
                      Escalation: false
                    SlaId: 1
                    FirstResponseReminder: null
                    ResolutionReminder: null
                    NextResponseReminder: null
                    FirstResponseEscalation: null
                    ResolutionEscalation: null
                    NextResponseEscalation: null
                    WorkdayTemplate:
                      Id: '1'
                      Name: Calendar Hours
                      Timezone: Asia/Kolkata
                      WorkDay:
                      - Monday
                      - Tuesday
                      - Wednesday
                      - Thursday
                      - Friday
                      - Saturday
                      - Sunday
                      WorkingHour:
                        From: 00:00:00
                        To: '23:45:00'
                      DefaultWorkdayTemplate: false
                    RelatedPlatformWorkdayTemplateId: null
                    RelatedPlatformHolidayCalendarId: null
                    NextResponseDetails: null
                  Visited: true
                  GroupName: Delhi Region
                  Disposition: false
                  PrimaryTicket: false
                  ParentId: 46
                  Parent: false
                  CustomerResponded: false
                  ReOpenCount: 0
                  AgentEmailAddress: david.brent@whogg.com
                  EnrichStatus: COMPLETED
                  RelatedRequester: ''
                  Fcr: Not Defined
                  TagNames: []
                - Id: 51
                  TicketKey: '#051'
                  TicketId: bc703038-69b4-455d-b8e2-7f5ae49cd430
                  Title: Spam Ticket_2
                  Description: 'null'
                  Status: Open
                  Priority: Low
                  Tags: []
                  CustomData:
                    SRC_CS_2: Online
                  RelatedCustomerId: 68e7b35b-4cd4-4fc0-86a1-68bd6b2a639c
                  CustomerData:
                    ProspectID: 68e7b35b-4cd4-4fc0-86a1-68bd6b2a639c
                    FirstName: James
                    LastName: Nestor
                    Name: James Nestor
                  RelatedServiceGroupId: 2
                  RelatedAgentId: c1826f52-ea88-11ee-9566-020f15161885
                  DueDate: '2024-08-01T14:21:10'
                  Spam: true
                  Deleted: false
                  Deletable: false
                  CreatedBy: Sri Sudhan
                  CreatedOn: '2024-07-31T14:21:10'
                  ModifiedBy: Sri Sudhan
                  ModifiedOn: '2024-08-06T09:41:49'
                  AgentName: David Brent
                  Sla:
                    ActualResolutionDue: null
                    ActualFirstResponseDue: null
                    ActualNextResponseDue: null
                    FirstResponseBreached: true
                    ResolutionBreached: true
                    NextResponseBreached: false
                    FirstResponseEnabled: true
                    NextResponseEnabled: false
                    FirstResponseTemplate: OverDue
                    NextResponseTemplate: null
                    ResolutionTemplate: OverDue
                    ResolutionTag: Days
                    FirstResponseTag: Days
                    NextResponseTag: null
                    FirstResponseDifference: 393
                    ResolutionDifference: 392
                    NextResponseDifference: 0
                    Paused: false
                    TotalPauseDuration: 0
                    PauseDetails: null
                    TicketSla:
                    - SupposedResolutionDue: '2024-08-01T14:36:10.201Z'
                      SupposedFirstResponseDue: '2024-07-31T15:21:10.201Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: Low
                      Reminder: false
                      Escalation: false
                    - SupposedResolutionDue: '2024-08-01T02:36:10.201Z'
                      SupposedFirstResponseDue: '2024-07-31T15:06:10.201Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: Medium
                      Reminder: false
                      Escalation: false
                    - SupposedResolutionDue: '2024-07-31T20:36:10.201Z'
                      SupposedFirstResponseDue: '2024-07-31T14:51:10.201Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: High
                      Reminder: false
                      Escalation: false
                    - SupposedResolutionDue: '2024-07-31T17:21:10.201Z'
                      SupposedFirstResponseDue: '2024-07-31T14:36:10.201Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: Urgent
                      Reminder: false
                      Escalation: false
                    SlaId: 1
                    FirstResponseReminder: null
                    ResolutionReminder: null
                    NextResponseReminder: null
                    FirstResponseEscalation: null
                    ResolutionEscalation: null
                    NextResponseEscalation: null
                    WorkdayTemplate:
                      Id: '1'
                      Name: Calendar Hours
                      Timezone: Asia/Kolkata
                      WorkDay:
                      - Monday
                      - Tuesday
                      - Wednesday
                      - Thursday
                      - Friday
                      - Saturday
                      - Sunday
                      WorkingHour:
                        From: 00:00:00
                        To: '23:45:00'
                      DefaultWorkdayTemplate: false
                    RelatedPlatformWorkdayTemplateId: null
                    RelatedPlatformHolidayCalendarId: null
                    NextResponseDetails: null
                  Visited: true
                  GroupName: Delhi Region
                  Disposition: false
                  PrimaryTicket: false
                  Parent: false
                  CustomerResponded: false
                  ReOpenCount: 0
                  AgentEmailAddress: david.brent@whogg.com
                  InAssignmentQueue: false
                  EnrichStatus: COMPLETED
                  RelatedRequester: ''
                  Fcr: Not Defined
                  TagNames: []
                - Id: 47
                  TicketKey: '#047'
                  TicketId: 5f2285b2-cdc1-4481-85f7-479ff64556ad
                  Title: Unable to make payment
                  Description: 'null'
                  Channel: Portal
                  Type: General
                  Status: Open
                  Priority: Urgent
                  Tags: []
                  CustomData:
                    SRC_CS_2: Online
                  RelatedCustomerId: 8acc15c0-648b-424d-bc6b-6eaf57333563
                  CustomerData:
                    FirstName: Johnny
                    LastName: Rose
                    Name: Johnny Rose
                    EmailAddress: johnny@lsq.com
                    Phone: +91-1234567899
                  RelatedServiceGroupId: 2
                  RelatedAgentId: c1826f52-ea88-11ee-9566-020f15161885
                  DueDate: '2024-08-01T13:51:18'
                  Spam: false
                  Deleted: false
                  Deletable: false
                  CreatedBy: Sri Sudhan
                  CreatedOn: '2024-07-31T13:51:17'
                  ModifiedBy: Automation
                  ModifiedOn: '2024-07-31T16:51:38'
                  AgentName: David Brent
                  Sla:
                    ActualResolutionDue: null
                    ActualFirstResponseDue: null
                    ActualNextResponseDue: null
                    FirstResponseBreached: true
                    ResolutionBreached: true
                    NextResponseBreached: false
                    FirstResponseEnabled: true
                    NextResponseEnabled: false
                    FirstResponseTemplate: OverDue
                    NextResponseTemplate: null
                    ResolutionTemplate: OverDue
                    ResolutionTag: Days
                    FirstResponseTag: Days
                    NextResponseTag: null
                    FirstResponseDifference: 393
                    ResolutionDifference: 393
                    NextResponseDifference: 0
                    Paused: false
                    TotalPauseDuration: 0
                    PauseDetails: null
                    TicketSla:
                    - SupposedResolutionDue: '2024-08-01T14:06:17.628Z'
                      SupposedFirstResponseDue: '2024-07-31T14:51:17.628Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: Low
                      Reminder: false
                      Escalation: false
                    - SupposedResolutionDue: '2024-08-01T02:06:17.628Z'
                      SupposedFirstResponseDue: '2024-07-31T14:36:17.628Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: Medium
                      Reminder: false
                      Escalation: false
                    - SupposedResolutionDue: '2024-07-31T20:06:17.628Z'
                      SupposedFirstResponseDue: '2024-07-31T14:21:17.628Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: High
                      Reminder: false
                      Escalation: false
                    - SupposedResolutionDue: '2024-07-31T16:51:17.628Z'
                      SupposedFirstResponseDue: '2024-07-31T14:06:17.628Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: Urgent
                      Reminder: false
                      Escalation: false
                    SlaId: 1
                    FirstResponseReminder: null
                    ResolutionReminder: null
                    NextResponseReminder: null
                    FirstResponseEscalation: null
                    ResolutionEscalation: null
                    NextResponseEscalation: null
                    WorkdayTemplate:
                      Id: '1'
                      Name: Calendar Hours
                      Timezone: Asia/Kolkata
                      WorkDay:
                      - Monday
                      - Tuesday
                      - Wednesday
                      - Thursday
                      - Friday
                      - Saturday
                      - Sunday
                      WorkingHour:
                        From: 00:00:00
                        To: '23:45:00'
                      DefaultWorkdayTemplate: false
                    RelatedPlatformWorkdayTemplateId: null
                    RelatedPlatformHolidayCalendarId: null
                    NextResponseDetails: null
                  Visited: true
                  GroupName: Delhi Region
                  Disposition: false
                  PrimaryTicket: false
                  Parent: false
                  CustomerResponded: false
                  ReOpenCount: 0
                  AgentEmailAddress: david.brent@whogg.com
                  EnrichStatus: COMPLETED
                  RelatedRequester: ''
                  Fcr: Not Defined
                  TagNames: []
                - Id: 45
                  TicketKey: '#045'
                  TicketId: 9f487e82-170e-4916-a1f7-bd829838bebc
                  Title: Service unavailable
                  Description: 'null'
                  Channel: Email
                  Type: Problem
                  Status: Open
                  Priority: Medium
                  Tags: []
                  CustomData:
                    SRC_CS_2: Online
                  RelatedCustomerId: 5501cfea-34b3-4ce2-9eac-00715e7a9e70
                  CustomerData:
                    FirstName: Leia
                    LastName: Skywalker
                    Name: Leia Skywalker
                    EmailAddress: lst.hsr@gmail.com
                    Phone: +91-9566246465
                  RelatedServiceGroupId: 2
                  RelatedAgentId: c1826f52-ea88-11ee-9566-020f15161885
                  DueDate: '2024-07-31T10:33:20'
                  Spam: false
                  Deleted: false
                  Deletable: false
                  CreatedBy: Sri Sudhan
                  CreatedOn: '2024-07-30T10:33:19'
                  ModifiedBy: Automation
                  ModifiedOn: '2024-07-31T10:17:57'
                  AgentName: David Brent
                  Sla:
                    ActualResolutionDue: null
                    ActualFirstResponseDue: null
                    ActualNextResponseDue: null
                    FirstResponseBreached: true
                    ResolutionBreached: true
                    NextResponseBreached: false
                    FirstResponseEnabled: true
                    NextResponseEnabled: false
                    FirstResponseTemplate: OverDue
                    NextResponseTemplate: null
                    ResolutionTemplate: OverDue
                    ResolutionTag: Days
                    FirstResponseTag: Days
                    NextResponseTag: null
                    FirstResponseDifference: 394
                    ResolutionDifference: 394
                    NextResponseDifference: 0
                    Paused: false
                    TotalPauseDuration: 0
                    PauseDetails: null
                    TicketSla:
                    - SupposedResolutionDue: '2024-07-31T10:48:19.730Z'
                      SupposedFirstResponseDue: '2024-07-30T11:33:19.730Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: Low
                      Reminder: false
                      Escalation: false
                    - SupposedResolutionDue: '2024-07-30T22:48:19.730Z'
                      SupposedFirstResponseDue: '2024-07-30T11:18:19.730Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: Medium
                      Reminder: false
                      Escalation: false
                    - SupposedResolutionDue: '2024-07-30T16:33:19.730Z'
                      SupposedFirstResponseDue: '2024-07-30T11:03:19.730Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: High
                      Reminder: false
                      Escalation: false
                    - SupposedResolutionDue: '2024-07-30T13:33:19.730Z'
                      SupposedFirstResponseDue: '2024-07-30T10:48:19.730Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: Urgent
                      Reminder: false
                      Escalation: false
                    SlaId: 1
                    FirstResponseReminder: null
                    ResolutionReminder: null
                    NextResponseReminder: null
                    FirstResponseEscalation: null
                    ResolutionEscalation: null
                    NextResponseEscalation: null
                    WorkdayTemplate:
                      Id: '1'
                      Name: Calendar Hours
                      Timezone: Asia/Kolkata
                      WorkDay:
                      - Monday
                      - Tuesday
                      - Wednesday
                      - Thursday
                      - Friday
                      - Saturday
                      - Sunday
                      WorkingHour:
                        From: 00:00:00
                        To: '23:45:00'
                      DefaultWorkdayTemplate: false
                    RelatedPlatformWorkdayTemplateId: null
                    RelatedPlatformHolidayCalendarId: null
                    NextResponseDetails: null
                  Visited: true
                  GroupName: Delhi Region
                  Disposition: false
                  PrimaryTicket: false
                  Parent: false
                  CustomerResponded: false
                  ReOpenCount: 0
                  AgentEmailAddress: david.brent@whogg.com
                  EnrichStatus: COMPLETED
                  RelatedRequester: ''
                  Fcr: Not Defined
                  TagNames: []
                - Id: 38
                  TicketKey: '#038'
                  TicketId: 5f439a9a-1d5c-4b60-8cce-9a98e57deb42
                  Title: Payment Failure
                  Description: 'null'
                  Channel: Email
                  Status: Open
                  Priority: Low
                  Tags: []
                  CustomData:
                    SRC_CS_2: Online
                  RelatedCustomerId: 9e6ec6de-5a2a-4833-98c2-53145d6222f1
                  CustomerData:
                    FirstName: Shamar
                    LastName: Joseph
                    Name: Shamar Joseph
                    EmailAddress: srisudhanr@gmail.com
                  RelatedServiceGroupId: 2
                  RelatedAgentId: c1826f52-ea88-11ee-9566-020f15161885
                  DueDate: '2024-07-10T07:37:26'
                  Spam: false
                  Deleted: false
                  Deletable: false
                  CreatedBy: Sri Sudhan
                  CreatedOn: '2024-07-09T07:37:25'
                  ModifiedBy: Sri Sudhan
                  ModifiedOn: '2024-07-31T14:13:38'
                  AgentName: David Brent
                  Sla:
                    ActualResolutionDue: null
                    ActualFirstResponseDue: null
                    ActualNextResponseDue: null
                    FirstResponseBreached: true
                    ResolutionBreached: true
                    NextResponseBreached: false
                    FirstResponseEnabled: true
                    NextResponseEnabled: false
                    FirstResponseTemplate: OverDue
                    NextResponseTemplate: null
                    ResolutionTemplate: OverDue
                    ResolutionTag: Days
                    FirstResponseTag: Days
                    NextResponseTag: null
                    FirstResponseDifference: 416
                    ResolutionDifference: 415
                    NextResponseDifference: 0
                    Paused: false
                    TotalPauseDuration: 0
                    PauseDetails: null
                    TicketSla:
                    - SupposedResolutionDue: '2024-07-10T07:52:25.935Z'
                      SupposedFirstResponseDue: '2024-07-09T08:37:25.935Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: Low
                      Reminder: false
                      Escalation: false
                    - SupposedResolutionDue: '2024-07-09T19:52:25.935Z'
                      SupposedFirstResponseDue: '2024-07-09T08:22:25.935Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: Medium
                      Reminder: false
                      Escalation: false
                    - SupposedResolutionDue: '2024-07-09T13:37:25.935Z'
                      SupposedFirstResponseDue: '2024-07-09T08:07:25.935Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: High
                      Reminder: false
                      Escalation: false
                    - SupposedResolutionDue: '2024-07-09T10:37:25.935Z'
                      SupposedFirstResponseDue: '2024-07-09T07:52:25.935Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: Urgent
                      Reminder: false
                      Escalation: false
                    SlaId: 1
                    FirstResponseReminder: null
                    ResolutionReminder: null
                    NextResponseReminder: null
                    FirstResponseEscalation: null
                    ResolutionEscalation: null
                    NextResponseEscalation: null
                    WorkdayTemplate:
                      Id: '1'
                      Name: Calendar Hours
                      Timezone: Asia/Kolkata
                      WorkDay:
                      - Monday
                      - Tuesday
                      - Wednesday
                      - Thursday
                      - Friday
                      - Saturday
                      - Sunday
                      WorkingHour:
                        From: 00:00:00
                        To: '23:45:00'
                      DefaultWorkdayTemplate: false
                    RelatedPlatformWorkdayTemplateId: null
                    RelatedPlatformHolidayCalendarId: null
                    NextResponseDetails: null
                  Visited: true
                  GroupName: Delhi Region
                  Disposition: false
                  PrimaryTicket: false
                  Parent: false
                  CustomerResponded: false
                  ReOpenCount: 0
                  AgentEmailAddress: david.brent@whogg.com
                  EnrichStatus: COMPLETED
                  RelatedRequester: ''
                  Fcr: Not Defined
                  TagNames: []
                - Id: 37
                  TicketKey: '#037'
                  TicketId: d264a714-fb20-4744-8b78-fa5f738cd0bc
                  Title: Payment Failure
                  Description: 'null'
                  Channel: Email
                  Status: Open
                  Priority: Low
                  Tags: []
                  CustomData:
                    SRC_CS_2: Online
                  RelatedCustomerId: 9e6ec6de-5a2a-4833-98c2-53145d6222f1
                  CustomerData:
                    FirstName: Shamar
                    LastName: Joseph
                    Name: Shamar Joseph
                    EmailAddress: srisudhanr@gmail.com
                  RelatedServiceGroupId: 2
                  RelatedAgentId: c1826f52-ea88-11ee-9566-020f15161885
                  DueDate: '2024-07-10T07:32:25'
                  Spam: false
                  Deleted: false
                  Deletable: false
                  CreatedBy: Sri Sudhan
                  CreatedOn: '2024-07-09T07:32:24'
                  ModifiedBy: Sri Sudhan
                  ModifiedOn: '2024-07-31T14:13:38'
                  AgentName: David Brent
                  Sla:
                    ActualResolutionDue: null
                    ActualFirstResponseDue: null
                    ActualNextResponseDue: null
                    FirstResponseBreached: false
                    ResolutionBreached: false
                    NextResponseBreached: false
                    FirstResponseEnabled: true
                    NextResponseEnabled: false
                    FirstResponseTemplate: OverDue
                    NextResponseTemplate: null
                    ResolutionTemplate: OverDue
                    ResolutionTag: Days
                    FirstResponseTag: Days
                    NextResponseTag: null
                    FirstResponseDifference: 416
                    ResolutionDifference: 415
                    NextResponseDifference: 0
                    Paused: false
                    TotalPauseDuration: 0
                    PauseDetails: null
                    TicketSla:
                    - SupposedResolutionDue: '2024-07-10T07:47:24.609Z'
                      SupposedFirstResponseDue: '2024-07-09T08:32:24.609Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: Low
                      Reminder: false
                      Escalation: false
                    - SupposedResolutionDue: '2024-07-09T19:47:24.609Z'
                      SupposedFirstResponseDue: '2024-07-09T08:17:24.609Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: Medium
                      Reminder: false
                      Escalation: false
                    - SupposedResolutionDue: '2024-07-09T13:32:24.609Z'
                      SupposedFirstResponseDue: '2024-07-09T08:02:24.609Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: High
                      Reminder: false
                      Escalation: false
                    - SupposedResolutionDue: '2024-07-09T10:32:24.609Z'
                      SupposedFirstResponseDue: '2024-07-09T07:47:24.609Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: Urgent
                      Reminder: false
                      Escalation: false
                    SlaId: 1
                    FirstResponseReminder: null
                    ResolutionReminder: null
                    NextResponseReminder: null
                    FirstResponseEscalation: null
                    ResolutionEscalation: null
                    NextResponseEscalation: null
                    WorkdayTemplate:
                      Id: '1'
                      Name: Calendar Hours
                      Timezone: Asia/Kolkata
                      WorkDay:
                      - Monday
                      - Tuesday
                      - Wednesday
                      - Thursday
                      - Friday
                      - Saturday
                      - Sunday
                      WorkingHour:
                        From: 00:00:00
                        To: '23:45:00'
                      DefaultWorkdayTemplate: false
                    RelatedPlatformWorkdayTemplateId: null
                    RelatedPlatformHolidayCalendarId: null
                    NextResponseDetails: null
                  Visited: true
                  GroupName: Delhi Region
                  Disposition: false
                  PrimaryTicket: false
                  Parent: false
                  CustomerResponded: false
                  ReOpenCount: 0
                  AgentEmailAddress: david.brent@whogg.com
                  EnrichStatus: COMPLETED
                  RelatedRequester: ''
                  Fcr: Not Defined
                  TagNames: []
                - Id: 36
                  TicketKey: '#036'
                  TicketId: a0a249c6-d12b-49c3-a2b3-b10953254a74
                  Title: Payment Failure
                  Description: 'null'
                  Channel: Email
                  Status: Open
                  Priority: Low
                  Tags: []
                  CustomData:
                    SRC_CS_2: Online
                  RelatedCustomerId: e9783ae9-6767-4387-acc3-25b2d3c9222e
                  CustomerData:
                    FirstName: Oshin
                    LastName: Anand
                    Name: Oshin Anand
                    EmailAddress: oshinanandmedia@gmail.com
                  RelatedAgentId: c1826f52-ea88-11ee-9566-020f15161885
                  DueDate: '2024-07-10T07:26:23'
                  Spam: false
                  Deleted: false
                  Deletable: false
                  CreatedBy: Sri Sudhan
                  CreatedOn: '2024-07-09T07:26:22'
                  ModifiedBy: Webhook
                  ModifiedOn: '2024-09-20T14:31:23'
                  AgentName: David Brent
                  Sla:
                    ActualResolutionDue: null
                    ActualFirstResponseDue: null
                    ActualNextResponseDue: null
                    FirstResponseBreached: true
                    ResolutionBreached: true
                    NextResponseBreached: false
                    FirstResponseEnabled: true
                    NextResponseEnabled: false
                    FirstResponseTemplate: OverDue
                    NextResponseTemplate: null
                    ResolutionTemplate: OverDue
                    ResolutionTag: Days
                    FirstResponseTag: Days
                    NextResponseTag: null
                    FirstResponseDifference: 416
                    ResolutionDifference: 415
                    NextResponseDifference: 0
                    Paused: false
                    TotalPauseDuration: 0
                    PauseDetails: null
                    TicketSla:
                    - SupposedResolutionDue: '2024-07-10T07:41:22.712Z'
                      SupposedFirstResponseDue: '2024-07-09T08:26:22.712Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: Low
                      Reminder: false
                      Escalation: false
                    - SupposedResolutionDue: '2024-07-09T19:41:22.712Z'
                      SupposedFirstResponseDue: '2024-07-09T08:11:22.712Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: Medium
                      Reminder: false
                      Escalation: false
                    - SupposedResolutionDue: '2024-07-09T13:26:22.712Z'
                      SupposedFirstResponseDue: '2024-07-09T07:56:22.712Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: High
                      Reminder: false
                      Escalation: false
                    - SupposedResolutionDue: '2024-07-09T10:26:22.712Z'
                      SupposedFirstResponseDue: '2024-07-09T07:41:22.712Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: Urgent
                      Reminder: false
                      Escalation: false
                    SlaId: 1
                    FirstResponseReminder: null
                    ResolutionReminder: null
                    NextResponseReminder: null
                    FirstResponseEscalation: null
                    ResolutionEscalation: null
                    NextResponseEscalation: null
                    WorkdayTemplate:
                      Id: '1'
                      Name: Calendar Hours
                      Timezone: Asia/Kolkata
                      WorkDay:
                      - Monday
                      - Tuesday
                      - Wednesday
                      - Thursday
                      - Friday
                      - Saturday
                      - Sunday
                      WorkingHour:
                        From: 00:00:00
                        To: '23:45:00'
                      DefaultWorkdayTemplate: false
                    RelatedPlatformWorkdayTemplateId: null
                    RelatedPlatformHolidayCalendarId: null
                    NextResponseDetails: null
                  Visited: true
                  Disposition: false
                  PrimaryTicket: false
                  Parent: false
                  CustomerResponded: false
                  IsFirstResponseEscalated: false
                  IsResolutionEscalated: false
                  ReOpenCount: 0
                  AgentEmailAddress: david.brent@whogg.com
                  EnrichStatus: COMPLETED
                  RelatedRequester: ''
                  Fcr: Not Defined
                  TagNames: []
                - Id: 35
                  TicketKey: '#035'
                  TicketId: 3316649f-ac2c-4359-9f2c-a57e6ce4a3cf
                  Title: Payment Failure
                  Description: 'null'
                  Status: Open
                  Priority: Low
                  Tags: []
                  CustomData:
                    SRC_CS_2: Online
                  RelatedCustomerId: e9783ae9-6767-4387-acc3-25b2d3c9222e
                  CustomerData:
                    FirstName: Oshin
                    LastName: Anand
                    Name: Oshin Anand
                    EmailAddress: oshinanandmedia@gmail.com
                  RelatedAgentId: c1826f52-ea88-11ee-9566-020f15161885
                  DueDate: '2024-07-10T07:22:27'
                  Spam: false
                  Deleted: false
                  Deletable: false
                  CreatedBy: Sri Sudhan
                  CreatedOn: '2024-07-09T07:22:26'
                  ModifiedBy: Sri Sudhan
                  ModifiedOn: '2024-07-31T14:52:49'
                  AgentName: David Brent
                  Sla:
                    ActualResolutionDue: null
                    ActualFirstResponseDue: null
                    ActualNextResponseDue: null
                    FirstResponseBreached: true
                    ResolutionBreached: true
                    NextResponseBreached: false
                    FirstResponseEnabled: true
                    NextResponseEnabled: false
                    FirstResponseTemplate: OverDue
                    NextResponseTemplate: null
                    ResolutionTemplate: OverDue
                    ResolutionTag: Days
                    FirstResponseTag: Days
                    NextResponseTag: null
                    FirstResponseDifference: 416
                    ResolutionDifference: 415
                    NextResponseDifference: 0
                    Paused: false
                    TotalPauseDuration: 0
                    PauseDetails: null
                    TicketSla:
                    - SupposedResolutionDue: '2024-07-10T07:37:26.618Z'
                      SupposedFirstResponseDue: '2024-07-09T08:22:26.618Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: Low
                      Reminder: false
                      Escalation: false
                    - SupposedResolutionDue: '2024-07-09T19:37:26.618Z'
                      SupposedFirstResponseDue: '2024-07-09T08:07:26.618Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: Medium
                      Reminder: false
                      Escalation: false
                    - SupposedResolutionDue: '2024-07-09T13:22:26.618Z'
                      SupposedFirstResponseDue: '2024-07-09T07:52:26.618Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: High
                      Reminder: false
                      Escalation: false
                    - SupposedResolutionDue: '2024-07-09T10:22:26.618Z'
                      SupposedFirstResponseDue: '2024-07-09T07:37:26.618Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: Urgent
                      Reminder: false
                      Escalation: false
                    SlaId: 1
                    FirstResponseReminder: null
                    ResolutionReminder: null
                    NextResponseReminder: null
                    FirstResponseEscalation: null
                    ResolutionEscalation: null
                    NextResponseEscalation: null
                    WorkdayTemplate:
                      Id: '1'
                      Name: Calendar Hours
                      Timezone: Asia/Kolkata
                      WorkDay:
                      - Monday
                      - Tuesday
                      - Wednesday
                      - Thursday
                      - Friday
                      - Saturday
                      - Sunday
                      WorkingHour:
                        From: 00:00:00
                        To: '23:45:00'
                      DefaultWorkdayTemplate: false
                    RelatedPlatformWorkdayTemplateId: null
                    RelatedPlatformHolidayCalendarId: null
                    NextResponseDetails: null
                  Visited: true
                  Disposition: false
                  PrimaryTicket: false
                  Parent: false
                  CustomerResponded: false
                  ReOpenCount: 0
                  AgentEmailAddress: david.brent@whogg.com
                  EnrichStatus: COMPLETED
                  RelatedRequester: ''
                  Fcr: Not Defined
                  TagNames: []
                - Id: 10
                  TicketKey: '#010'
                  TicketId: f90ffc7b-0891-44c5-873c-e7595d2bde16
                  Title: escalation
                  Channel: Email
                  Status: Open
                  Priority: Urgent
                  Tags: []
                  CustomData:
                    SRC_CS_2: Online
                  RelatedCustomerId: 133cf992-2e7b-472a-9780-4b376e8ac6ac
                  CustomerData:
                    FirstName: Mandhi
                    LastName: King
                    Name: Mandhi King
                    EmailAddress: mandhhi@myleadsquared.com
                    Phone: '8888888000'
                  RelatedAgentId: efe84e80-c74e-11ee-9566-020f15161885
                  DueDate: '2024-03-27T17:41:48'
                  Spam: false
                  Deleted: true
                  Deletable: false
                  CreatedBy: tejas
                  CreatedOn: '2024-03-26T17:41:47'
                  ModifiedBy: Sri Sudhan
                  ModifiedOn: '2024-04-04T14:10:06'
                  AgentName: tejas
                  Sla:
                    ActualResolutionDue: null
                    ActualFirstResponseDue: null
                    ActualNextResponseDue: null
                    FirstResponseBreached: true
                    ResolutionBreached: true
                    NextResponseBreached: false
                    FirstResponseEnabled: null
                    NextResponseEnabled: false
                    FirstResponseTemplate: OverDue
                    NextResponseTemplate: null
                    ResolutionTemplate: OverDue
                    ResolutionTag: Days
                    FirstResponseTag: Days
                    NextResponseTag: null
                    FirstResponseDifference: 520
                    ResolutionDifference: 520
                    NextResponseDifference: 0
                    Paused: false
                    TotalPauseDuration: 0
                    PauseDetails: null
                    TicketSla:
                    - SupposedResolutionDue: '2024-03-27T17:56:47.742Z'
                      SupposedFirstResponseDue: '2024-03-26T18:56:47.742Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: Low
                      Reminder: false
                      Escalation: false
                    - SupposedResolutionDue: '2024-03-27T05:56:47.742Z'
                      SupposedFirstResponseDue: '2024-03-26T18:41:47.742Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: Medium
                      Reminder: false
                      Escalation: false
                    - SupposedResolutionDue: '2024-03-26T23:56:47.742Z'
                      SupposedFirstResponseDue: '2024-03-26T18:11:47.742Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: High
                      Reminder: false
                      Escalation: false
                    - SupposedResolutionDue: '2024-03-26T17:44:47.742Z'
                      SupposedFirstResponseDue: '2024-03-26T17:43:47.742Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: Urgent
                      Reminder: true
                      Escalation: true
                    SlaId: 1
                    FirstResponseReminder: null
                    ResolutionReminder: null
                    NextResponseReminder: null
                    FirstResponseEscalation:
                    - RemindTime: '2024-03-26T17:44:47.742Z'
                      RelatedAgentIds:
                      - Ticket Owner
                      Level: 1
                      ConfiguredDuration: 0
                    - RemindTime: '2024-03-26T17:54:47.742Z'
                      RelatedAgentIds:
                      - Ticket Owner
                      Level: 2
                      ConfiguredDuration: 10
                    ResolutionEscalation:
                    - RemindTime: '2024-03-26T17:44:47.742Z'
                      RelatedAgentIds:
                      - Ticket Owner
                      Level: 1
                      ConfiguredDuration: 0
                    - RemindTime: '2024-03-26T17:54:47.742Z'
                      RelatedAgentIds:
                      - Ticket Owner
                      Level: 2
                      ConfiguredDuration: 10
                    NextResponseEscalation: null
                    WorkdayTemplate:
                      Id: '1'
                      Name: Calendar Hours
                      Timezone: Asia/Kolkata
                      WorkDay:
                      - Monday
                      - Tuesday
                      - Wednesday
                      - Thursday
                      - Friday
                      - Saturday
                      - Sunday
                      WorkingHour:
                        From: 00:00:00
                        To: '23:45:00'
                      DefaultWorkdayTemplate: false
                    RelatedPlatformWorkdayTemplateId: null
                    RelatedPlatformHolidayCalendarId: null
                    NextResponseDetails: null
                  Visited: true
                  Disposition: false
                  PrimaryTicket: false
                  Parent: false
                  CustomerResponded: false
                  EscalatedTo:
                  - Ticket Owner
                  IsFirstResponseEscalated: true
                  IsResolutionEscalated: true
                  ReOpenCount: 0
                  AgentEmailAddress: tejas.22284@lsqdev.in
                  EnrichStatus: COMPLETED
                  RelatedRequester: ''
                  TagNames: []
                - Id: 9
                  TicketKey: '#009'
                  TicketId: b868616c-a443-48b0-9280-b4389b470533
                  Title: escalation check1
                  Status: Open
                  Priority: Low
                  Tags: []
                  CustomData:
                    SRC_CS_2: Online
                  RelatedCustomerId: 133cf992-2e7b-472a-9780-4b376e8ac6ac
                  CustomerData:
                    FirstName: Mandhi
                    LastName: King
                    Name: Mandhi King
                    EmailAddress: mandhhi@myleadsquared.com
                    Phone: '8888888000'
                  RelatedAgentId: efe84e80-c74e-11ee-9566-020f15161885
                  DueDate: '2024-03-27T04:54:03'
                  Spam: false
                  Deleted: true
                  Deletable: false
                  CreatedBy: tejas
                  CreatedOn: '2024-03-26T04:54:03'
                  ModifiedBy: Sri Sudhan
                  ModifiedOn: '2024-04-04T14:10:06'
                  AgentName: tejas
                  Sla:
                    ActualResolutionDue: null
                    ActualFirstResponseDue: null
                    ActualNextResponseDue: null
                    FirstResponseBreached: true
                    ResolutionBreached: true
                    NextResponseBreached: false
                    FirstResponseEnabled: null
                    NextResponseEnabled: false
                    FirstResponseTemplate: OverDue
                    NextResponseTemplate: null
                    ResolutionTemplate: OverDue
                    ResolutionTag: Days
                    FirstResponseTag: Days
                    NextResponseTag: null
                    FirstResponseDifference: 521
                    ResolutionDifference: 520
                    NextResponseDifference: 0
                    Paused: false
                    TotalPauseDuration: 0
                    PauseDetails: null
                    TicketSla:
                    - SupposedResolutionDue: '2024-03-27T05:09:03.260Z'
                      SupposedFirstResponseDue: '2024-03-26T05:54:03.260Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: Low
                      Reminder: false
                      Escalation: false
                    - SupposedResolutionDue: '2024-03-26T16:54:03.260Z'
                      SupposedFirstResponseDue: '2024-03-26T05:39:03.260Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: Medium
                      Reminder: false
                      Escalation: false
                    - SupposedResolutionDue: '2024-03-26T10:54:03.260Z'
                      SupposedFirstResponseDue: '2024-03-26T05:24:03.260Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: High
                      Reminder: false
                      Escalation: false
                    - SupposedResolutionDue: '2024-03-26T04:57:03.260Z'
                      SupposedFirstResponseDue: '2024-03-26T04:56:03.260Z'
                      SupposedNextResponseDue: null
                      NextResponseDueString: null
                      FirstResponseDueString: null
                      ResolutionDueString: null
                      NextResponseDuration: null
                      Priority: Urgent
                      Reminder: true
                      Escalation: true
                    SlaId: 1
                    FirstResponseReminder: null
                    ResolutionReminder: null
                    NextResponseReminder: null
[...]
