{
  "openapi": "3.0.3",
  "info": {
    "title": "LeadSquared Sales - Upload and attach a file",
    "version": "1.0.0",
    "description": "Generated by postman_to_openapi 1.0.0"
  },
  "servers": [
    {
      "description": "Singapore",
      "url": "https://files.leadsquared.com/"
    },
    {
      "description": "United States",
      "url": "https://files-us11.leadsquared.com/"
    },
    {
      "description": "India",
      "url": "https://files-in21.leadsquared.com/"
    },
    {
      "description": "Ireland",
      "url": "https://files-ir31.leadsquared.com/"
    },
    {
      "description": "Canada",
      "url": "https://files-ca12.leadsquared.com/"
    },
    {
      "description": "India Hyderabad",
      "url": "https://files-in22.leadsquared.com/"
    },
    {
      "description": "Dubai",
      "url": "https://files-me61.leadsquared.com/"
    }
  ],
  "tags": [
    {
      "name": "Root"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Root APIs > Root",
      "tags": [
        "Root"
      ]
    }
  ],
  "paths": {
    "/File/Upload": {
      "post": {
        "summary": "Upload File Copy",
        "operationId": "upload-file-copy",
        "tags": [
          "Root"
        ],
        "responses": {
          "200": {
            "description": "Upload File",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Status": {
                      "type": "string",
                      "description": "Indicates the result of the request."
                    },
                    "uploadedFile": {
                      "type": "string",
                      "description": "The file name of the uploaded file, including its extension."
                    },
                    "relativeFilePath": {
                      "type": "string",
                      "description": "The relative path of the uploaded file."
                    },
                    "s3FilePath": {
                      "type": "string",
                      "description": "The pre-signed URL to access the uploaded file from cloud storage."
                    },
                    "description": {
                      "type": "string",
                      "nullable": true,
                      "description": "The description of the uploaded file. Returns `null` if no description is provided."
                    }
                  }
                },
                "example": {
                  "Status": "Success",
                  "uploadedFile": "e11e192f.jpg",
                  "relativeFilePath": "//e11e192f.jpg",
                  "s3FilePath": "https://lsq-private-storage-mum-prod.s3.ap-south-1.amazonaws.com/temporary/t/t20200302171805/module/customobject/e11e192f.jpg?X-Amz-Expires=1800&X-Amz-Algorithm",
                  "description": null
                }
              }
            }
          }
        },
        "description": "Uploads a file to your LeadSquared account. Returns the file name in the `uploadedFile` response parameter.\n\nWe recommend uploading files to leads or activities via associated [Custom Field Sets](https://help.leadsquared.com/custom-field-set/).\n\nOnce the file has been uploaded successfully –\n\n- To attach the file to a specific lead, pass the file name returned from the `uploadedFile` parameter in a file-type CFS field associated with a lead.\n    \n- To attach the file to a specific activity pass the file name returned from the `uploadedFile` parameter\n    \n    - In a file-type CFS field associated with an activity.\n        \n    - As an activity note.\n        \n\n**Note:** The Upload File API currently supports uploading **only one file per request**. If multiple files are included in a single request, then **only the last file** in the request will be uploaded. To upload multiple files, you can:\n\n- **Zip the files** into a single archive and upload that.\n    \n- **Make multiple API calls**, one for each file.\n    \n\n## API URL\n\nUse the URL specific to your region.\n\n| **Region** | **Request URL** |\n| --- | --- |\n| Singapore | `https://files.leadsquared.com/File/Upload` |\n| United States | `https://files-us11.leadsquared.com/File/Upload` |\n| India | `https://files-in21.leadsquared.com/File/Upload` |\n| Ireland | `https://files-ir31.leadsquared.com/File/Upload` |\n| Canada | `https://files-ca12.leadsquared.com/File/Upload` |\n| India (Hyderabad) | `https://files-in22.leadsquared.com/File/Upload` |\n| Dubai | `https://files-me61.leadsquared.com/File/Upload` |\n\n## Payload\n\n`Content-Type: Multipart/form-data`\n\n| **Parameter** | **Description** | **Data Type** | **Required** |\n| --- | --- | --- | --- |\n| `uploadFiles` | The file you want to upload . | `File` | Yes |\n| `FileType` | `0` = Document.  <br>`1` = Image.  <br>`3` = Lead Attachment.  <br>`7` = Custom Field Set Document. | `Integer` | Yes |\n| `AccessKey` | Access Key of your LeadSquared account. | `String` | Yes |\n| `SecretKey` | Secret Key of your LeadSquared account . | `String` | Yes |\n| `FileStorageType` | `0` = Permanent.  <br>`1` = Temporary. | `Integer` | Yes |\n| `EnableResize` | `true` or `false`  <br>  <br>Always set to `false` for Custom Field Sets | `Boolean` | Yes |\n| `Id` | Pass the Lead Id if Entity is lead.  <br>  <br>Pass the Opportunity Event Code if Entity is opportunity.  <br>  <br>Pass the Activity Event Code if the entity is activity. | `String` | Yes |\n| `SchemaName` | Schema name of the file-type field within the custom field set. | `String` | Yes |\n| `EntitySchemaName` | Schema name of the lead/activity field with which the custom field set is associated. | `String` | Yes |\n| `Entity` | `0` = Lead.  <br>`1` = Activity/Opportunity.  <br>  <br>This is dependent on the Id that’s being passed. If you pass the Activity Event Code as the Id, and then pass 1 as the Entity, the corresponding activity is updated. Similarly, if you pass the Opportunity Event Code as the Id, and then pass 1 as the Entity, the corresponding opportunity is updated. | `Integer` | Yes |\n| `StorageVersion` | The storage version configured.  <br>`0` is the default LeadSquared configuration  <br>  <br>If you have your own storage configured, pass the value associated with it. For more information, contact your account manager. | `Integer` | Yes |\n\n## Next Steps\n\nYou can now add the uploaded file to a CFS associated with a lead (for example, by calling [Create a Lead](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/xzykexe/create-a-lead?action=share&source=copy-link&creator=39502170&ctx=documentation), [Update a Lead](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/sab2t0p/update-a-lead?action=share&source=copy-link&creator=39502170&ctx=documentation), etc.), or with an activity (for example, by calling Post Activity on Lead API, [Update an Activity](https://www.postman.com/leadsquaredapi/leadsquared-public-apis/request/c5r3e5a/update-an-activity?action=share&source=copy-link&creator=39502170&ctx=documentation), etc.).\n\nIn the request body, pass `uploadedFile` from this response (file name) in the required CFS file-type field.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "uploadFiles": {
                    "type": "string",
                    "description": "The file you want to upload.",
                    "format": "binary"
                  },
                  "FileType": {
                    "type": "integer",
                    "description": "`0` = Document.  \n`1` = Image.  \n`3` = Lead Attachment.  \n`7` = Custom Field Set Document."
                  },
                  "AccessKey": {
                    "type": "string",
                    "description": "Access Key of your LeadSquared account."
                  },
                  "SecretKey": {
                    "type": "string",
                    "description": "Secret Key of your LeadSquared account ."
                  },
                  "FileStorageType": {
                    "type": "integer",
                    "description": "`0` = Permanent.  \n`1` = Temporary."
                  },
                  "EnableResize": {
                    "type": "boolean",
                    "description": "`true` or `false`  \n  \nAlways set to `false` for Custom Field Sets."
                  },
                  "Id": {
                    "type": "string",
                    "description": "Pass the Lead Id if Entity is lead.  \n  \nPass the Opportunity Event Code if Entity is opportunity.  \n  \nPass the Activity Event Code if the entity is activity."
                  },
                  "SchemaName": {
                    "type": "string",
                    "description": "Schema name of the file-type field within the custom field set."
                  },
                  "EntitySchemaName": {
                    "type": "string",
                    "description": "Schema name of the lead/activity field with which the custom field set is associated."
                  },
                  "Entity": {
                    "type": "string",
                    "description": "`0` = Lead.  \n`1` = Activity/Opportunity.  \n  \nThis is dependent on the Id that’s being passed. If you pass the Activity Event Code as the Id, and then pass `1` as the Entity, the corresponding activity is updated. Similarly, if you pass the Opportunity Event Code as the Id, and then pass `1` as the Entity, the corresponding opportunity is updated."
                  },
                  "StorageVersion": {
                    "type": "string",
                    "description": "The storage version configured.  \n`0` is the default LeadSquared configuration  \n  \nIf you have your own storage configured, pass the value associated with it. For more information, contact your account manager."
                  }
                },
                "required": [
                  "uploadFiles",
                  "FileType",
                  "AccessKey",
                  "SecretKey",
                  "FileStorageType",
                  "Id",
                  "SchemaName",
                  "EntitySchemaName",
                  "StorageVersion",
                  "Entity"
                ]
              },
              "example": {
                "uploadFiles": null,
                "FileType": "7",
                "AccessKey": "{{OppAccessKey}}",
                "SecretKey": "{{OppSecretKey}}",
                "FileStorageType": "0",
                "EnableResize": "false",
                "Id": "12000",
                "SchemaName": "mx_CustomObject_3",
                "EntitySchemaName": "mx_Custom_14",
                "Entity": "1",
                "StorageVersion": "0"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AccessKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-LSQ-AccessKey",
        "description": "The `AccessKey` can be obtained on your LeadSquared dashboard. Navigate to **My Account>Settings>API and Webhooks>API Access Keys** section. "
      },
      "SecretKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-LSQ-SecretKey",
        "description": "The `SecretKey` can be obtained on your LeadSquared dashboard. Navigate to **My Account>Settings>API and Webhooks>API Access Keys** section. "
      }
    }
  },
  "x-readme": {},
  "security": [
    {
      "AccessKey": [],
      "SecretKey": []
    }
  ]
}